Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


fix(smart): use Contracts EventDispatcherInterface to match kernel
  src/RestControllers/SMART/SMARTAuthorizationController.php
Due: composer-require-checker

fix(auth): specify array value type in parsedBody annotation
  src/RestControllers/AuthorizationController.php
Due: composer-require-checker

remove extraneous space
  src/Cqm/Qdm/QDMBaseType.php
Due: composer-require-checker

PHPCS
  src/Core/OEHttpKernel.php
  src/RestControllers/SMART/SMARTAuthorizationController.php
Due: composer-require-checker

fix(ci): use AsCommand attribute for Symfony Console 7.x
  ci/convert-coverage
Due: none

chore(cqm): Remove dead Results class
  src/Cqm/Results.php
Due: composer-require-checker

fix(cqm): Restore exception on unknown properties in AbstractType
  src/Cqm/Qdm/BaseTypes/AbstractType.php
  tests/Tests/Isolated/Cqm/Qdm/BaseTypes/AbstractTypeTest.php
Due: composer-require-checker

Add the dependency
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Config baseline concept
  config/services.php
Due: composer-require-checker

refactor(cqm): Remove strict_types from modified files
  src/Cqm/Qdm/BaseTypes/AbstractType.php
  src/Cqm/Qdm/BaseTypes/Address.php
  src/Cqm/Qdm/BaseTypes/Any.php
  src/Cqm/Qdm/BaseTypes/Code.php
  src/Cqm/Qdm/BaseTypes/DateTime.php
  src/Cqm/Qdm/BaseTypes/Interval.php
  src/Cqm/Qdm/BaseTypes/Quantity.php
  src/Cqm/Qdm/BaseTypes/Telcom.php
  src/Services/Qrda/Util/DateHelper.php
Due: composer-require-checker

Rough storage manager
  src/Services/Storage/Location.php
  src/Services/Storage/Manager.php
Due: composer-require-checker

Draft a readme
  src/Services/Storage/Location.php
  src/Services/Storage/Manager.php
  src/Services/Storage/README.md
Due: composer-require-checker

fix: address Copilot review — safer fgets loops and resource cleanup
  controllers/C_Prescription.class.php
  library/smarty_legacy/smarty/plugins/function.fetch.php
Due: composer-require-checker

fix: use strict false check in clickatell fgets loop
  modules/sms_email_reminder/sms_clickatell.php
Due: composer-require-checker

fix(tests) proper login procedure.
  tests/Tests/E2e/GgUserMenuLinksTest.php
  tests/Tests/E2e/KkEncounterFormNavbarUrlTest.php
Due: composer-require-checker

refactor(cdr): narrow type instead of casting in render_select
  .phpstan/baseline/cast.string.php
  src/ClinicalDecisionRules/Interface/RuleTemplateExtension.php
Due: composer-require-checker

Add memory provider for tests
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Manager/registry build-out and interface
  src/Services/Storage/Manager.php
  src/Services/Storage/ManagerInterface.php
Due: composer-require-checker

Test the manager
  tests/Tests/Isolated/Services/Storage/ManagerTest.php
Due: composer-require-checker

refactor(di): Cache service instances in ServiceContainer
  src/BC/ServiceContainer.php
  tests/Tests/Isolated/BC/ServiceContainerTest.php
Due: composer-require-checker

feat(storage): Wire storage manager into ServiceContainer
  src/BC/ServiceContainer.php
  src/Services/Storage/Location.php
Due: composer-require-checker

Keep accessors sorted
  src/BC/ServiceContainer.php
Due: composer-require-checker

Rename accessor for clarity
  src/BC/ServiceContainer.php
Due: composer-require-checker

Update DI
  config/services.php
Due: composer-require-checker

Tidy tests
  tests/Tests/Isolated/Services/Storage/ManagerTest.php
Due: composer-require-checker

Tidy things up
  config/runtime.php
  config/services.php
Due: composer-require-checker

refactor(billing): migrate BillingLogger to Flysystem storage abstraction
  src/Billing/BillingProcessor/BillingLogger.php
  tests/Tests/Isolated/Billing/BillingLoggerTest.php
Due: composer-require-checker

chore: fix CI issues
  composer.json
  composer.lock
  config/runtime.php
  src/Services/Storage/README.md
Due: composer-validate, composer-normalize, composer-require-checker

fix: address Rector and PHPStan CI issues
  src/Billing/BillingProcessor/BillingLogger.php
  tests/Tests/Isolated/Services/Storage/ManagerTest.php
Due: composer-require-checker

Fixed a couple baselined issues
  .phpstan/baseline/assign.propertyType.php
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/deadCode.unreachable.php
  .phpstan/baseline/isset.property.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/missingType.property.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
Due: composer-require-checker

phpcs
  tests/Tests/Isolated/Services/Storage/ManagerTest.php
Due: composer-require-checker

ci: pin Docker images by digest and add Dependabot for CI images
  .github/dependabot.yml
  ci/README.md
  ci/apache_82_118/docker-compose.yml
  ci/apache_83_118/docker-compose.yml
  ci/apache_84_118/docker-compose.yml
  ci/apache_85_1011/docker-compose.yml
  ci/apache_85_106/docker-compose.yml
  ci/apache_85_114/docker-compose.yml
  ci/apache_85_118/docker-compose.yml
  ci/apache_85_120/docker-compose.yml
  ci/apache_85_57/docker-compose.yml
  ci/apache_85_80/docker-compose.yml
  ci/apache_85_84/docker-compose.yml
  ci/apache_85_93/docker-compose.yml
  ci/compose-shared-mailpit/compose.yml
  ci/compose-shared-nginx/compose.yml
  ci/compose-shared-selenium/docker-compose.yml
  ci/inferno/compose.yml
  ci/nginx_82/docker-compose.yml
  ci/nginx_83/docker-compose.yml
  ci/nginx_84/docker-compose.yml
  ci/nginx_85/docker-compose.yml
  ci/nginx_86/docker-compose.yml
  ci/parse_docker_dir.sh
Due: none

docs(ci): update README COMPOSE_FILE ordering to match script
  ci/README.md
Due: none

docs(ci): add mailpit to shared configs list and fix list formatting
  ci/README.md
Due: none

chore(ci): bump mariadb to 12.2
  .github/dependabot.yml
  .github/workflows/test.yml
  ci/apache_85_122/docker-compose.yml
Due: none

ci(deps): ignore version bumps for CI images pinned to specific versions
  .github/dependabot.yml
Due: none
