Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

refactor(patientflowboard): move event subscriber out of zend_modules
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/method.childReturnType.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/missingType.parameter.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/globals.php
  interface/modules/zend_modules/config/application.config.php
  interface/modules/zend_modules/module/Installer/src/Installer/Controller/InstallerController.php
  interface/modules/zend_modules/module/PatientFlowBoard/Module.php
  interface/modules/zend_modules/module/PatientFlowBoard/config/module.config.php
  src/Services/PatientFlowBoard/Subscriber/PatientFlowBoardEventsSubscriber.php
Due: composer-require-checker

Rector -> TC L6
  rector.php
Due: composer-require-checker

refactor(patientflowboard): move event subscriber out of zend_modules (#13302)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/method.childReturnType.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/missingType.parameter.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/globals.php
  interface/modules/zend_modules/config/application.config.php
  interface/modules/zend_modules/module/Installer/src/Installer/Controller/InstallerController.php
  interface/modules/zend_modules/module/PatientFlowBoard/Module.php
  interface/modules/zend_modules/module/PatientFlowBoard/config/module.config.php
  src/Services/PatientFlowBoard/Subscriber/PatientFlowBoardEventsSubscriber.php
Due: composer-require-checker

fix(acceptance): capture jq-parse failures too, not just missing fields
  .github/workflows/acceptance-only.yml
  .github/workflows/docker-acceptance-only.yml
Due: none

refactor(ci): Phase 10e-2 -- extract acceptance-only source-run guardrails (#13294)
  .github/scripts/validate-source-run.sh
  .github/scripts/verify-dockerhub-tag-exists.sh
  .github/workflows/acceptance-only.yml
  .github/workflows/docker-acceptance-only.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/validate-source-run/helpers.bash
  tests/bats/ci-scripts/validate-source-run/validate.bats
  tests/bats/ci-scripts/verify-dockerhub-tag-exists/curl-mock.sh
  tests/bats/ci-scripts/verify-dockerhub-tag-exists/helpers.bash
  tests/bats/ci-scripts/verify-dockerhub-tag-exists/verify.bats
Due: none

refactor(release): Phase 10e-3 -- extract Docker Hub tag-delete to shared script
  .github/byte-identical.yml
  .github/scripts/README.md
  .github/scripts/dockerhub-delete-tag.sh
  .github/workflows/reusable-docker-publish.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/dockerhub-delete-tag/curl-mock.sh
  tests/bats/ci-scripts/dockerhub-delete-tag/delete-tag.bats
  tests/bats/ci-scripts/dockerhub-delete-tag/helpers.bash
Due: none

fix(dockerhub): keep token out of jq argv and sanitize response echoes
  .github/scripts/dockerhub-delete-tag.sh
Due: none

fix(dockerhub): safe login JSON build and per-route method assertions
  .github/scripts/dockerhub-delete-tag.sh
  tests/bats/ci-scripts/dockerhub-delete-tag/curl-mock.sh
  tests/bats/ci-scripts/dockerhub-delete-tag/delete-tag.bats
Due: none

refactor(release): Phase 10e-3 -- extract Docker Hub tag-delete to shared script (#13293)
  .github/byte-identical.yml
  .github/scripts/README.md
  .github/scripts/dockerhub-delete-tag.sh
  .github/workflows/reusable-docker-publish.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/dockerhub-delete-tag/curl-mock.sh
  tests/bats/ci-scripts/dockerhub-delete-tag/delete-tag.bats
  tests/bats/ci-scripts/dockerhub-delete-tag/helpers.bash
Due: none

ci(docker): sync byte-identical files from master (8e5e1efa33055d2c4180b20658f6baa2af58e68a)
  .github/byte-identical.yml
Due: none

ci(docker): sync byte-identical files from master (8e5e1efa33055d2c4180b20658f6baa2af58e68a)
  .github/byte-identical.yml
  .github/scripts/dockerhub-delete-tag.sh
  .github/workflows/reusable-docker-publish.yml
Due: none

docs(plan): Phase 10e-2 + 10e-3 SHIPPED (13294 + 13293)
  docs/artifact-acceptance-testing-plan.md
Due: none

refactor(ci): Phase 10e-4 -- extract acceptance-package detect-mode to script
  .github/byte-identical.yml
  .github/scripts/detect-acceptance-mode.sh
  .github/workflows/acceptance-package.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/detect-acceptance-mode/detect.bats
  tests/bats/ci-scripts/detect-acceptance-mode/git-mock.sh
  tests/bats/ci-scripts/detect-acceptance-mode/helpers.bash
Due: none

fix(acceptance): surface git diff failure instead of silently masking
  .github/scripts/detect-acceptance-mode.sh
  .github/workflows/acceptance-docker.yml
  tests/bats/ci-scripts/detect-acceptance-mode/detect.bats
  tests/bats/ci-scripts/detect-acceptance-mode/git-mock.sh
Due: none

refactor(ci): Phase 10e-4 -- extract acceptance-package detect-mode to script (#13306)
  .github/byte-identical.yml
  .github/scripts/detect-acceptance-mode.sh
  .github/workflows/acceptance-docker.yml
  .github/workflows/acceptance-package.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/detect-acceptance-mode/detect.bats
  tests/bats/ci-scripts/detect-acceptance-mode/git-mock.sh
  tests/bats/ci-scripts/detect-acceptance-mode/helpers.bash
Due: none

ci(docker): sync byte-identical files from master (7fdb232bce36d1f999cbfae82cb71aab917725eb)
  .github/byte-identical.yml
Due: none

ci(docker): sync byte-identical files from master (7fdb232bce36d1f999cbfae82cb71aab917725eb)
  .github/byte-identical.yml
  .github/scripts/detect-acceptance-mode.sh
  .github/workflows/acceptance-docker.yml
  .github/workflows/acceptance-package.yml
Due: none

docs(plan): Phase 10e-4 SHIPPED (13306); note rabbit-found git-diff-mask bug
  docs/artifact-acceptance-testing-plan.md
Due: none

refactor(release): Phase 10e-5 -- extract create-release-tag to shared script
  .github/byte-identical.yml
  .github/scripts/README.md
  .github/scripts/create-release-tag.sh
  .github/workflows/reusable-publish-release.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/create-release-tag/create-release-tag.bats
  tests/bats/ci-scripts/create-release-tag/gh-mock.sh
  tests/bats/ci-scripts/create-release-tag/git-mock.sh
  tests/bats/ci-scripts/create-release-tag/helpers.bash
Due: none

fix(release): surface git ls-remote stderr on lookup-failure path
  .github/scripts/create-release-tag.sh
Due: none

docs(plan): add Phase 11 native arm64 for release-time docker builds
  docs/artifact-acceptance-testing-plan.md
Due: none

docs(plan): note flex builds as Phase 11 deferred scope with rationale
  docs/artifact-acceptance-testing-plan.md
Due: none

fix(release): preflight RELEASE_NOTES_FILE before any tag mutation
  .github/scripts/create-release-tag.sh
  tests/bats/ci-scripts/create-release-tag/create-release-tag.bats
Due: none

fix(ci): coderabbitai fixes
  ci/ciLibrary.source
Due: none

build(deps): raise guzzlehttp/psr7 floor to ^2.13 for Utils::asciiToUpper
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(report): handle mpdf failures in custom_report instead of swallowing them
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/openemr.exitInCatchOrFinally.php
  .phpstan/fatal-baseline-caps.php
  interface/patient_file/report/custom_report.php
Due: composer-require-checker

refactor(calendar): remove dead register_globals emulation in pnAPI.php
  interface/main/calendar/includes/pnAPI.php
Due: composer-require-checker

fix(calendar): read PostCalendar input via filter_input after register_globals removal
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/variable.undefined.php
  interface/main/calendar/includes/pnAPI.php
Due: composer-require-checker

chore(phpstan): lower variable.undefined cap after removing pnAPI baseline entry
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

refactor(fee-sheet): type the load_fee_sheet_options() signature
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/return.type.php
  .phpstan/fatal-baseline-caps.php
  interface/forms/fee_sheet/review/fee_sheet_options_queries.php
Due: composer-require-checker

fix(calendar): use strict empty-string check in pnVarCleanFromInput
  interface/main/calendar/includes/pnAPI.php
Due: composer-require-checker

refactor(document-templates): use QueryUtils::inTransaction
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  src/Services/DocumentTemplates/DocumentTemplateService.php
Due: composer-require-checker

refactor(codes): use QueryUtils::inTransaction for imports
  library/standard_tables_capture.inc.php
Due: composer-require-checker

refactor(upgrade): use QueryUtils::inTransaction
  src/Services/Utils/SQLUpgradeService.php
Due: composer-require-checker

refactor(globals): use QueryUtils::inTransaction on save
  interface/super/edit_globals.php
Due: composer-require-checker

refactor(codes): use QueryUtils::inTransaction on code load
  interface/super/load_codes.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

