Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

feat(dx): Add REPL tool for dev envs (#12539)
  .composer-require-checker.json
  cli
  composer.json
  composer.lock
  config/cli.php
  src/Console/Command/ShellCommand.php
  tests/Tests/Isolated/Console/Command/ShellCommandTest.php
Due: composer-validate, composer-normalize, composer-require-checker

wire properly
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/BC/ServiceContainer.php
Due: composer-require-checker

Wire it in
  config/database.php
  config/services.php
Due: composer-require-checker

rector
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/BC/ServiceContainer.php
  src/Services/CodeTypes/CodeTypeMappingUpdater.php
Due: composer-require-checker

fix(core): prevent {headerTemplate} from rendering the page header twice
  library/smarty/plugins/function.headerTemplate.php
Due: composer-require-checker

fix(entities): typo in CodeType docblock
  src/Entities/CodeType.php
Due: composer-require-checker

test(codes): add basic tests for CodeTypeMappingUpdater
  tests/Tests/Isolated/Services/CodeTypes/CodeTypeMappingUpdaterTest.php
Due: composer-require-checker

refactor(entities): make non-PK entity properties read-write
  src/Entities/Code.php
  src/Entities/CodeType.php
  tests/Tests/Isolated/Services/CodeTypes/CodeTypeMappingUpdaterTest.php
Due: composer-require-checker

Actually invert id/key per comments
  src/Entities/CodeType.php
  tests/Tests/Isolated/Services/CodeTypes/CodeTypeMappingUpdaterTest.php
Due: composer-require-checker

Expose service as CLI command
  cli
  config/cli.php
  src/Console/Command/UpdateCodeTypeMappingsCommand.php
  tests/Tests/Isolated/Console/Command/UpdateCodeTypeMappingsCommandTest.php
Due: composer-require-checker

Revert db hooking
  config/database.php
Due: composer-require-checker

Fix path resolution that was a legit CI-detected issue
  src/BC/ServiceContainer.php
Due: composer-require-checker

Fix mock union types
  tests/Tests/Isolated/Services/CodeTypes/CodeTypeMappingUpdaterTest.php
Due: composer-require-checker

Locally default null for now
  src/Entities/Code.php
Due: composer-require-checker

Rearrange to follow/establish convention
  cli
  config/cli.php
  src/Console/Command/Codes/UpdateMappingsCommand.php
  tests/Tests/Isolated/Console/Command/Codes/UpdateMappingsCommandTest.php
Due: composer-require-checker

fix(config): use absolute paths in database config
  config/database.php
Due: composer-require-checker

ci(coredumps): add verification and debug output to enable_coredumps
  ci/ciLibrary.source
Due: none

ci(debug): add crash tracing for segfault investigation
  ci/auto_prepend.php
  ci/ciLibrary.source
  src/Common/Session/Predis/LockingRedisSessionHandler.php
Due: composer-require-checker

ci(debug): set xdebug.max_nesting_level=100 to catch infinite recursion
  ci/ciLibrary.source
Due: none

ci(debug): remove crash tracing, keep xdebug.max_nesting_level
  ci/auto_prepend.php
  ci/ciLibrary.source
  src/Common/Session/Predis/LockingRedisSessionHandler.php
Due: composer-require-checker

fix(redis): close connection explicitly to avoid TLS shutdown race
  src/Common/Session/Predis/LockingRedisSessionHandler.php
Due: composer-require-checker

ci(docker): port migration to rel-800 (phase 2, lighter) (#12496)
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-test-core.yml
  .github/workflows/docker-test-release.yml
  .gitignore
  .hadolint.yaml
  docker/.gitignore
  docker/COVERAGE.md
  docker/compose.yml
  docker/release/.dockerignore
  docker/release/.gitignore
  docker/release/Dockerfile
  docker/release/README.md
  docker/release/auto_configure.php
  docker/release/env.stub
  docker/release/kcov-wrapper.sh
  docker/release/openemr.conf
  docker/release/openemr.sh
  docker/release/php.ini
  docker/release/ssl.sh
  docker/release/upgrade/docker-version
  docker/release/upgrade/fsupgrade-1.sh
  docker/release/upgrade/fsupgrade-2.sh
  docker/release/upgrade/fsupgrade-3.sh
  docker/release/upgrade/fsupgrade-4.sh
  docker/release/upgrade/fsupgrade-5.sh
  docker/release/upgrade/fsupgrade-6.sh
  docker/release/upgrade/fsupgrade-7.sh
  docker/release/upgrade/fsupgrade-8.sh
  docker/release/upgrade/fsupgrade-9.sh
  docker/release/utilities/devtoolsLibrary.source
  docker/release/utilities/unlock_admin.php
  docker/release/utilities/unlock_admin.sh
  docker/release/xdebug.sh
Due: composer-require-checker

Review fixes and continued signalwire integration.
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/SignalWire/Rest/Client.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/Twilio/Rest/Client.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxMailer.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxUploadStaging.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/SignalWireRestClientTest.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/TwilioRestClientTest.php
Due: composer-require-checker

ci(docker): port migration to rel-704 (phase 2, lighter) (#12497)
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-test-core.yml
  .github/workflows/docker-test-release.yml
  .gitignore
  docker/.gitignore
  docker/COVERAGE.md
  docker/compose.yml
  docker/release/.dockerignore
  docker/release/.gitignore
  docker/release/Dockerfile
  docker/release/README.md
  docker/release/auto_configure.php
  docker/release/env.stub
  docker/release/kcov-wrapper.sh
  docker/release/openemr.conf
  docker/release/openemr.sh
  docker/release/php.ini
  docker/release/ssl.sh
  docker/release/upgrade/docker-version
  docker/release/upgrade/fsupgrade-1.sh
  docker/release/upgrade/fsupgrade-2.sh
  docker/release/upgrade/fsupgrade-3.sh
  docker/release/upgrade/fsupgrade-4.sh
  docker/release/upgrade/fsupgrade-5.sh
  docker/release/upgrade/fsupgrade-6.sh
  docker/release/upgrade/fsupgrade-7.sh
  docker/release/upgrade/fsupgrade-8.sh
  docker/release/utilities/devtoolsLibrary.source
  docker/release/utilities/unlock_admin.php
  docker/release/utilities/unlock_admin.sh
  docker/release/xdebug.sh
Due: composer-require-checker

fix(docker): checkout repo before flex build to dodge submodule recursion
  .github/workflows/docker-build-flex-core.yml
Due: none

fix(docker): add php-posix to the flex image apk install list
  docker/flex/Dockerfile
Due: none

fix(docker): checkout repo before flex build to dodge submodule recursion (#12547)
  .github/workflows/docker-build-flex-core.yml
Due: none

fix(docker): add php-posix to the flex image apk install list (#12548)
  docker/flex/Dockerfile
Due: none

docs(docker): relocate migration doc + refresh post-migration documentation
  .github/PULL_REQUEST_TEMPLATE/release-prep.md
  CONTRIBUTING.md
  DOCKER_README.md
  docker/README.md
  docs/RELEASE_PROCESS.md
  docs/docker-migration-from-devops.md
  docs/release-automation-plan.md
Due: none

ci(docker): drop docker/README.md from byte-identical canary
  .github/workflows/docker-validate-byte-identical.yml
Due: none

docs(docker): clarify that latest means most recent stable production release
  DOCKER_README.md
Due: none

docs(docker): relocate migration doc + refresh post-migration documentation (#12551)
  .github/PULL_REQUEST_TEMPLATE/release-prep.md
  .github/workflows/docker-validate-byte-identical.yml
  CONTRIBUTING.md
  DOCKER_README.md
  docker/README.md
  docs/RELEASE_PROCESS.md
  docs/docker-migration-from-devops.md
  docs/release-automation-plan.md
Due: none

chore(pre-commit): wire hadolint into local hooks
  .pre-commit-config.yaml
Due: none

ci(dependabot): track pre-commit hook revs
  .github/dependabot.yml
Due: none

docs(pre-commit): soften hadolint pin-parity claim and add hook to dev docs
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
Due: none

ci(dependabot): track pre-commit hook revs (#12553)
  .github/dependabot.yml
Due: none

chore(pre-commit): wire hadolint into local hooks (#12552)
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

