Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(calendar): batch per-appointment lookups and repopulate tooltip fields (#13511)
  interface/main/calendar/modules/PostCalendar/pnuserapi.php
Due: composer-require-checker

fix(pdf): restore pre-existing globals in test teardown
  tests/Tests/Isolated/Pdf/PdfPrintMediaCssTest.php
Due: composer-require-checker

deprecations
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/encapsedStringPart.nonString.php
  .phpstan/baseline/missingType.parameter.php
  src/Common/Session/Predis/LockingRedisSessionHandler.php
  src/RestControllers/RestControllerHelper.php
Due: composer-require-checker

test: add coverage for create_sid() method
  tests/Tests/Isolated/Common/Session/Predis/LockingRedisSessionHandlerTest.php
Due: composer-require-checker

Tighten fixes
  src/Common/Session/Predis/LockingRedisSessionHandler.php
  tests/Tests/Isolated/Common/Session/Predis/LockingRedisSessionHandlerTest.php
Due: composer-require-checker

fix(reports): coderabbit sugg
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
Due: composer-require-checker

typo
  src/Common/Session/Predis/LockingRedisSessionHandler.php
Due: composer-require-checker

perf(calendar): drop the redundant DISTINCT and duplicate users join (#13647)
  interface/main/calendar/modules/PostCalendar/pnuserapi.php
Due: composer-require-checker

test: add SessionIdInterface to default inner mock
  tests/Tests/Isolated/Common/Session/Predis/LockingRedisSessionHandlerTest.php
Due: composer-require-checker

perf(calendar): filter overlap candidates once, not once per timeslot (#13648)
  src/PostCalendar/ViewModel/CalendarViewModel.php
Due: composer-require-checker

chore(deps): upgrade symfony/http-foundation to ^8.1
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Revert "chore(deps): upgrade symfony/http-foundation to ^8.1"
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix: address most PHP 8.6 warnings in test suite (#13649)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/encapsedStringPart.nonString.php
  .phpstan/baseline/missingType.parameter.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentDisposalTrait.php
  src/Common/Session/Predis/LockingRedisSessionHandler.php
  src/Cqm/Qdm/BaseTypes/AbstractType.php
  src/RestControllers/RestControllerHelper.php
  tests/Tests/Isolated/Common/Session/Predis/LockingRedisSessionHandlerTest.php
Due: composer-require-checker

fix(faxsms): populate Clickatell credentials in constructor
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/ClickatellSMSClient.php
Due: composer-require-checker

fix(pdf): stop Bootstrap print styles from exploding PDF reports into blank pages (#13645)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  interface/themes/style_pdf.scss
  src/Pdf/Config_Mpdf.php
  tests/Tests/Isolated/Pdf/PdfPrintMediaCssTest.php
Due: composer-require-checker

test(acceptance): run api-enabled group post-upgrade + capture refactor plan
  .github/workflows/acceptance-package.yml
  docs/artifact-acceptance-testing-plan.md
Due: none

chore(release): drop rel-704 from release-targets
  .github/release-targets.yml
Due: none

chore(release): scrub rel-704 references across release-mechanism surface
  .github/byte-identical.yml
  .github/scripts/lib/glob-expand.sh
  .github/scripts/sync-byte-identical.sh
  .github/scripts/validate-byte-identical.sh
  .github/workflows/acceptance-docker.yml
  .github/workflows/acceptance-package.yml
  .github/workflows/docker-acceptance-only.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-release-orchestrator.yml
  .github/workflows/sync-byte-identical.yml
  tests/bats/ci-scripts/list-manifest-paths/list-manifest-paths.bats
  tests/bats/ci-scripts/sync-byte-identical/sync.bats
Due: none

docs(workflow): clarify api-enable comment names both group invocations
  .github/workflows/acceptance-package.yml
Due: none

test(list-manifest-paths): fix fixture branch name (rel-810 -> rel-830)
  tests/bats/ci-scripts/list-manifest-paths/list-manifest-paths.bats
Due: none

chore(release): drop rel-704 from release-targets (#13652)
  .github/byte-identical.yml
  .github/release-targets.yml
  .github/scripts/lib/glob-expand.sh
  .github/scripts/sync-byte-identical.sh
  .github/scripts/validate-byte-identical.sh
  .github/workflows/acceptance-docker.yml
  .github/workflows/acceptance-package.yml
  .github/workflows/docker-acceptance-only.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-release-orchestrator.yml
  .github/workflows/sync-byte-identical.yml
  tests/bats/ci-scripts/list-manifest-paths/list-manifest-paths.bats
  tests/bats/ci-scripts/sync-byte-identical/sync.bats
Due: none

ci(docker): sync byte-identical files from master (ed47770f3b8272dfc93bf7d5f4d9bcfbf6fa08af)
  .github/byte-identical.yml
  .github/scripts/lib/glob-expand.sh
  .github/scripts/validate-byte-identical.sh
Due: none

test(acceptance): assert displayed version post-install and post-upgrade (#13635)
  .github/workflows/acceptance-package.yml
  docs/artifact-acceptance-testing-plan.md
  tests/Acceptance/VersionApiAcceptanceTest.php
  tests/Acceptance/VersionDisplayAcceptanceTest.php
  tests/Acceptance/bin/boot-package.sh
  tests/Acceptance/bin/upgrade-package.sh
Due: composer-require-checker

ci(docker): add alpine 3.24 flex build workflow
  .github/workflows/docker-build-324.yml
Due: none

ci(docker): sync byte-identical files from master (3e2a7f2f2ceca6972411e766d95826baa1c777a4)
  .github/byte-identical.yml
  .github/scripts/lib/glob-expand.sh
  .github/scripts/validate-byte-identical.sh
  .github/workflows/acceptance-docker.yml
  .github/workflows/acceptance-package.yml
  .github/workflows/docker-build-release.yml
  tests/Acceptance/VersionApiAcceptanceTest.php
  tests/Acceptance/VersionDisplayAcceptanceTest.php
  tests/Acceptance/bin/boot-package.sh
  tests/Acceptance/bin/upgrade-package.sh
Due: composer-require-checker

ci(docker): add alpine 3.24 flex build workflow (#13656)
  .github/workflows/docker-build-324.yml
Due: none

ci(docker): add alpine 3.24 flex test workflow
  .github/workflows/docker-test-flex-324.yml
Due: none

docs(workflow): correct alpine_version comment key (was alpine_versions)
  .github/workflows/docker-test-flex-324.yml
Due: none

ci(docker): add alpine 3.24 flex test workflow (#13657)
  .github/workflows/docker-test-flex-324.yml
Due: none

feat(docker): promote alpine 3.24 to default flex image
  .github/docker/acceptance-package-compose.yml
  .github/workflows/docker-build-322.yml
  .github/workflows/docker-build-323.yml
  .github/workflows/docker-build-324.yml
  CONTRIBUTING.md
  ci/apache_83_118/docker-compose.yml
  ci/apache_83_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_83_118_upgrade/docker-compose.yml
  ci/apache_84_118/docker-compose.yml
  ci/apache_85_1011/docker-compose.yml
  ci/apache_85_106/docker-compose.yml
  ci/apache_85_114/docker-compose.yml
  ci/apache_85_118/docker-compose.yml
  ci/apache_85_118_redis_sentinel/docker-compose.yml
  ci/apache_85_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_tls/docker-compose.yml
  ci/apache_85_118_upgrade/docker-compose.yml
  ci/apache_85_122/docker-compose.yml
  ci/apache_85_57/docker-compose.yml
  ci/apache_85_80/docker-compose.yml
  ci/apache_85_84/docker-compose.yml
  ci/apache_85_93/docker-compose.yml
  ci/inferno/compose.yml
  docker/README.md
  docker/development-insane/docker-compose.yml
  docker/dockerhub/tests/fixtures/workflows/docker-build-fix2.yml
Due: none

feat(docker): bump production docker to alpine 3.24
  docker/release/Dockerfile
Due: none

docs(docker): add docker-build-324.yml + docker-test-flex-324.yml to README
  docker/README.md
Due: none

feat(docker): vendor hooks
  docker/release/openemr.sh
Due: none

responses
  docker/release/openemr.sh
Due: none

response
  docker/release/openemr.sh
Due: none

whitespace?
  docker/release/openemr.sh
Due: none

ugh, it was right
  docker/release/openemr.sh
Due: none

chore(docker): bump binary image to OpenEMR 8.3.0 on Alpine 3.24
  docker/binary/Dockerfile
  docker/binary/README.md
Due: none

Follow up on coderabbit comment
  docker/binary/Dockerfile
  docker/binary/README.md
  tests/bats/docker/binary/config_files.bats
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

