Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(security): remove eval() from application JavaScript files (#2010)
  interface/forms/fee_sheet/review/js/fee_sheet_core.js
  interface/modules/zend_modules/public/js/scripts/file_uploader.js
  library/js/CategoryTreeMenu.js
  library/js/DocumentTreeMenu.js
Due: none

fix(security): add CSV formula escaping to League\Csv exports (#10415)
  library/htmlspecialchars.inc.php
  src/ClinicalDecisionRules/Interface/Controller/ControllerLog.php
  tests/Tests/Isolated/library/CsvEscapeTest.php
Due: composer-require-checker

feat(validation): add email_direct validation and native email input type (#10866)
  library/options.inc.php
  src/Validators/PatientValidator.php
  tests/Tests/Isolated/Validators/PatientValidatorTest.php
Due: composer-require-checker

fix(ci): prevent PHPStan pre-commit hook baseline mismatch (#10868)
  .pre-commit-config.yaml
Due: none

Leave a note
  library/sql.inc.php
Due: composer-require-checker

baseline
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/property.nonObject.php
Due: composer-require-checker

fix(prescriptions): remove empty string DATETIME comparison for MySQL strict mode (#10834)
  interface/eRx_xml.php
  tests/Tests/Isolated/eRx/ErxSqlStrictModeTest.php
Due: composer-require-checker

refactor(db): change $_db property from public to protected (#10889)
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/property.nonObject.php
  controllers/C_Document.class.php
  src/Common/ORDataObject/ORDataObject.php
Due: composer-require-checker

fix(migrations): set deprecated care_team layout fields to uor=0 in database.sql (#10848)
  sql/8_0_0-to-8_0_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

fix(migrations): add DEFAULT CURRENT_TIMESTAMP and missing column
  db/Migrations/Version20260000010002.php
  db/Migrations/Version20260000010006.php
  db/Migrations/Version20260000010010.php
  db/Migrations/Version20260000010049.php
  db/Migrations/Version20260000010067.php
  db/Migrations/Version20260000010068.php
  db/Migrations/Version20260000010069.php
  db/Migrations/Version20260000020007.php
  db/Migrations/Version20260000020027.php
  db/Migrations/Version20260000020066.php
  db/Migrations/Version20260000020077.php
  db/Migrations/Version20260000020104.php
  db/Migrations/Version20260000020115.php
  db/Migrations/Version20260000020145.php
  db/Migrations/Version20260000020146.php
  db/Migrations/Version20260000020152.php
  db/Migrations/Version20260000020154.php
  db/Migrations/Version20260000020156.php
  db/Migrations/Version20260000020164.php
  db/Migrations/Version20260000020173.php
  db/Migrations/Version20260000020174.php
Due: composer-require-checker

fix(security): log blocked URL schemes in safe_href()
  library/htmlspecialchars.inc.php
Due: composer-require-checker

fix(migrations): correct pronoun column to nullable TEXT
  db/Migrations/Version20260000010056.php
Due: composer-require-checker

fix(ci): detect database.sql schema changes missing upgrade SQL
  .github/workflows/database-version.yml
Due: none

fix(ci): ensure xdebug.mode=coverage for PHPUnit coverage collection
  ci/ciLibrary.source
Due: none

fix(migrations): add missing columns, fix defaults and comments
  db/Migrations/Version20260000010049.php
  db/Migrations/Version20260000020021.php
  db/Migrations/Version20260000020067.php
Due: composer-require-checker

fix(migrations): remove extra comments from form_history_sdoh to match source
  db/Migrations/Version20260000020209.php
Due: composer-require-checker

refactor(db): use strict array comparisons to avoid new phpstan warnings
  .phpstan/baseline/empty.notAllowed.php
  interface/billing/billing_report.php
  library/classes/Prescription.class.php
Due: composer-require-checker

refactor(crypto): replace produceRandomBytes with native random_bytes
  src/Common/Auth/OAuth2KeyConfig.php
  src/Common/Auth/OpenIDConnect/Repositories/ClientRepository.php
  src/Common/Crypto/CryptoGen.php
  src/Common/Csrf/CsrfUtils.php
  src/Common/Utils/RandomGenUtils.php
  tests/Tests/Isolated/Common/Utils/RandomGenUtilsTest.php
Due: composer-require-checker

refactor(crypto): remove silent error handling from produceRandomString
  src/Common/Utils/RandomGenUtils.php
Due: composer-require-checker

refactor(crypto): remove dead code from token/password generators
  src/Common/Utils/RandomGenUtils.php
Due: composer-require-checker

refactor(crypto): remove dead error handling from callers
  src/Common/Auth/AuthUtils.php
  src/Common/Auth/OAuth2KeyConfig.php
Due: composer-require-checker

test(services): add AppointmentService test coverage
  tests/Tests/Fixtures/AppointmentFixtureManager.php
  tests/Tests/Services/AppointmentServiceTest.php
Due: composer-require-checker

fix: remove PHP 8.4+ Deprecated attribute for 8.2 compatibility
  src/Common/Utils/RandomGenUtils.php
Due: composer-require-checker

chore(agents): add .gitkeep file to agents directory
  agents/.gitkeep
Due: none

feat(agents): add safety-sentinel submodule to project
  .gitmodules
Due: none

feat(claude): update .gitignore, add security and testing guidelines, and introduce code style rules
  .claude/rules/code-style.md
  .claude/rules/security.md
  .claude/rules/testing.md
  .claude/settings.json
  .gitignore
  CLAUDE.md
Due: none

chore(deps): upgrade zircote/swagger-php from 3.x to 5.x
  composer.json
  composer.lock
  src/Common/Command/CreateAPIDocumentationCommand.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(deps): add doctrine/annotations for swagger-php docblock support
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(deps): use swagger-php 4.x with TokenAnalyser for docblock support
  composer.json
  composer.lock
  src/Common/Command/CreateAPIDocumentationCommand.php
  swagger/openemr-api.yaml
Due: composer-validate, composer-normalize, composer-require-checker

Tell composer phpstan to prefer dist config
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

stan
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
Due: composer-require-checker

fix(api): add explicit description properties to @OA\Schema annotations
  apis/routes/_rest_routes_standard.inc.php
Due: composer-require-checker

fix(api): restore original swagger yaml output
  swagger/openemr-api.yaml
Due: none

add phpstan.neon to gitignore too
  .gitignore
Due: none

chore(phpstan): Tell composer phpstan to prefer dist config (#10916)
  .gitignore
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Upgrade GitHub Actions for Node 24 compatibility
  .github/workflows/database.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

