Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

chore: removed unused code from RestConfig
  _rest_routes.inc.php
  src/RestControllers/Config/RestConfig.php
Due: composer-require-checker

chore: removed RestConfig at all
  src/RestControllers/Config/RestConfig.php
Due: composer-require-checker

PHPStan fixes
  interface/reports/encounters_report.php
Due: composer-require-checker

This is to make the full transition from smarty to twig for the calendar. This is unconnected for right now.
  src/PostCalendar/PostCalendarRenderer.php
Due: composer-require-checker

fix: development environment fixes and a ci fix (#10075)
  ci/ciLibrary.source
  docker/development-easy-light/docker-compose.yml
  docker/development-easy/docker-compose.yml
  docker/development-insane/docker-compose.yml
Due: none

Prevent samesite js error
  library/restoreSession.php
Due: composer-require-checker

Full transformation including UI upgrade
  interface/reports/amc_tracking.php
  src/Reports/AmcTracking/AmcTrackingController.php
  templates/reports/amc/_tracking-form.html.twig
  templates/reports/amc/_tracking-results.html.twig
  templates/reports/amc/tracking.html.twig
  tests/Tests/Unit/Reports/AmcTracking/AmcTrackingControllerTest.php
Due: composer-require-checker

Fix: Eye form wearing RX data not updating in READ-ONLY mode (#10063)
  interface/forms/eye_mag/php/eye_mag_functions.php
Due: composer-require-checker

Fix: Use 1-based indexing for wearing RX fields to match HTML IDs
  interface/forms/eye_mag/php/eye_mag_functions.php
Due: composer-require-checker

chore: removed RestConfigCaseSensitivityTest
  tests/Tests/Unit/RestControllers/Config/RestConfigCaseSensitivityTest.php
Due: composer-require-checker

refactor: extracted RestApiAclPermissionChecker
  src/RestControllers/Authorization/RestApiAclPermissionChecker.php
Due: composer-require-checker

refactor: reused RestApiAclPermissionChecker at codebase
  apis/routes/_rest_routes_fhir_r4_us_core_3_1_0.inc.php
  apis/routes/_rest_routes_standard.inc.php
  src/RestControllers/FHIR/FhirGenericRestController.php
Due: composer-require-checker

fix: phpstan baseline
  .phpstan/phpstan-globals-baseline.neon
Due: none

Fix: Unhide additional wearing sections (W_2-W_5) in READ-ONLY mode
  interface/forms/eye_mag/js/eye_base.php
Due: composer-require-checker

Fix: Unhide wearing sections immediately when processing field data
  interface/forms/eye_mag/js/eye_base.php
Due: composer-require-checker

Fix: Correct field name typos in wearing sections W_2-W_5
  interface/forms/eye_mag/php/eye_mag_functions.php
Due: composer-require-checker

Debug: Add console logging to track READ-ONLY field updates
  interface/forms/eye_mag/js/eye_base.php
Due: composer-require-checker

Fix: Use important flag to override CSS for background color highlighting
  interface/forms/eye_mag/js/eye_base.php
Due: composer-require-checker

Remove debug console logging
  interface/forms/eye_mag/js/eye_base.php
Due: composer-require-checker

feat(api): added PATCH requests support (#10081)
  src/Common/Http/HttpRestRouteHandler.php
Due: composer-require-checker

fix(phpstan): indent size for neon files at editorconfig (#10072)
  .editorconfig
Due: none

fix(composer): validate to be strict like we have at .pre-commit-config.yaml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix(ci): composer validate to be strict at ci
  .github/workflows/composer.yml
Due: none

fix(composer): normalize to be consistently strict (#10100)
  .github/workflows/composer.yml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

chore: peer true removed from package-lock.json after building with easy dev
  ccdaservice/package-lock.json
  package-lock.json
Due: none

reapply updates
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

refactor(phpstorm): remaining errors baseline errors extracted to separate phpstan-remaining-baseline.neon
  .phpstan/phpstan-remaining-baseline.neon
  .phpstan/phpstan.github.neon
Due: none

feat(phpstan): added phpstan-baseline composer script
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix(phpstan): baseline
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan-remaining-baseline.neon
Due: none

chore: upgrade lcobucci jwt to 4.3.0, steverhoades/oauth2-openid-connect-server to 3.0.1 (#8589)
  composer.json
  composer.lock
  src/Common/Auth/OpenIDConnect/Entities/ClientEntity.php
  src/Common/Auth/OpenIDConnect/IdTokenSMARTResponse.php
  src/Common/Auth/OpenIDConnect/Repositories/ClientRepository.php
  src/Common/Auth/OpenIDConnect/SMARTSessionTokenContextBuilder.php
  src/Common/Auth/UuidUserAccount.php
  src/Common/Command/CreateReleaseChangelogCommand.php
  src/Common/Logging/SystemLogger.php
Due: composer-validate, composer-normalize, composer-require-checker

ci(phpstan): adjusted to upload separate baseline files rather than one
  .github/workflows/phpstan.yml
Due: none

fix(pre-commit): exclude vendored third-party bundles from hooks
  .pre-commit-config.yaml
Due: none

fix(pre-commit): exclude vendored third-party bundles from hooks (#10106)
  .pre-commit-config.yaml
Due: none

ci(whitespace): add GitHub Action to check whitespace
  .github/workflows/whitespace.yml
Due: none

ci(whitespace): check only changed files on PRs
  .github/workflows/whitespace.yml
Due: none

ci(whitespace): use tj-actions/changed-files for PR file detection
  .github/workflows/whitespace.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (^|/)(composer\.lock|package-lock\.json)$|\.min\.(js|css)$|\.js\.map$|\.css\.map$
  composer-normalize: any of: ^composer\.json$, but not: (^|/)(composer\.lock|package-lock\.json)$|\.min\.(js|css)$|\.js\.map$|\.css\.map$
  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (^|/)(composer\.lock|package-lock\.json)$|\.min\.(js|css)$|\.js\.map$|\.css\.map$
