Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

ci(docker): sync byte-identical files from master (35d098fc62192e0255ef341007c192c1e011ce34)
  tests/Tests/Isolated/Release/BinaryForgePinReaderTest.php
  tests/Tests/Isolated/Release/BinaryForgePinTest.php
  tests/Tests/Isolated/Release/BinaryForgeResolverTest.php
  tests/Tests/Isolated/Release/Fakes/FakeGitHubApi.php
  tools/release/bin/resolve-binary-forge.php
  tools/release/src/BinaryForgePin.php
  tools/release/src/BinaryForgePinReader.php
  tools/release/src/BinaryForgeResolver.php
  tools/release/src/GitHubApi.php
Due: composer-require-checker

refactor(codetypes): drop dead top-level Registry priming
  custom/code_types.inc.php
Due: composer-require-checker

refactor(autoload): move custom/code_types.inc.php to composer autoload files
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

chore(docker): bump Alpine base for the binary and release images
  docker/binary/Dockerfile
  docker/binary/README.md
Due: none

chore(docker): bump binary image to the latest OpenEMR forge release
  docker/binary/Dockerfile
  docker/binary/README.md
Due: none

chore(codetypes): drop code_types.inc.php require in code_attributes_ajax.php (smoke test)
  library/ajax/code_attributes_ajax.php
Due: composer-require-checker

chore(phpstan): regenerate baseline after code_types autoload sweep
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/encapsedStringPart.nonString.php
  .phpstan/baseline/variable.undefined.php
Due: composer-require-checker

chore(phpstan): lower variable.undefined cap after code_types autoload sweep
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

fix(lbf-statements): ignore generate URLs for forms without rules
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
Due: composer-require-checker

refactor(portal): drop remaining eager includes now covered by classmap
  portal/patient/fwk/libs/savant/Savant3.php
  portal/patient/libs/Controller/AppBasePortalController.php
Due: composer-require-checker

style(docker): apply shell and Dockerfile conventions to the forge bump
  docker/binary/Dockerfile
  docker/flex/openemr.sh
  docker/release/Dockerfile
  tests/bats/docker/binary/config_files.bats
Due: none

fix(lbf-statements): filter generate forms by the selected patient
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
Due: composer-require-checker

fix(docker): overlay phpunit configs from the tag, not the PHAR
  docker/binary/Dockerfile
Due: none

Remove globals load on appsql, if you get that far you've loaded it already
  portal/lib/appsql.class.php
Due: composer-require-checker

feat(statements): take custom windows from the envelope box
  library/globals.inc.php
  src/Billing/StatementEnvelope.php
  tests/Tests/Isolated/Billing/StatementEnvelopeTest.php
Due: composer-require-checker

refactor(codetypes): switch Registry to static-memo + reset() to match IssueTypeRegistry
  src/Common/CodeTypes/CodeTypeRegistry.php
  tests/Tests/Unit/Forms/FeeSheet/Review/FeeSheetClassesTest.php
Due: composer-require-checker

chore(phpstan): regenerate baseline after Registry redesign
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/empty.offset.php
  .phpstan/baseline/offsetAccess.invalidOffset.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/return.type.php
Due: composer-require-checker

phpcs
  controllers/C_DocumentCategory.class.php
  interface/patient_file/encounter/coding.php
  interface/patient_file/encounter/find_code_dynamic.php
  interface/patient_file/encounter/find_code_popup.php
  interface/patient_file/encounter/search_code.php
  interface/patient_file/encounter/select_codes.php
  interface/patient_file/encounter/superbill_codes.php
  interface/patient_file/encounter/superbill_custom_full.php
  library/options.inc.php
  src/Billing/InvoiceSummary.php
  src/Services/BaseService.php
Due: composer-require-checker

ci(docker): exclude the CCDA validation test on the binary image
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-test-core.yml
Due: none

fix(docker): advance the binary image's upgrade machinery to 13
  docker/binary/Dockerfile
  docker/binary/openemr.sh
  docker/binary/upgrade/docker-version
  docker/binary/upgrade/fsupgrade-10.sh
  docker/binary/upgrade/fsupgrade-11.sh
  docker/binary/upgrade/fsupgrade-12.sh
  docker/binary/upgrade/fsupgrade-13.sh
  docker/binary/upgrade/fsupgrade-9.sh
  docker/release/openemr.sh
Due: none

fix(lbf-statements): restrict generate forms after instance pid
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementRepository.php
  tests/Tests/Isolated/Modules/LbfStatements/DataAccessTest.php
  tests/Tests/Isolated/Modules/LbfStatements/GenerateControllerTest.php
Due: composer-require-checker

refactor: consolidate patient id parameter handling across per-endpoint handlers (#13811)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/cast.int.php
  .phpstan/baseline/cast.string.php
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/isset.variable.php
  .phpstan/baseline/nullCoalesce.expr.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/offsetAccess.notFound.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenRequestGlobals.php
  .phpstan/baseline/variable.undefined.php
  .phpstan/fatal-baseline-caps.php
  interface/billing/ub04_dispose.php
  interface/billing/ub04_form.php
  interface/forms/CAMOS/notegen.php
  interface/forms/eye_mag/SpectacleRx.php
  interface/forms/eye_mag/save.php
  interface/forms/vitals/growthchart/chart.php
  interface/modules/custom_modules/oe-module-weno/templates/indexrx.php
  interface/patient_file/birthday_alert/birthday_pop.php
  interface/patient_file/encounter/view_form.php
  interface/procedure_tools/libs/labs_ajax.php
  library/ajax/easipro_util.php
Due: composer-require-checker

refactor: remove legacy pid parameter fallback in globals.php (#13829)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/cast.int.php
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/openemr.forbiddenRequestGlobals.php
  interface/forms/eye_mag/a_issue.php
  interface/globals.php
  interface/patient_file/history/history_sdoh.php
  interface/patient_file/history/history_sdoh_health_concerns.php
  interface/patient_file/history/history_sdoh_list.php
Due: composer-require-checker

fix(lbf-statements): revalidate paragraph targets and harden toolbar JSON
  interface/modules/custom_modules/oe-module-lbf-statements/src/EncounterToolbar.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LayoutCatalog.php
  tests/Tests/Isolated/Modules/LbfStatements/DataAccessTest.php
Due: composer-require-checker

fix(lbf-statements): style imports and followup review comments
  interface/modules/custom_modules/oe-module-lbf-statements/public/assets/generate.js
  interface/modules/custom_modules/oe-module-lbf-statements/src/BandOverlap.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/AdminController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LbfReader.php
  interface/modules/custom_modules/oe-module-lbf-statements/templates/generate.html.twig
  tests/Tests/Isolated/Modules/LbfStatements/BandOverlapTest.php
  tests/Tests/Isolated/Modules/LbfStatements/DataAccessTest.php
Due: composer-require-checker

fix(lbf-statements): hold band locks until after commit
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementRepository.php
Due: composer-require-checker

fix(lbf-statements): address followup review comments
  interface/modules/custom_modules/oe-module-lbf-statements/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-lbf-statements/composer.json
  interface/modules/custom_modules/oe-module-lbf-statements/public/assets/admin.js
  interface/modules/custom_modules/oe-module-lbf-statements/public/assets/generate.js
  interface/modules/custom_modules/oe-module-lbf-statements/src/BandOverlap.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/AdminController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/EncounterToolbar.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Identifiers.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LayoutCatalog.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LbfReader.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LbfWriter.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Queries.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/RuleNotFoundException.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementApplier.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementEngine.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementRepository.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Values.php
  interface/modules/custom_modules/oe-module-lbf-statements/templates/generate.html.twig
  tests/Tests/Isolated/Modules/LbfStatements/BandOverlapTest.php
  tests/Tests/Isolated/Modules/LbfStatements/DataAccessTest.php
  tests/Tests/Isolated/Modules/LbfStatements/ModuleManagerListenerTest.php
  tests/Tests/Isolated/Modules/LbfStatements/StatementEngineTest.php
  tests/Tests/Isolated/Modules/LbfStatements/ValuesTest.php
Due: composer-require-checker

fix(lbf-statements): isolated twig paths, phpstan, and typed rule errors
  interface/modules/custom_modules/oe-module-lbf-statements/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-lbf-statements/public/open_form.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/BandOverlapException.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/AdminController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Identifiers.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/InvertedBoundsException.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LayoutCatalog.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LbfReader.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LbfWriter.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Queries.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementRepository.php
  tests/Tests/Isolated/Common/Twig/TwigTemplateCompilationTest.php
  tests/Tests/Isolated/Modules/LbfStatements/DataAccessTest.php
  tests/Tests/Isolated/Modules/LbfStatements/ModuleManagerListenerTest.php
Due: composer-require-checker

feat(lbf-statements): add Generate screen to search a patient and save
  interface/modules/custom_modules/oe-module-lbf-statements/public/assets/generate.js
  interface/modules/custom_modules/oe-module-lbf-statements/public/index.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
  interface/modules/custom_modules/oe-module-lbf-statements/templates/_tabs.html.twig
  interface/modules/custom_modules/oe-module-lbf-statements/templates/generate.html.twig
Due: composer-require-checker

feat(lbf-statements): evaluate numeric bands, ratios, and list tokens
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementEngine.php
Due: composer-require-checker

feat(lbf-statements): add statement rule tables
  interface/modules/custom_modules/oe-module-lbf-statements/table.sql
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

