Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


chore(ci): add script to analyze flaky test patterns (#10601)
  tools/ci/analyze-flaky-tests.sh
Due: none

refactor: inline and remove trivial duplicate functions (#10589)
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  custom/export_xml.php
  interface/main/ippf_export.php
Due: composer-require-checker

fix(security): add guards to prevent direct HTTP access (#9537)
  interface/forms/care_plan/templates/careplan_actions.php
  interface/forms/phq9/phq9.inc.php
  interface/forms/ros/C_FormROS.class.php
  interface/globals.php
  interface/modules/custom_modules/oe-module-claimrev-connect/src/EligibilityTransfer.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Repository/TeleHealthUserRepository.php
  interface/procedure_tools/gen_universal_hl7/gen_hl7_order.inc.php
  interface/procedure_tools/labcorp/gen_hl7_order.inc.php
Due: composer-require-checker

feat(phpstan): add rule to forbid error_log() in favor of SystemLogger
  .phpstan/ForbiddenFunctionsRule.php
  .phpstan/README.md
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
Due: composer-require-checker

improve phpstan performance
  phpstan.neon.dist
Due: none

Remove empty from form_begin/end
  interface/forms/eye_mag/save.php
Due: composer-require-checker

feat(phpstan): add rule to forbid error_log() in favor of SystemLogger (#10612)
  .phpstan/ForbiddenFunctionsRule.php
  .phpstan/README.md
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
Due: composer-require-checker

perf(phpstan): Adjust phpstan config to improve cache interaction (#10615)
  phpstan.neon.dist
Due: none

leave notes
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

fix(e2e): handle optional alert in Create Visit test
  tests/Tests/E2e/Base/BaseTrait.php
Due: composer-require-checker

refactor(sql): delegate sqlInsert to QueryUtils::sqlInsert
  library/sql.inc.php
Due: composer-require-checker

baseline
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
Due: composer-require-checker

fix(phpstan): move custom rules into analysed paths to fix result cache warning
  composer.json
  tests/PHPStan/Rules/ForbiddenClassesRule.php
  tests/PHPStan/Rules/ForbiddenCurlFunctionsRule.php
  tests/PHPStan/Rules/ForbiddenFunctionsRule.php
  tests/PHPStan/Rules/ForbiddenGlobalKeywordRule.php
  tests/PHPStan/Rules/ForbiddenGlobalNamespaceRule.php
  tests/PHPStan/Rules/ForbiddenGlobalsAccessRule.php
  tests/PHPStan/Rules/ForbiddenMethodsRule.php
  tests/PHPStan/Rules/ForbiddenStaticMethodsRule.php
  tests/PHPStan/Rules/NoCoversAnnotationOnClassRule.php
  tests/PHPStan/Rules/NoCoversAnnotationRule.php
  tests/PHPStan/Rules/README.md
  tests/PHPStan/Rules/SoftRequiredArgumentsRule.php
Due: composer-validate, composer-normalize, composer-require-checker

rebaseline
  .phpstan/baseline/openemr.forbiddenErrorLog.php
Due: composer-require-checker

undo other bl changes
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
Due: composer-require-checker

new bl
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
Due: composer-require-checker

temp blast cache to workaround
  .github/workflows/phpstan.yml
Due: none

rector
  tests/PHPStan/Rules/ForbiddenGlobalsAccessRule.php
Due: composer-require-checker

syntax
  tests/PHPStan/Rules/ForbiddenGlobalsAccessRule.php
Due: composer-require-checker

Revert "temp blast cache to workaround"
  .github/workflows/phpstan.yml
Due: none

fix(e2e): handle optional alert in Create Visit test (#10619)
  tests/Tests/E2e/Base/BaseTrait.php
Due: composer-require-checker

fix(phpstan): remove dead code and fix @param false docblocks
  interface/drugs/dispense_drug.php
  library/patient.inc.php
  src/Billing/BillingProcessor/Tasks/AbstractGenerator.php
  src/Billing/X125010837P.php
  src/Services/CodeTypesService.php
  src/Services/DocumentTemplates/DocumentTemplateService.php
Due: composer-require-checker

fix(phpstan): move custom rules into analysed paths to fix result cache warning (#10622)
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenErrorLog.php
  composer.json
  tests/PHPStan/Rules/ForbiddenClassesRule.php
  tests/PHPStan/Rules/ForbiddenCurlFunctionsRule.php
  tests/PHPStan/Rules/ForbiddenFunctionsRule.php
  tests/PHPStan/Rules/ForbiddenGlobalKeywordRule.php
  tests/PHPStan/Rules/ForbiddenGlobalNamespaceRule.php
  tests/PHPStan/Rules/ForbiddenGlobalsAccessRule.php
  tests/PHPStan/Rules/ForbiddenMethodsRule.php
  tests/PHPStan/Rules/ForbiddenStaticMethodsRule.php
  tests/PHPStan/Rules/NoCoversAnnotationOnClassRule.php
  tests/PHPStan/Rules/NoCoversAnnotationRule.php
  tests/PHPStan/Rules/README.md
  tests/PHPStan/Rules/SoftRequiredArgumentsRule.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(phpstan): remove dead code and fix @param false docblocks (#10624)
  interface/drugs/dispense_drug.php
  library/patient.inc.php
  src/Billing/BillingProcessor/Tasks/AbstractGenerator.php
  src/Billing/X125010837P.php
  src/Services/CodeTypesService.php
  src/Services/DocumentTemplates/DocumentTemplateService.php
Due: composer-require-checker

refactor(db): Move sqlInsert to QueryUtils (#10621)
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  library/sql.inc.php
Due: composer-require-checker

refactor(db): migrate deprecated sqlQ() calls to QueryUtils (#10545)
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/billing/sl_eob_process.php
  interface/patient_file/encounter/diagnosis.php
  library/classes/Company.class.php
  library/classes/Pharmacy.class.php
  library/classes/Prescription.class.php
  library/classes/Provider.class.php
  src/Common/ORDataObject/Address.php
Due: composer-require-checker

fix(payments): require check reference number server-side (#7353)
  .phpstan/baseline/variable.undefined.php
  interface/patient_file/front_payment.php
Due: composer-require-checker

ci(shellcheck): remove unused PHP setup and cs2pr tool (#10625)
  .github/workflows/shellcheck.yml
Due: none

build(deps): upgrade to Bootstrap 5.3.3
  gulpfile.js
  package.json
Due: none

refactor(scss): update themes for Bootstrap 5
  interface/themes/ajax_calendar_sass.scss
  interface/themes/colors/utilities/default_variables.scss
  interface/themes/core.scss
  interface/themes/misc/bootstrap_navbar.scss
  interface/themes/misc/edi_history_v2.scss
  interface/themes/misc/encounters.scss
  interface/themes/misc/labdata.scss
  interface/themes/misc/rules.scss
  interface/themes/oe-styles/style_dark.scss
  interface/themes/oe-styles/style_light.scss
  interface/themes/oe-styles/style_manila.scss
  interface/themes/oemr-rtl.scss
  interface/themes/oemr_compact_imports.scss
  interface/themes/oemr_rtl_compact_imports.scss
  interface/themes/tabs_style_compact.scss
  interface/themes/tabs_style_full.scss
  interface/themes/theme-defaults.scss
Due: none

refactor(js): migrate to Bootstrap 5 JavaScript API
  interface/forms/newpatient/newpatient.js
  interface/main/tabs/js/include_opener.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/telehealth.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/telehealth.min.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/src/conference-room.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/telehealth-calendar.js
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context-admin.js
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context.js
  interface/product_registration/product_registration_controller.js
  library/dialog.js
  library/js/CustomTemplateApi.js
  library/js/clickmap.js
  library/js/oeUI/insurance/EditPolicyScreenController.js
  library/js/utility.js
  portal/patient/scripts/app/onsiteportalactivities.js
  portal/patient/scripts/app/patientdata.js
  portal/patient/scripts/view.js
  portal/sign/assets/signer_api.js
Due: none

refactor: replace PHPStan catch(Exception) rule with Rector auto-fix
  .phpstan/extension.neon
  composer.json
  rector.php
  tests/PHPStan/Rules/ForbiddenCatchExceptionRule.php
  tests/Rector/Rules/CatchExceptionToThrowableRector.php
  tests/Rector/Rules/CatchExceptionToThrowableRectorTest.php
  tests/Rector/Rules/Fixture/catch_exception.php.inc
  tests/Rector/Rules/Fixture/catch_fully_qualified_exception.php.inc
  tests/Rector/Rules/Fixture/catch_specific_exception_no_change.php.inc
  tests/Rector/Rules/Fixture/catch_throwable_no_change.php.inc
  tests/Rector/Rules/config/catch-exception-to-throwable.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(bootstrap): update Select2 theme to bootstrap-5
  library/custom_template/custom_template.php
Due: composer-require-checker

fix(bootstrap): migrate modal API calls to Bootstrap 5
  portal/messaging/secure_chat.php
  portal/sign/assets/signer_api.js
Due: composer-require-checker

fix(bootstrap): migrate portal template UI to Bootstrap 5
  portal/import_template_ui.php
Due: composer-require-checker

fix(bootstrap): migrate data attributes to Bootstrap 5 format
  Documentation/help_files/template_maintenance_help.php
  interface/patient_file/summary/demographics.php
Due: composer-require-checker

fix(bootstrap): migrate collapse API calls to Bootstrap 5
  templates/encounter/forms/navbar.html.twig
  templates/portal/home.html.twig
Due: none

fix: updated package-lock.json
  package-lock.json
Due: none
