Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

docs: document OEGlobalsBag typed getters from ParameterBag (#11010)
  CLAUDE.md
  src/Core/OEGlobalsBag.php
Due: composer-require-checker

fixup! feat(docker): add Dockerfile and config for containerized ccdaservice
  .hadolint.yaml
Due: none

refactor(sms): Split conflicting class name definitions (#10408)
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/property.notFound.php
  .phpstan/baseline/return.missing.php
  modules/sms_email_reminder/cron_functions.php
  modules/sms_email_reminder/cron_sms_notification.php
  modules/sms_email_reminder/sms_clickatell.php
  modules/sms_email_reminder/sms_interface.php
  modules/sms_email_reminder/sms_tmb4.php
Due: composer-require-checker

fixup! fixup! refactor: use OEGlobalsBag::getKernel() instead of ->get('kernel')
  .phpstan/baseline/nullCoalesce.expr.php
  portal/home.php
Due: composer-require-checker

chore(phpstan): regenerate baseline after sms class rename
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/loader.php
Due: composer-require-checker

fixup! fixup! refactor: use OEGlobalsBag::getKernel() instead of ->get('kernel')
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/encapsedStringPart.nonString.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  interface/main/calendar/modules/PostCalendar/pnuserapi.php
  interface/main/finder/dynamic_finder_ajax.php
  interface/main/finder/patient_select.php
  interface/modules/custom_modules/oe-module-faxsms/library/api_onetime.php
  interface/modules/custom_modules/oe-module-faxsms/src/Events/NotificationEventListener.php
  interface/new/new_comprehensive_save.php
  interface/patient_file/summary/demographics.php
  interface/patient_file/summary/demographics_full.php
  interface/patient_file/summary/demographics_save.php
  library/appointments.inc.php
  library/globals.inc.php
  library/options.inc.php
Due: composer-require-checker

fixup! fixup! fixup! refactor: use OEGlobalsBag::getKernel() instead of ->get('kernel')
  .phpstan/baseline/arguments.count.php
  interface/billing/search_payments.php
  interface/new/new_comprehensive_save.php
  interface/patient_file/summary/demographics_save.php
  library/options.inc.php
Due: composer-require-checker

refactor(sms): backport class rename from #10408 to rel-800 (#11015)
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/property.notFound.php
  .phpstan/baseline/return.missing.php
  modules/sms_email_reminder/cron_functions.php
  modules/sms_email_reminder/cron_sms_notification.php
  modules/sms_email_reminder/sms_clickatell.php
  modules/sms_email_reminder/sms_interface.php
  modules/sms_email_reminder/sms_tmb4.php
Due: composer-require-checker

Set env for container
  .github/workflows/database.yml
Due: none

upcoming version avoids unsafe need
  bootstrap.php
Due: composer-require-checker

Bump to 1.0
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(auth): correct assignment typo in AuthHash SHA512 fallback (#11019)
  .phpstan/baseline/expr.resultUnused.php
  src/Common/Auth/AuthHash.php
Due: composer-require-checker

update CLI to read EMI from container
  cli
Due: none

Manage all EM setup through container
  config/database.php
  config/env.php
  config/services.php
Due: composer-require-checker

chore(docker): upgrade ccdaservice to Node 22 and consolidate COPY steps
  docker/ccdaservice/Dockerfile
Due: none

Remove other serviceconatiner changes
  src/BC/ServiceContainer.php
Due: composer-require-checker

temp. include debug tool
  cli
  config/cli.php
  src/Console/Command/DebugLoadFacilityCommand.php
Due: composer-require-checker

fix import order
  cli
Due: none

Remove outdated note
  cli
Due: none

fix(eye): add state license number to prescription popup (#10894)
  interface/forms/eye_mag/SpectacleRx.php
Due: composer-require-checker

10244|chore(semgrep): fix Semgrep OSS reported issues
  interface/reports/patient_list_creation.php
  library/MedEx/API.php
Due: composer-require-checker

10244|chore(semgrep): fix Semgrep OSS reported issues
  library/MedEx/API.php
Due: composer-require-checker

10244|chore(semgrep): fix Semgrep OSS reported issues
  interface/orders/types_edit.php
Due: composer-require-checker

fix(test): initialize fixtures property to empty array
  tests/Tests/Fixtures/BaseFixtureManager.php
Due: composer-require-checker

10244|chore(phpstan): fix phpstan and Semgrep OSS reported issues
  interface/orders/types_edit.php
  interface/reports/inventory_list.php
  interface/reports/patient_list_creation.php
  library/MedEx/API.php
Due: composer-require-checker

10244|chore(semgrep): fix Semgrep OSS reported issues
  interface/reports/inventory_list.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

