Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(insurance): skip phones that cannot fit the legacy parts schema on persist
  library/classes/InsuranceCompany.class.php
  tests/Tests/Services/InsuranceCompanyServiceTest.php
Due: composer-require-checker

for test
  interface/modules/custom_modules/oe-module-faxsms/library/faxMedia.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxMailer.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxUploadStaging.php
Due: composer-require-checker

rector and style errors
  interface/modules/custom_modules/oe-module-faxsms/library/faxMedia.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentService.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/SignalWire/Rest/Client.php
  interface/modules/custom_modules/oe-module-faxsms/src/Utils/SignalWireWebhookValidator.php
Due: composer-require-checker

no message
  interface/modules/custom_modules/oe-module-faxsms/.phpstan/SignalWireStubs.php
Due: composer-require-checker

self-review pass: simplify Claim stub, drop mixed params, fix header
  tests/Tests/Isolated/Billing/ClaimCountMethodsTest.php
Due: composer-require-checker

test(billing): add isolated tests for Claim::procCount and payerCount
  tests/Tests/Isolated/Billing/ClaimCountMethodsTest.php
Due: composer-require-checker

self-review pass: add null-path regression tests for #12525
  tests/Tests/Isolated/Billing/ClaimCountMethodsTest.php
Due: composer-require-checker

Instruct coderabbit to not edit the main PR body
  .coderabbit.yaml
Due: none

test(billing): add isolated tests for Claim::procCount and payerCount (#12530)
  tests/Tests/Isolated/Billing/ClaimCountMethodsTest.php
Due: composer-require-checker

chore(ci): Instruct CodeRabbit to not edit the main PR body (#12531)
  .coderabbit.yaml
Due: none

chore(cli): Exit with a nonzero code if bootstrap fails (#12532)
  interface/globals.php
Due: composer-require-checker

merge master
  composer.lock
Due: none

fix(deps): Harden dependencies by pulling in security meta-package (#12524)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Start extracting constants
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/Services/CodeTypes/CodeTypesMappings.php
Due: composer-require-checker

Move other constants
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/Services/CodeTypes/CodeTypesMappings.php
Due: composer-require-checker

Move the whole thing
  src/Services/CodeTypes/CodeTypeMappingUpdater.php
Due: composer-require-checker

Remove other
  src/Services/CodeTypes/CodeTypesMappings.php
Due: composer-require-checker

WIP
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
Due: composer-require-checker

Update logger and mostly finish delegation
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/Services/CodeTypes/CodeTypeMappingUpdater.php
Due: composer-require-checker

fix(pharmacy): apply the same null-digits guard on persist
  library/classes/Pharmacy.class.php
  tests/Tests/Services/PharmacyPersistTest.php
Due: composer-require-checker

Update queries to use the query builder
  src/Services/CodeTypes/CodeTypeMappingUpdater.php
Due: composer-require-checker

Switch to ORM instead
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/Entities/Code.php
  src/Entities/CodeType.php
  src/Entities/ListOption.php
  src/Services/CodeTypes/CodeTypeMappingUpdater.php
Due: composer-require-checker

Add native Twilio Messages REST shim, drop twilio/sdk dependency
  composer.json
  composer.lock
  interface/modules/custom_modules/oe-module-faxsms/setup.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/Twilio/Rest/Client.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/TwilioRestClientTest.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(persist): skip phones the legacy parts schema cannot represent (insurance + pharmacy) (#12529)
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
  tests/Tests/Services/InsuranceCompanyServiceTest.php
  tests/Tests/Services/PharmacyPersistTest.php
Due: composer-require-checker

refactor(docker): remove client cert commands from flex devtools
  docker/flex/utilities/devtools
  docker/flex/utilities/devtoolsLibrary.source
Due: none

feat(insurance): client-side phone and fax validation on edit forms
  templates/insurance_companies/general_edit.html
  templates/pharmacies/general_edit.html
Due: none

fix(insurance): require matched parentheses in phone/fax pattern
  templates/insurance_companies/general_edit.html
  templates/pharmacies/general_edit.html
Due: none

feat(insurance): client-side phone/fax validation on insurance + pharmacy edit forms (#12534)
  templates/insurance_companies/general_edit.html
  templates/pharmacies/general_edit.html
Due: none

Shore up implementation
  interface/modules/zend_modules/module/CodeTypes/src/CodeTypes/Listener/CodeTypeEventsSubscriber.php
  src/Entities/Code.php
  src/Services/CodeTypes/CodeTypeMappingUpdater.php
Due: composer-require-checker

Install dev dependency
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Poke psysh into cli
  cli
  config/cli.php
  src/Console/Command/ShellCommand.php
Due: composer-require-checker

Ensure the command doesn't hard crash outside of dev
  src/Console/Command/ShellCommand.php
Due: composer-require-checker

Coverage ignore markers
  src/Console/Command/ShellCommand.php
Due: composer-require-checker

Test
  src/Console/Command/ShellCommand.php
  tests/Tests/Isolated/Console/Command/ShellCommandTest.php
Due: composer-require-checker

Add unique marker
  src/Entities/CodeType.php
Due: composer-require-checker

Fix up comemnts
  src/Entities/Code.php
  src/Entities/CodeType.php
  src/Entities/ListOption.php
Due: composer-require-checker

add psysh to CRC, it ignores dev-deps
  .composer-require-checker.json
Due: none

Note ext-posix req (it's installed by default)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

