Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(phpstan): address security-bot findings on SqlReservedWordRule
  tests/PHPStan/Rules/Sql/SchemaColumnRegistry.php
  tests/PHPStan/Rules/Sql/SqlReservedWordRule.php
  tests/Tests/Isolated/PHPStan/Sql/SchemaColumnRegistryTest.php
Due: composer-require-checker

feat(phpstan)!: rewrite SqlReservedWordRule as parser-driven + fix 18 latent bugs
  interface/drugs/dispense_drug.php
  interface/eRxStore.php
  interface/eRx_xml.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CarecoordinationTable.php
  interface/orders/single_order_results.inc.php
  interface/patient_file/summary/labdata.php
  interface/reports/prescriptions_report.php
  library/ESign/DbRow/Signable.php
  library/ESign/Form/Signable.php
  library/sql-ccr.inc.php
  src/Services/ContactAddressService.php
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
  tests/PHPStan/Rules/Sql/SqlReservedWordRule.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_columns_not_yet_caught.php
  tests/Tests/Isolated/PHPStan/Sql/data/join_on_position.php
  tests/Tests/Isolated/PHPStan/Sql/data/multiple_offenders.php
  tests/Tests/Isolated/PHPStan/Sql/data/set_position_not_yet_caught.php
  tests/Tests/Isolated/PHPStan/Sql/data/update_set_position.php
  tests/Tests/Isolated/PHPStan/Sql/data/where_position.php
Due: composer-require-checker

feat(phpstan): cover INSERT column lists in SqlReservedWordRule
  tests/PHPStan/Rules/Sql/SqlReservedWordRule.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_backtick_column.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_columns_not_yet_caught.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_multiple_columns_one_offender.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_no_column_list.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_unbacktick_column.php
Due: composer-require-checker

chore(db): drop superfluous comment block from 8_1_0-to-8_1_1 upgrade
  sql/8_1_0-to-8_1_1_upgrade.sql
Due: none

feat(phpstan): cover DatabaseQueryTrait instance-method sinks
  tests/PHPStan/Rules/Sql/SqlSinkResolver.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/trait_method_sink.php
Due: composer-require-checker

chore(db): add minimal v_database 539 marker to upgrade SQL
  sql/8_1_0-to-8_1_1_upgrade.sql
Due: none

revert(ci): drop database-style backtick check
  .github/workflows/database-style.yml
Due: none

feat(phpstan): auto-refresh MYSQL_EIGHT_SUPPLEMENT on monthly cron
  .github/workflows/refresh-mysql-supplement.yml
  bin/refresh-mysql-supplement.php
Due: composer-require-checker

ci(db): require backticked column definitions in sql/database.sql
  .github/workflows/database-style.yml
Due: none

chore: revert stray ccdaservice/package-lock.json drift
  ccdaservice/package-lock.json
Due: none

refactor(phpstan): auto-discover latest phpmyadmin Context class
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
Due: composer-require-checker

fix(phpstan)!: address review + correct over-flagging on qualified refs
  interface/drugs/dispense_drug.php
  interface/eRxStore.php
  interface/eRx_xml.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CarecoordinationTable.php
  interface/orders/single_order_results.inc.php
  interface/patient_file/summary/labdata.php
  interface/reports/prescriptions_report.php
  library/ESign/DbRow/Signable.php
  library/ESign/Form/Signable.php
  library/sql-ccr.inc.php
  src/Services/ContactAddressService.php
  tests/PHPStan/Rules/Sql/SchemaColumnRegistry.php
  tests/PHPStan/Rules/Sql/SqlReservedWordRule.php
  tests/PHPStan/Rules/Sql/SqlSinkResolver.php
  tests/Tests/Isolated/PHPStan/Sql/SchemaColumnRegistryTest.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/join_on_position.php
  tests/Tests/Isolated/PHPStan/Sql/data/qualified_references.php
Due: composer-require-checker

feat(phpstan): add SqlReservedWordRule to catch unbacktick'd reserved-word columns
  .phpstan/extension.neon
  .phpstan/phpstan.github.neon
  composer.json
  composer.lock
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
  tests/PHPStan/Rules/Sql/SchemaColumnRegistry.php
  tests/PHPStan/Rules/Sql/SqlReservedWordRule.php
  tests/PHPStan/Rules/Sql/SqlSinkResolver.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/backtick_rank_in_order_by.php
  tests/Tests/Isolated/PHPStan/Sql/data/concat_chain.php
  tests/Tests/Isolated/PHPStan/Sql/data/dynamic_sql.php
  tests/Tests/Isolated/PHPStan/Sql/data/group_by_reserved.php
  tests/Tests/Isolated/PHPStan/Sql/data/multiple_offenders.php
  tests/Tests/Isolated/PHPStan/Sql/data/non_identifier_keyword_positions.php
  tests/Tests/Isolated/PHPStan/Sql/data/non_sink_function.php
  tests/Tests/Isolated/PHPStan/Sql/data/queryutils_static_sink.php
  tests/Tests/Isolated/PHPStan/Sql/data/reserved_not_column.php
  tests/Tests/Isolated/PHPStan/Sql/data/set_position_not_yet_caught.php
  tests/Tests/Isolated/PHPStan/Sql/data/string_literal_value.php
  tests/Tests/Isolated/PHPStan/Sql/data/unbacktick_rank_in_order_by.php
  tests/Tests/Isolated/PHPStan/Sql/fixtures/test-schema.sql
Due: composer-validate, composer-normalize, composer-require-checker

chore(phpstan): three review followups on SqlReservedWordRule
  bin/refresh-reserved-word-supplement.php
  tests/PHPStan/Rules/Sql/SchemaColumnRegistry.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_on_duplicate_key_update.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_select_form.php
Due: composer-require-checker

refactor(phpstan): parse schema via phpmyadmin parser; backtick schema outliers
  sql/database.sql
  tests/PHPStan/Rules/Sql/SchemaColumnRegistry.php
Due: composer-require-checker

chore(db): bump v_database to 539 for ccda backtick cleanup
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

fix(sql): backtick bare system in ContactTelecomService and populate supplement from live engines
  bin/refresh-reserved-word-supplement.php
  reserved-words/mariadb.tsv
  reserved-words/mysql.tsv
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
Due: composer-require-checker

refactor(phpstan): refresh supplement from live MySQL+MariaDB instead of docs
  .github/workflows/refresh-mysql-supplement.yml
  .github/workflows/refresh-reserved-word-supplement.yml
  bin/refresh-mysql-supplement.php
  bin/refresh-reserved-word-supplement.php
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
Due: composer-require-checker

fix(payments): add cryptogen to front_payment.php (#12339)
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/variable.undefined.php
  interface/patient_file/front_payment.php
Due: composer-require-checker

chore(release): prep 8.1.0
  CHANGELOG.md
Due: none

fix(oauth): use spec-compliant `invalid_request` error code (remove stray space) (#12327)
  src/RestControllers/Authorization/BearerTokenAuthorizationStrategy.php
  src/RestControllers/AuthorizationController.php
Due: composer-require-checker

phpstan fix
  interface/main/calendar/add_edit_event.php
  interface/practice/ins_search.php
Due: composer-require-checker

test(fhir): add HTTP write-API tests for 16 FHIR resources
  tests/Tests/Api/AllergyIntoleranceFhirWriteApiTest.php
  tests/Tests/Api/AppointmentFhirWriteApiTest.php
  tests/Tests/Api/CarePlanFhirWriteApiTest.php
  tests/Tests/Api/CareTeamFhirWriteApiTest.php
  tests/Tests/Api/ConditionFhirWriteApiTest.php
  tests/Tests/Api/CoverageFhirWriteApiTest.php
  tests/Tests/Api/DeviceFhirWriteApiTest.php
  tests/Tests/Api/EncounterFhirWriteApiTest.php
  tests/Tests/Api/GoalFhirWriteApiTest.php
  tests/Tests/Api/ImmunizationFhirWriteApiTest.php
  tests/Tests/Api/MedicationFhirWriteApiTest.php
  tests/Tests/Api/MedicationRequestFhirWriteApiTest.php
  tests/Tests/Api/PersonFhirWriteApiTest.php
  tests/Tests/Api/PractitionerRoleFhirWriteApiTest.php
  tests/Tests/Api/RelatedPersonFhirWriteApiTest.php
  tests/Tests/Api/ServiceRequestFhirWriteApiTest.php
Due: composer-require-checker

fix(payments): edit payment sql error
  interface/billing/edit_payment.php
Due: composer-require-checker

remove code
  interface/billing/edit_payment.php
Due: composer-require-checker

fix(calendar): reject future cache timestamps, use API entitlement in injection listener
  interface/modules/custom_modules/oe-module-medex/src/Listeners/CalendarInjectionListener.php
  interface/modules/custom_modules/oe-module-medex/src/MedExAPI.php
Due: composer-require-checker

fix(calendar): wipe all open slots on template deploy, not just same-source slots
  interface/modules/custom_modules/oe-module-medex/public/callback.php
Due: composer-require-checker

fix(calendar): show patient appointments regardless of category filter
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): keep template slot chip visible when patient is booked
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): move availability badge to Chip 1 only
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
Due: none

fix(calendar): render SMS/Email/AVM reminder icons cleanly on patient appointments
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
Due: none

docs(ci): Add local CI tooling instructions to README
  README.md
Due: none

feat(phpstan): SqlReservedWordRule + automated MySQL/MariaDB drift detection (#12335)
  .github/workflows/refresh-reserved-word-supplement.yml
  .phpstan/extension.neon
  .phpstan/phpstan.github.neon
  bin/refresh-reserved-word-supplement.php
  composer.json
  composer.lock
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
  tests/PHPStan/Rules/Sql/SchemaColumnRegistry.php
  tests/PHPStan/Rules/Sql/SqlReservedWordRule.php
  tests/PHPStan/Rules/Sql/SqlSinkResolver.php
  tests/PHPStan/Rules/Sql/snapshots/mariadb.tsv
  tests/PHPStan/Rules/Sql/snapshots/mysql.tsv
  tests/Tests/Isolated/PHPStan/Sql/SchemaColumnRegistryTest.php
  tests/Tests/Isolated/PHPStan/Sql/SqlReservedWordRuleTest.php
  tests/Tests/Isolated/PHPStan/Sql/data/backtick_rank_in_order_by.php
  tests/Tests/Isolated/PHPStan/Sql/data/concat_chain.php
  tests/Tests/Isolated/PHPStan/Sql/data/dynamic_sql.php
  tests/Tests/Isolated/PHPStan/Sql/data/group_by_reserved.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_backtick_column.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_multiple_columns_one_offender.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_no_column_list.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_on_duplicate_key_update.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_select_form.php
  tests/Tests/Isolated/PHPStan/Sql/data/insert_unbacktick_column.php
  tests/Tests/Isolated/PHPStan/Sql/data/multiple_offenders.php
  tests/Tests/Isolated/PHPStan/Sql/data/non_identifier_keyword_positions.php
  tests/Tests/Isolated/PHPStan/Sql/data/non_sink_function.php
  tests/Tests/Isolated/PHPStan/Sql/data/qualified_references.php
  tests/Tests/Isolated/PHPStan/Sql/data/queryutils_static_sink.php
  tests/Tests/Isolated/PHPStan/Sql/data/reserved_not_column.php
  tests/Tests/Isolated/PHPStan/Sql/data/string_literal_value.php
  tests/Tests/Isolated/PHPStan/Sql/data/trait_method_sink.php
  tests/Tests/Isolated/PHPStan/Sql/data/unbacktick_rank_in_order_by.php
  tests/Tests/Isolated/PHPStan/Sql/data/update_set_position.php
  tests/Tests/Isolated/PHPStan/Sql/data/where_position.php
  tests/Tests/Isolated/PHPStan/Sql/fixtures/test-schema.sql
  version.php
Due: composer-validate, composer-normalize, composer-require-checker

chore(phpstan): refresh RESERVED_WORD_SUPPLEMENT
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
  tests/PHPStan/Rules/Sql/snapshots/mariadb.tsv
Due: composer-require-checker

ci(phpstan): use GitHub App identity for reserved-word refresh PRs
  .github/workflows/refresh-reserved-word-supplement.yml
Due: none

ci(phpstan): preflight check for App identity secrets
  .github/workflows/refresh-reserved-word-supplement.yml
Due: none

docs(worktree): document openemr-cmd worktree prune + graceful remove
  CLAUDE.md
  CONTRIBUTING.md
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

