Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


ci(docker): unified fixes from cross-PR CodeRabbit review (rel-810 side)
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-test-bats.yml
  .github/workflows/docker-test-container-functionality.yml
  docker/COVERAGE.md
  docker/container_benchmarking/benchmark.sh
  docker/container_benchmarking/compare_results.sh
  docker/container_benchmarking/summary.sh
  docker/container_benchmarking/test_suite.sh
  tests/bats/docker/helpers.bash
  tests/bats/docker/release/scripts.bats
Due: none

ci(docker): unified fixes from cross-PR CodeRabbit review (rel-800 side)
  .github/workflows/docker-build-release.yml
  docker/COVERAGE.md
  docker/release/README.md
Due: none

ci(docker): unified fixes from cross-PR CodeRabbit review (rel-704 side)
  .github/workflows/docker-build-release.yml
  docker/COVERAGE.md
  docker/release/README.md
  docker/release/env.stub
Due: none

fix(ccda): align social history and encounter location with Node.js
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): add encounter diagnosis entryRelationship support
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): only render medication period when data exists
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): use mapCodeTypeToSystem for encounter diagnosis value
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(security): Remove unused client SSL certificate auth feature
  interface/main/tabs/menu/menus/standard.json
  interface/usergroup/ssl_certificates_admin.php
  library/create_ssl_certificate.php
  library/globals.inc.php
  sites/default/documents/custom_menus/Custom.json
Due: composer-require-checker

feat(ccda): add dynamic immunization moodCode/negationInd and optional fields
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(audit): Remove SSL_CLIENT_S_DN_CN from audit events
  src/Common/Logging/Audit/Event.php
  src/Common/Logging/Audit/LogTablesSink.php
  src/Common/Logging/EventAuditLogger.php
Due: composer-require-checker

feat(ccda): add immunization repeatNumber, approachSite, dose, refusal
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

test(audit): Update tests for SSL_CLIENT_S_DN_CN removal
  tests/Tests/Isolated/Common/Logging/Audit/AtnaSinkTest.php
  tests/Tests/Isolated/Common/Logging/Audit/LogTablesSinkTest.php
  tests/Tests/Unit/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

test(e2e): Remove Certificates menu test case
  tests/Tests/E2e/HhMainMenuLinksTest.php
Due: composer-require-checker

feat(ccda): add negationInd support to allergy and problem observations
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): add medication manufacturerOrganization support
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fatal baseline caps
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

ci(docker): rel-800 publishes both 8.0.0 and 8.0.0.3 + validate all version tags
  .github/release-targets.yml
  .github/workflows/docker-validate-release-targets.yml
Due: none

ci(docker): port Docker Hub readme push to openemr core (phase 4)
  .github/workflows/docker-push-dockerhub-readme.yml
  docker/dockerhub-overview.md
  docker/render-dockerhub-overview.sh
Due: none

ci(docker): clean shellcheck on Docker Hub readme renderer + dynamic flex discovery
  .github/workflows/docker-push-dockerhub-readme.yml
  docker/render-dockerhub-overview.sh
Due: none

ci(docker): readme workflow paths use docker-build-*.yml glob
  .github/workflows/docker-push-dockerhub-readme.yml
Due: none

ci(docker): regroup Docker Hub readme files under docker/dockerhub/
  .github/workflows/docker-push-dockerhub-readme.yml
  docker/dockerhub/overview.md
  docker/dockerhub/render.sh
Due: none

ci(docker): add Tier 1 sanity checks for Docker Hub readme renderer
  .github/workflows/docker-push-dockerhub-readme.yml
  docker/dockerhub/test.sh
Due: none

ci(docker): Tier 2 golden-file test + restructure tests under tests/
  .github/workflows/docker-push-dockerhub-readme.yml
  docker/dockerhub/render.sh
  docker/dockerhub/tests/fixtures/release-targets.yml
  docker/dockerhub/tests/fixtures/workflows/docker-build-fix1.yml
  docker/dockerhub/tests/fixtures/workflows/docker-build-fix2.yml
  docker/dockerhub/tests/golden-regenerate.sh
  docker/dockerhub/tests/golden-test.sh
  docker/dockerhub/tests/golden.md
  docker/dockerhub/tests/sanity.sh
Due: none

ci(docker): cross-reference comments between flex-core and the readme renderer
  .github/workflows/docker-build-flex-core.yml
  docker/dockerhub/render.sh
Due: none

ci(docker): order Docker Hub readme bullets the way consumers expect
  docker/dockerhub/render.sh
  docker/dockerhub/tests/golden.md
  docker/dockerhub/tests/sanity.sh
Due: none

ci(docker): quote ${RUNNER_TEMP} expansion inside wc -l for SC2086
  .github/workflows/docker-push-dockerhub-readme.yml
Due: none

ci(docker): two CodeRabbit review fixes (COVERAGE.md script ref + validator rule 6 comment)
  .github/workflows/docker-validate-release-targets.yml
  docker/COVERAGE.md
Due: none

ci(docker): sync docker/COVERAGE.md from master (CodeRabbit fix)
  docker/COVERAGE.md
Due: none

fix(ccda): match Node.js exact case-sensitive smoking status lookup
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): resolve PHPStan issues and align social history with Node.js
  src/Cda/InternalToCdaConverter.php
  tests/Tests/Isolated/Cda/InternalToCdaConverterTest.php
Due: composer-require-checker

fix(calendar): restore appointments hidden after 8.0→8.1 upgrade
  sql/8_1_0-to-8_1_1_upgrade.sql
Due: none

fix(calendar): bump v_database to 540 for calendar migration
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

fix(calendar): bump v_database to 539 for calendar migration
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

Min 1.1 on container for null handlers
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Set up EventManager
  config/database.php
Due: composer-require-checker
