Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

Override deprecation warning in the test cases
  tests/Tests/Common/Crypto/CryptoGenDecryptionTest.php
  tests/Tests/Unit/Common/Crypto/CryptoGenTest.php
Due: composer-require-checker

chore(codecov): carry forward coverage for flags
  codecov.yml
Due: none

Update faxsms to new crypto apis
  .phpstan/baseline/argument.type.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/VoiceClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RCVoice/VoiceFunctionsTrait.php
Due: composer-require-checker

feat(phpstan): forbid direct access to the $_SESSION superglobal
  .phpstan/extension.neon
  .phpstan/phpstan.github.neon
  interface/main/messages/messages.php
  tests/PHPStan/Rules/ForbiddenSessionSuperglobalRule.php
  tests/Tests/Isolated/PHPStan/ForbiddenSessionSuperglobalRuleTest.php
  tests/Tests/Isolated/PHPStan/data/session_superglobal_usage.php
Due: composer-require-checker

Fix deprecated method replacement names
  src/Common/Crypto/CryptoInterface.php
Due: composer-require-checker

Ignore last pair of spots
  interface/modules/custom_modules/oe-module-faxsms/library/faxMedia.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  src/FHIR/SMART/SMARTLaunchToken.php
Due: composer-require-checker

chore(codecov): carry forward coverage for flags (#13223)
  codecov.yml
Due: none

fix(questionnaire): address review findings on native QuestionnaireResponse save
  Documentation/api/SMART_QUESTIONNAIRE_LAUNCH_CONTEXT.md
  contrib/util/repair_questionnaire_json.php
  interface/forms/questionnaire_assessments/native_questionnaire.php
  interface/forms/questionnaire_assessments/native_save.php
  interface/forms/questionnaire_assessments/questionnaire_assessments.php
  src/Services/InvalidQuestionnaireResponseException.php
  src/Services/NativeQuestionnaireResponseProcessor.php
  tests/Tests/Isolated/Services/NativeQuestionnaireResponseProcessorTest.php
Due: composer-require-checker

adjust caps count.
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

feat(phpstan): forbid direct access to the $_SESSION superglobal (#13224)
  .phpstan/extension.neon
  .phpstan/phpstan.github.neon
  interface/main/messages/messages.php
  tests/PHPStan/Rules/ForbiddenSessionSuperglobalRule.php
  tests/Tests/Isolated/PHPStan/ForbiddenSessionSuperglobalRuleTest.php
  tests/Tests/Isolated/PHPStan/data/session_superglobal_usage.php
Due: composer-require-checker

Move crypto prop to trait
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/VoiceClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RCVoice/VoiceFunctionsTrait.php
Due: composer-require-checker

Spelling
  tests/Tests/Common/Crypto/CryptoGenDecryptionTest.php
  tests/Tests/Unit/Common/Crypto/CryptoGenTest.php
Due: composer-require-checker

Apply unnecessary rector fix
  interface/modules/custom_modules/oe-module-faxsms/src/RCVoice/VoiceFunctionsTrait.php
Due: composer-require-checker

fix(questionnaire): address second-pass review on native QuestionnaireResponse save
  interface/forms/questionnaire_assessments/native_save.php
  src/Services/NativeQuestionnaireResponseProcessor.php
  tests/Tests/Isolated/Services/NativeQuestionnaireResponseProcessorTest.php
Due: composer-require-checker

chore(crypto): Deprecate the non-setting-checked cryptography APIs (#13225)
  .phpstan/baseline/argument.type.php
  interface/modules/custom_modules/oe-module-faxsms/library/faxMedia.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/VoiceClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RCVoice/VoiceFunctionsTrait.php
  src/BC/Crypto/ContextualEncryptionTrait.php
  src/Common/Crypto/CryptoGen.php
  src/Common/Crypto/CryptoInterface.php
  src/FHIR/SMART/SMARTLaunchToken.php
  tests/Tests/Common/Crypto/CryptoGenDecryptionTest.php
  tests/Tests/Unit/Common/Crypto/CryptoGenTest.php
Due: composer-require-checker

refactor(questionnaire): centralize server-owned QR fields into an allowlist
  src/Services/NativeQuestionnaireResponseProcessor.php
  tests/Tests/Isolated/Services/NativeQuestionnaireResponseProcessorTest.php
Due: composer-require-checker

fix(portal): create patient document staging directory as 0700
  portal/report/document_downloads_action.php
Due: composer-require-checker

chore(deps): backport acceptance-suite composer surface to rel-820 (symfony/mime + autoload + acceptance script)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

refactor: incidental cleanups
  interface/modules/zend_modules/public/xsl/_narrative-block-attrs.xsl
  interface/modules/zend_modules/public/xsl/cda.xsl
  library/edihistory/edih_archive.php
  tests/Tests/Isolated/CCDA/CcdaXslAttributeFilterTest.php
  tests/Tests/Isolated/library/EdihArchiveNamePatternTest.php
Due: composer-require-checker

chore(deps): backport acceptance-suite composer surface to rel-820 (symfony/mime + autoload + acceptance script) (#13227)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

ci(byte-identical): drop rel-820 exclusion from acceptance surface + build-release.yml (unblocked by openemr/openemr#13227)
  .github/byte-identical.yml
Due: none

refactor: incidental cleanups (follow-up)
  interface/modules/zend_modules/public/xsl/_narrative-block-attrs.xsl
  interface/modules/zend_modules/public/xsl/cda.xsl
  tests/Tests/Isolated/CCDA/CcdaXslAttributeFilterTest.php
Due: composer-require-checker

ci(byte-identical): drop rel-820 exclusion from acceptance surface + build-release.yml (unblocked by #13227) (#13233)
  .github/byte-identical.yml
Due: none

refactor: incidental cleanups (#13232)
  interface/modules/zend_modules/public/xsl/_narrative-block-attrs.xsl
  interface/modules/zend_modules/public/xsl/cda.xsl
  library/edihistory/edih_archive.php
  tests/Tests/Isolated/CCDA/CcdaXslAttributeFilterTest.php
  tests/Tests/Isolated/library/EdihArchiveNamePatternTest.php
Due: composer-require-checker

fix(ci): preserve executable bit when sync-byte-identical.sh copies files from master
  .github/scripts/sync-byte-identical.sh
  tests/bats/ci-scripts/sync-byte-identical/helpers.bash
  tests/bats/ci-scripts/sync-byte-identical/sync.bats
Due: none

fix(ci): preserve executable bit when sync-byte-identical.sh copies files from master (#13237)
  .github/scripts/sync-byte-identical.sh
  tests/bats/ci-scripts/sync-byte-identical/helpers.bash
  tests/bats/ci-scripts/sync-byte-identical/sync.bats
Due: none

ci(phpstan): exclude tests/Acceptance/bin/*.php on rel-820
  phpstan.neon.dist
Due: none

ci(phpstan): exclude tests/Acceptance/bin/*.php on rel-820 (#13238)
  phpstan.neon.dist
Due: none

ci(docker): sync byte-identical files from master (2acde88d643e4d201b0202669cba88c0c3a3863f)
  .github/byte-identical.yml
  .github/docker/acceptance-docker-compose.yml
  .github/docker/acceptance-package-compose.yml
  .github/workflows/acceptance-docker.yml
  .github/workflows/acceptance-package.yml
  .github/workflows/build-release.yml
  tests/Acceptance/ApiSmokeTest.php
  tests/Acceptance/E2eCriticalPathTest.php
  tests/Acceptance/FhirSmokeTest.php
  tests/Acceptance/InstallTest.php
  tests/Acceptance/InstallWizardUiTest.php
  tests/Acceptance/OAuth2ApiEnabledTest.php
  tests/Acceptance/OAuth2SmokeTest.php
  tests/Acceptance/Support/ArtifactBrowser.php
  tests/Acceptance/Support/BrowserSession.php
  tests/Acceptance/Support/LoginFlow.php
  tests/Acceptance/Support/OAuth2/AuthCodeFlow.php
  tests/Acceptance/Support/ResponseHeaders.php
  tests/Acceptance/UpgradeIntegrityTest.php
  tests/Acceptance/UpgradeWizardUiTest.php
  tests/Acceptance/bin/api-enable.php
  tests/Acceptance/bin/boot-docker.sh
  tests/Acceptance/bin/boot-package.sh
  tests/Acceptance/bin/down-docker.sh
  tests/Acceptance/bin/down-package.sh
  tests/Acceptance/bin/install-helper.php
  tests/Acceptance/bin/upgrade-package.sh
  tests/Acceptance/bootstrap.php
  tests/Acceptance/phpunit.acceptance.xml
Due: composer-require-checker

docs(plan): document 7c-docker rel-820 backport + Phase 4 continuation candidates
  docs/artifact-acceptance-testing-plan.md
Due: none

ci(docker): Phase 7c-docker-latest-gate — acceptance-gate `latest` builds
  .github/workflows/acceptance-docker.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-release-orchestrator.yml
Due: none

fix(ci): debug redis fail
  .github/workflows/test.yml
  ci/ciLibrary.source
Due: none

ci(docker): tighten Phase 7c-docker per code review
  .github/workflows/acceptance-docker.yml
  .github/workflows/docker-build-release.yml
Due: none

feat(fc): coderabbit review
  .github/workflows/test.yml
Due: none

feat(fc): missed coderabbit review
  ci/ciLibrary.source
Due: none

ci(docker): rework Phase 7c-docker gate to candidate-tag on Docker Hub
  .github/workflows/acceptance-docker.yml
  .github/workflows/docker-build-release.yml
Due: none

feat(fc): shellcheck fixes
  ci/ciLibrary.source
Due: none

ci(docker): add arm64 acceptance coverage to Phase 7c-docker gate
  .github/workflows/acceptance-docker.yml
  .github/workflows/docker-build-release.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

