Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


ci(phpstan): use GitHub App for reserved-word refresh PRs so CI runs (#12368)
  .github/workflows/refresh-reserved-word-supplement.yml
Due: none

chore(phpstan): refresh RESERVED_WORD_SUPPLEMENT
  tests/PHPStan/Rules/Sql/ReservedWordRegistry.php
  tests/PHPStan/Rules/Sql/snapshots/mariadb.tsv
Due: composer-require-checker

ci(phpstan): migrate reserved-word bot to client-id / vars
  .github/workflows/refresh-reserved-word-supplement.yml
Due: none

docs(worktree): disambiguate `worktree list` from `git worktree list`
  CLAUDE.md
Due: none

ci(phpstan): migrate reserved-word bot to client-id / vars (#12371)
  .github/workflows/refresh-reserved-word-supplement.yml
Due: none

ci(deps): migrate dependabot-auto-merge to client-id / vars
  .github/workflows/dependabot-auto-merge.yml
Due: none

feat(calendar): show pc_apptstatus badge on patient appointments
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/index.php
Due: composer-require-checker

fix(calendar): restore modality icons; remove duplicate appt type from Chip 2
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): remove name duplication; fix icon inline positioning
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

feat(calendar): restore Coloris alpha picker; add reminder history to tooltip
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): fix Chip 2 name duplication; restore category; badge top-left
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/index.php
Due: composer-require-checker

fix(calendar): accept alpha hex colors; compact status badge; no phantom Chip 1
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/index.php
Due: composer-require-checker

fix(payments): edit payment sql error (#12353)
  interface/billing/edit_payment.php
Due: composer-require-checker

chore(release): prep 8.1.0
  CHANGELOG.md
Due: none

fix for test
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/NotificationTaskManager.php
Due: composer-require-checker

Fix several warnings in setup_service replace sqlStatementNoLog in NotificationTaskManager hopefully fix test
  interface/modules/custom_modules/oe-module-faxsms/library/setup_services.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/NotificationTaskManager.php
Due: composer-require-checker

ci(deps): migrate dependabot-auto-merge to client-id / vars (#12372)
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(calendar): restore Chip 1 visibility alongside patient appointments
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): synthesize Chip 1 from registry after slot deletion
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): restore full wrapper; pre-select category; suppress provider warning; fix badge
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/edit_event_wrapper.php
Due: composer-require-checker

fix(calendar-studio): broad wipe on deploy; start date; 1-month default horizon
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
Due: composer-require-checker

fix(calendar): hide template slots from native OpenEMR calendar wrapper view
  interface/modules/custom_modules/oe-module-medex/public/calendar/openemr_calendar_wrapper.php
Due: composer-require-checker

fix(calendar-studio): skip inserting open slots over existing patient appointments
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
Due: composer-require-checker

fix(calendar): forward-only template inference; no phantom Chip 1 from incomplete bookings
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): synthesize Chip 1 from patient appt when no slot exists; Studio uses MEDEX_STUDIO only
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

revert(calendar): remove fabricated Chip 1 synthesis from patient appointments
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar-studio): two-pass template inference; DEPLOYED vs HISTORICAL SAMPLE badges
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
Due: composer-require-checker

feat(calendar): restore Open Slot when patient appointment is deleted
  interface/modules/custom_modules/oe-module-medex/public/calendar/api/restore_slot.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/edit_event_wrapper.php
Due: composer-require-checker

docs(worktree): sync to new list footer + close raw-git-worktree loophole
  CLAUDE.md
  CONTRIBUTING.md
Due: none

docs(worktree): document openemr-cmd worktree prune + graceful remove (#12369)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

chore(deps): add ext-redis to composer config.platform
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

chore(deps): add ext-redis to composer config.platform (#12381)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(calendar): Chip 1 stays permanently; slot never deleted on booking
  interface/modules/custom_modules/oe-module-medex/public/calendar/edit_event_wrapper.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/get_events.php
Due: composer-require-checker

fix(calendar): full-future wipe on deploy; targeted template hiding; short chip badge
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
  interface/modules/custom_modules/oe-module-medex/public/calendar/openemr_calendar_wrapper.php
Due: composer-require-checker

feat(calendar-studio): facility per slot type; template snapshots; remove global facility
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
Due: composer-require-checker

feat(calendar-studio): 4-week rotation, monthly cadence, provider copy-from
  interface/modules/custom_modules/oe-module-medex/public/calendar/calendar_service.php
Due: composer-require-checker
