Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

feat(fqhc): live UDS Patient Snapshot (Step 2, #14)
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
  interface/modules/custom_modules/oe-module-fqhc/templates/fqhc/showcase.html.twig
  interface/modules/custom_modules/oe-module-fqhc/templates/fqhc/snapshot.html.twig
  src/FQHC/Snapshot/AgeCalculator.php
  src/FQHC/Snapshot/PatientDemographics.php
  src/FQHC/Snapshot/PatientDemographicsRepository.php
  src/FQHC/Snapshot/PendingSection.php
  src/FQHC/Snapshot/UdsField.php
  src/FQHC/Snapshot/UdsSnapshot.php
  src/FQHC/Snapshot/UdsSnapshotAssembler.php
  tests/Tests/Isolated/Common/Twig/TwigTemplateCompilationTest.php
  tests/Tests/Isolated/FQHC/Snapshot/AgeCalculatorTest.php
  tests/Tests/Isolated/FQHC/Snapshot/UdsSnapshotAssemblerTest.php
Due: composer-require-checker

feat(fqhc): FPL computation foundation (Step 3, #15 — slice 1)
  src/FQHC/Fpl/FederalPovertyGuideline.php
  src/FQHC/Fpl/FplBand.php
  src/FQHC/Fpl/FplCalculator.php
  src/FQHC/Fpl/FplRegion.php
  src/FQHC/Fpl/FplResult.php
  src/FQHC/Fpl/IncomeDetermination.php
  src/FQHC/Fpl/SlidingFeeSchedule.php
  src/FQHC/Fpl/SlidingFeeTier.php
  tests/Tests/Isolated/FQHC/Fpl/FederalPovertyGuidelineTest.php
  tests/Tests/Isolated/FQHC/Fpl/FplCalculatorTest.php
  tests/Tests/Isolated/FQHC/Fpl/IncomeDeterminationTest.php
  tests/Tests/Isolated/FQHC/Fpl/SlidingFeeScheduleTest.php
Due: composer-require-checker

fix(docker): fail irp loudly if synthea generates no CCDA files; write log to /tmp
  contrib/util/ccda_import/import_ccda.php
  docker/binary/utilities/devtoolsLibrary.source
  docker/flex/utilities/devtoolsLibrary.source
  docker/release/utilities/devtoolsLibrary.source
Due: composer-require-checker

fix(docker): shellcheck — use [[ ]] over [ ], make ls exit-discard explicit
  docker/binary/utilities/devtoolsLibrary.source
  docker/flex/utilities/devtoolsLibrary.source
  docker/release/utilities/devtoolsLibrary.source
Due: none

fix(docker): irp imports 0 patients because synthea output is in root-only /root/ (#12632)
  contrib/util/ccda_import/import_ccda.php
  docker/binary/utilities/devtoolsLibrary.source
  docker/flex/utilities/devtoolsLibrary.source
  docker/release/utilities/devtoolsLibrary.source
Due: composer-require-checker

chore(phpstan): lower variable.undefined cap after removing pnAPI baseline entry
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

feat(fqhc): capture income & FPL on the Snapshot (Step 3, #15)
  interface/modules/custom_modules/oe-module-fqhc/moduleConfig.php
  interface/modules/custom_modules/oe-module-fqhc/public/assets/css/fqhc.css
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
  interface/modules/custom_modules/oe-module-fqhc/public/save_income.php
  interface/modules/custom_modules/oe-module-fqhc/sql/install.sql
  interface/modules/custom_modules/oe-module-fqhc/templates/fqhc/snapshot.html.twig
  interface/modules/custom_modules/oe-module-fqhc/version.php
  src/FQHC/Fpl/FplGuidelineRepository.php
  src/FQHC/Income/IncomeSummary.php
  src/FQHC/Income/IncomeSummaryFactory.php
  src/FQHC/Income/PatientIncomeRepository.php
  src/FQHC/Snapshot/UdsSnapshotAssembler.php
  tests/Tests/Isolated/FQHC/Income/IncomeSummaryFactoryTest.php
  tests/Tests/Isolated/FQHC/Snapshot/UdsSnapshotAssemblerTest.php
Due: composer-require-checker

feat(fqhc): capture special-population statuses on the Snapshot (Step 4, #16)
  interface/modules/custom_modules/oe-module-fqhc/moduleConfig.php
  interface/modules/custom_modules/oe-module-fqhc/public/assets/css/fqhc.css
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
  interface/modules/custom_modules/oe-module-fqhc/public/save_special_population.php
  interface/modules/custom_modules/oe-module-fqhc/sql/install.sql
  interface/modules/custom_modules/oe-module-fqhc/templates/fqhc/snapshot.html.twig
  src/FQHC/Snapshot/UdsSnapshotAssembler.php
  src/FQHC/SpecialPopulation/AgriculturalWorkerType.php
  src/FQHC/SpecialPopulation/HomelessStatus.php
  src/FQHC/SpecialPopulation/PatientSpecialPopulationRepository.php
  src/FQHC/SpecialPopulation/SpecialPopulation.php
  src/FQHC/SpecialPopulation/SpecialPopulationStatus.php
  tests/Tests/Isolated/FQHC/Snapshot/UdsSnapshotAssemblerTest.php
  tests/Tests/Isolated/FQHC/SpecialPopulation/SpecialPopulationStatusTest.php
Due: composer-require-checker

feat(fqhc): surface insurance as UDS payer category (Step 5, #17)
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
  interface/modules/custom_modules/oe-module-fqhc/templates/fqhc/snapshot.html.twig
  src/FQHC/Payer/PatientPayerRepository.php
  src/FQHC/Payer/PatientPrimaryInsurance.php
  src/FQHC/Payer/UdsPayerCategory.php
  src/FQHC/Payer/UdsPayerClassifier.php
  src/FQHC/Payer/UdsPayerSummary.php
  src/FQHC/Payer/UdsPayerSummaryFactory.php
  src/FQHC/Snapshot/UdsSnapshotAssembler.php
  tests/Tests/Isolated/FQHC/Payer/UdsPayerClassifierTest.php
  tests/Tests/Isolated/FQHC/Payer/UdsPayerSummaryFactoryTest.php
  tests/Tests/Isolated/FQHC/Snapshot/UdsSnapshotAssemblerTest.php
Due: composer-require-checker

refactor(db): Move doctrine/migrations config (#12633)
  config/database.php
  db/migration-config.php
Due: composer-require-checker

# faxsms: message UI restructure, one-time/webhook security audit, static-analysis hardening
  interface/modules/custom_modules/oe-module-faxsms/library/api_onetime.php
  interface/modules/custom_modules/oe-module-faxsms/library/phone-services/voice_webhook.php
  interface/modules/custom_modules/oe-module-faxsms/messageUI.php
  interface/modules/custom_modules/oe-module-faxsms/public/js/messageUI.js
  interface/modules/custom_modules/oe-module-faxsms/setup.php
  interface/modules/custom_modules/oe-module-faxsms/setup_email.php
  interface/modules/custom_modules/oe-module-faxsms/setup_rc.php
  interface/modules/custom_modules/oe-module-faxsms/setup_voice.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/VoiceClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RCVoice/VoiceFunctionsTrait.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxUploadStaging.php
  interface/modules/custom_modules/oe-module-faxsms/src/View/MessageUiProfile.php
  tests/Tests/Isolated/Modules/FaxSMS/Enums/ServiceTypeTest.php
  tests/Tests/Isolated/Modules/FaxSMS/View/MessageUiProfileTest.php
Due: composer-require-checker

Improve cli type safety
  src/Plugins/PluginManager.php
Due: composer-require-checker

Pull in Slim
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Handle API plugins
  public/index.php
  src/Plugins/PluginManager.php
Due: composer-require-checker

Actually include the router
  src/Api/Router.php
  src/Plugins/PluginManager.php
Due: composer-require-checker

docs: add 2025 UDS manual for reference (#18)
  Documentation/UDS/README.md
  Documentation/UDS/UDS_2025_Manual.txt
Due: none

feat(demographics): rename Stats group to Additional Details with UDS-aligned inputs
  interface/new/new_comprehensive.php
  library/options.inc.php
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
Due: composer-require-checker

feat(flex): honor HOST_UID/HOST_GID for apache uid alignment
  docker/flex/openemr.sh
Due: none

feat(flex): honor HOST_UID/HOST_GID for apache uid alignment (#12642)
  docker/flex/openemr.sh
Due: none

feat(docker): declare HOST_UID/HOST_GID env in dev compose files
  docker/development-easy-light/docker-compose.yml
  docker/development-easy-redis/docker-compose.yml
  docker/development-easy/docker-compose.yml
Due: none

feat(docker): declare HOST_UID/HOST_GID env in dev compose files (#12647)
  docker/development-easy-light/docker-compose.yml
  docker/development-easy-redis/docker-compose.yml
  docker/development-easy/docker-compose.yml
Due: none

ci(release): backport all-checks-passed.yml to rel-810
  .github/workflows/all-checks-passed.yml
Due: none

docs: note HOST_UID auto-export for transparent host-uid alignment
  CLAUDE.md
  CONTRIBUTING.md
Due: none

ci(release): backport all-checks-passed.yml to rel-810 (#12649)
  .github/workflows/all-checks-passed.yml
Due: none

fix(spell): exclude CHANGELOG line quoting 'Dislay' typo from codespell
  .codespell-exclude-lines.txt
Due: none

docs: note HOST_UID auto-export for transparent host-uid alignment (#12650)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

fix(spell): exclude CHANGELOG line quoting 'Dislay' typo from codespell (#12648)
  .codespell-exclude-lines.txt
Due: none

chore(release): prep 8.1.1
  CHANGELOG.md
  docker/production/docker-compose.yml
  src/RestControllers/OpenApi/OpenApiDefinitions.php
  swagger/openemr-api.yaml
  version.php
Due: composer-require-checker

feat(docker): declare HOST_UID/HOST_GID env in insane dev compose
  docker/development-insane/docker-compose.yml
Due: none

MW tooling
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix phpstan errors for all new code fix style
  interface/modules/custom_modules/oe-module-faxsms/contact.php
  interface/modules/custom_modules/oe-module-faxsms/messageUI.php
  interface/modules/custom_modules/oe-module-faxsms/public/js/messageUI.js
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
Due: composer-require-checker

fix stan
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbidDirectSessionWrite.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
Due: composer-require-checker

cli prototype
  cli
Due: none

thread thru middleware attempt
  config/database.php
Due: composer-require-checker

mw
  src/Common/Database/Middleware/AuditingDbalLogger.php
Due: composer-require-checker

Patch up the super broken gacl accessors
  gacl/admin/about.php
  gacl/admin/gacl_admin.inc.php
  src/Gacl/Gacl.php
Due: composer-require-checker

baseline
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/property.nonObject.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

