Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: (^|/)(composer\.lock|package-lock\.json)$|\.min\.(js|css)$|\.js\.map$|\.css\.map$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
    - --indent=2
    - --no-sort-keys
    exclude: ^composer\.json$
  - id: mixed-line-ending
    args:
    - --fix=lf

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args:
    - --autofix
    - --indent=2

- repo: local
  hooks:
  - id: php-syntax-check
    name: PHP Syntax Check
    entry: php -l
    language: system
    types:
    - inc
    - php

  - id: composer-validate
    name: Validate composer.json
    entry: composer validate --strict
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: composer-normalize
    name: Normalize composer.json
    entry: composer normalize
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: phpcbf
    name: PHP Code Beautifier and Fixer
    entry: php -d memory_limit=1g ./vendor/bin/phpcbf --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpcs
    name: PHP_CodeSniffer
    entry: php -d memory_limit=1g ./vendor/bin/phpcs --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpstan
    name: PHPStan Static Analysis
    entry: php -d memory_limit=1g ./vendor/bin/phpstan analyze --configuration=phpstan.neon.dist
    language: system
    types:
    - inc
    - php

  - id: rector
    name: Rector
    entry: php -d memory_limit=1g ./vendor/bin/rector process
    language: system
    types:
    - inc
    - php

  - id: composer-require-checker
    name: Composer Require Checker
    entry: composer run-script require-checker
    language: system
    files: ^(composer\.json|.*\.(php|inc))$
    pass_filenames: false

fix: upgradee php dev docker from debian bullseye to trixie (#10126)
  docker/library/dockers/dev-php-fpm/Dockerfile
Due: none

fix: Remove PHPStan baseline entries for modernized amc_tracking.php
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan-globals-baseline.neon
Due: none

fix: Remove trailing whitespace from AMC tracking files
  src/Reports/AmcTracking/AmcTrackingController.php
  templates/reports/amc/_tracking-form.html.twig
  templates/reports/amc/_tracking-results.html.twig
  templates/reports/amc/tracking.html.twig
  tests/Tests/Unit/Reports/AmcTracking/AmcTrackingControllerTest.php
Due: composer-require-checker

chore(globals): remove `already_autoloaded` mechanism
  ccdaservice/ccda_gateway.php
  ccr/createCCR.php
  interface/forms/LBF/new.php
  interface/forms/questionnaire_assessments/questionnaire_assessments.php
  interface/forms/questionnaire_assessments/save.php
  interface/forms/sdoh/new.php
  interface/forms/sdoh/save.php
  interface/globals.php
  interface/modules/zend_modules/public/index.php
  library/ajax/easipro_util.php
  library/ajax/upload.php
  portal/account/account.php
  portal/account/index_reset.php
  portal/account/verify.php
  portal/add_edit_event_user.php
  portal/find_appt_popup_user.php
  portal/get_patient_documents.php
  portal/get_patient_info.php
  portal/get_profile.php
  portal/home.php
  portal/import_template.php
  portal/import_template_ui.php
  portal/index.php
  portal/lib/doc_lib.php
  portal/messaging/handle_note.php
  portal/messaging/messages.php
  portal/patient/_machine_config.php
  portal/portal_payment.php
  portal/report/portal_custom_report.php
  portal/report/portal_patient_report.php
  portal/sign/assets/signer_modal.php
  sphere/process_response.php
Due: composer-require-checker

chore(phpstan): updated phpstan-globals-baseline.neon after cleaning
  .phpstan/phpstan-globals-baseline.neon
Due: none

Update internals of ORDataObject to use SQL writing API instead of read to execute the statement
  src/Common/ORDataObject/ORDataObject.php
Due: composer-require-checker

phpstan
  .phpstan/phpstan-database-baseline.neon
Due: none

fix: deselect initial empty option in generate_select_list (#10113)
  library/options.inc.php
Due: composer-require-checker

chore: remove `already_autoloaded` mechanism (#10128)
  .phpstan/phpstan-globals-baseline.neon
  ccdaservice/ccda_gateway.php
  ccr/createCCR.php
  interface/forms/LBF/new.php
  interface/forms/questionnaire_assessments/questionnaire_assessments.php
  interface/forms/questionnaire_assessments/save.php
  interface/forms/sdoh/new.php
  interface/forms/sdoh/save.php
  interface/globals.php
  interface/modules/zend_modules/public/index.php
  library/ajax/easipro_util.php
  library/ajax/upload.php
  portal/account/account.php
  portal/account/index_reset.php
  portal/account/verify.php
  portal/add_edit_event_user.php
  portal/find_appt_popup_user.php
  portal/get_patient_documents.php
  portal/get_patient_info.php
  portal/get_profile.php
  portal/home.php
  portal/import_template.php
  portal/import_template_ui.php
  portal/index.php
  portal/lib/doc_lib.php
  portal/messaging/handle_note.php
  portal/messaging/messages.php
  portal/patient/_machine_config.php
  portal/portal_payment.php
  portal/report/portal_custom_report.php
  portal/report/portal_patient_report.php
  portal/sign/assets/signer_modal.php
  sphere/process_response.php
Due: composer-require-checker

fix: clinical notes saved date error
  interface/forms/care_plan/new.php
  interface/forms/clinical_notes/save.php
Due: composer-require-checker

For now, only hook into the un-logged query path
  library/sql.inc.php
Due: composer-require-checker

formatting
  library/sql.inc.php
Due: composer-require-checker

Net zero error trades
  .phpstan/phpstan-globals-baseline.neon
Due: none

Centralize the error info extraction
  library/sql.inc.php
Due: composer-require-checker

ci: skip slow tests via commit trailer
  .github/workflows/test-all.yml
  ci/README.md
Due: none

Undo bootstrap override, that wasn't meant to be committed
  tests/bootstrap.php
Due: composer-require-checker

fix: Change ORDataObject to use SQL writing API instead of read (#10129)
  .phpstan/phpstan-database-baseline.neon
  src/Common/ORDataObject/ORDataObject.php
Due: composer-require-checker

Remove outdated comment
  src/Core/OEGlobalsBag.php
Due: composer-require-checker

Use globals instance in Kernel; reformat long constructor
  src/Core/OEHttpKernel.php
Due: composer-require-checker

CCDA Refactor Initial commit
  src/Carecoordination/Model/PhpCcdaBuilder/CcdaBuilder.php
  src/Carecoordination/Model/PhpCcdaBuilder/CcdaDataTransformer.php
  src/Carecoordination/Model/PhpCcdaBuilder/CcdaDataTransformer_CORRECTED.php
  src/Carecoordination/Model/PhpCcdaBuilder/CcdaTemplateEngine.php
  src/Carecoordination/Model/PhpCcdaBuilder/CcdaXmlBuilder.php
  src/Carecoordination/Model/PhpCcdaBuilder/CodeSystems/CcdaTemplateCodes.php
  src/Carecoordination/Model/PhpCcdaBuilder/Core/Condition.php
  src/Carecoordination/Model/PhpCcdaBuilder/Core/FieldLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Core/LeafLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Core/Translate.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/DocumentLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/AdvanceDirectivesEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/AllergyEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/CareTeamEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/EncounterEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/EntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/FunctionalStatusEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/GoalEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/ImmunizationEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/MedicalDeviceEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/MedicationEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/PayerEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/PlanOfCareEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/ProblemEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/ProcedureEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/ResultEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/SharedEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/SocialHistoryEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/EntryLevel/VitalSignEntryLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/HeaderLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/HtmlHeaders.php
  src/Carecoordination/Model/PhpCcdaBuilder/Templates/SectionLevel.php
  src/Carecoordination/Model/PhpCcdaBuilder/Utils/CodeCleaner.php
  src/Carecoordination/Model/PhpCcdaBuilder/Utils/DateFormatter.php
  src/Carecoordination/Model/PhpCcdaBuilder/Utils/OidRegistry.php
Due: composer-require-checker

add global turn ons ccda new service. Temporary!
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaGenerator.php
  library/globals.inc.php
Due: composer-require-checker

Update twig/globalsbag interaction in test to match new expected behavior
  tests/Tests/Isolated/Common/Twig/TwigExtensionIsolatedTest.php
Due: composer-require-checker

ci: skip slow tests via commit trailer (#10134)
  .github/workflows/test-all.yml
  ci/README.md
Due: none

ci(conventional-commits): add tooling to enforce conventional commits
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/conventional-commits.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix: js error when samesite param missing (#10087)
  library/restoreSession.php
Due: composer-require-checker

fix(qrda): remove case-conflicting util directory
  src/Services/Qrda/util/hqmf_template_oid_map.json
  src/Services/Qrda/util/hqmfr2_template_oid_map.json
  src/Services/Qrda/util/hqmfr2cql_template_oid_map.json
  src/Services/Qrda/util/qrdar5_1_template_oid_map.json
  src/Services/Qrda/util/qrdar5_template_oid_map.json
Due: none

ci(conventional-commits): add tooling to enforce conventional commits (#10138)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/conventional-commits.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(qrda): remove case-conflicting util directory (#10144)
  src/Services/Qrda/util/hqmf_template_oid_map.json
  src/Services/Qrda/util/hqmfr2_template_oid_map.json
  src/Services/Qrda/util/hqmfr2cql_template_oid_map.json
  src/Services/Qrda/util/qrdar5_1_template_oid_map.json
  src/Services/Qrda/util/qrdar5_template_oid_map.json
Due: none

feat(ci): add SQL linting with sqruff
  .config/sqruff/.sqruff
  .config/sqruff/check-php-sql-baseline.php
  .config/sqruff/check-sql-baseline.php
  .config/sqruff/extract-sql-from-php.php
  .config/sqruff/generate-sql-baseline.php
  .config/sqruff/lint-php-sql-filter.sh
  .config/sqruff/lint-php-sql.php
  .github/workflows/sql-lint.yml
  .pre-commit-config.yaml
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Update from globals to bag
  interface/patient_file/front_payment.php
  portal/portal_payment.php
Due: composer-require-checker

Update baseline
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan-globals-baseline.neon
Due: none

fix(ci): only validate PR title, not intermediate commits
  .github/workflows/conventional-commits.yml
Due: none

build(deps): upgrade to Bootstrap 5.3.3
  gulpfile.js
  package.json
Due: none

refactor(scss): update themes for Bootstrap 5
  interface/themes/ajax_calendar_sass.scss
  interface/themes/colors/utilities/default_variables.scss
  interface/themes/core.scss
  interface/themes/misc/bootstrap_navbar.scss
  interface/themes/misc/edi_history_v2.scss
  interface/themes/misc/encounters.scss
  interface/themes/misc/labdata.scss
  interface/themes/misc/rules.scss
  interface/themes/oe-styles/style_dark.scss
  interface/themes/oe-styles/style_light.scss
  interface/themes/oe-styles/style_manila.scss
  interface/themes/oemr-rtl.scss
  interface/themes/oemr_compact_imports.scss
  interface/themes/oemr_rtl_compact_imports.scss
  interface/themes/tabs_style_compact.scss
  interface/themes/tabs_style_full.scss
  interface/themes/theme-defaults.scss
Due: none

refactor(js): migrate to Bootstrap 5 JavaScript API
  interface/forms/newpatient/newpatient.js
  interface/main/tabs/js/include_opener.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/telehealth.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/telehealth.min.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/src/conference-room.js
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/telehealth-calendar.js
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context-admin.js
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context.js
  interface/product_registration/product_registration_controller.js
  library/dialog.js
  library/js/CustomTemplateApi.js
  library/js/clickmap.js
  library/js/oeUI/insurance/EditPolicyScreenController.js
  library/js/utility.js
  portal/patient/scripts/app/onsiteportalactivities.js
  portal/patient/scripts/app/patientdata.js
  portal/patient/scripts/view.js
  portal/sign/assets/signer_api.js
Due: none

Change of array to modern array syntax
  apis/routes/_rest_routes_standard.inc.php
Due: composer-require-checker

fix(ci): only validate PR title, not intermediate commits (#10147)
  .github/workflows/conventional-commits.yml
Due: none
