Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

Allow exceptions to log without trashing it during sanitization on SystemLogger path
  src/Common/Logging/SystemLogger.php
Due: composer-require-checker

refactor: adopt all three review suggestions from @kojiromike
  interface/main/calendar/add_edit_event.js
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

style: use getInt() typed getter per project coding standards
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

chore(docs): add missing GHSA and fix advisory URLs in 8.0.0.2 changelog
  CHANGELOG.md
Due: none

chore: regenerate PHPStan baseline
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
Due: composer-require-checker

fix(security): sanitize SearchHighlight input
  library/js/SearchHighlight.js
Due: none

fix: type $eid and $userid at source with filter_input per @kojiromike
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

chore(testing): show PHPUnit deprecation details in test output
  phpunit-isolated.xml
  phpunit.xml
Due: none

fix(security): escape portal credential print output
  templates/patient/portal_login/print.html.twig
Due: none

fix(security): add authorization to dated reminders log
  .phpstan/baseline/empty.notAllowed.php
  interface/main/dated_reminders/dated_reminders_log.php
Due: composer-require-checker

fix(security): enforce encounter ownership on vitals
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  interface/forms/vitals/C_FormVitals.class.php
  src/RestControllers/EncounterRestController.php
  src/Services/EncounterService.php
Due: composer-require-checker

fix(security): respect explicit ACL denies in zhAclCheck
  src/Common/Acl/AclMain.php
Due: composer-require-checker

fix(security): add authorization to FaxSMS AppDispatch
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
Due: composer-require-checker

Update value
  docs/phpstan-baseline-history.json
Due: none

chore(docs): add missing GHSA and fix advisory URLs in 8.0.0.2 changelog (#11180)
  CHANGELOG.md
Due: none

11168|fix(session): propagate $sessionAllowWrite to OEGlobalsBag before wrapper creation
  interface/globals.php
  tests/Tests/Unit/Common/Session/SessionWrapperFactoryTest.php
Due: composer-require-checker

11168|fix(phpstan): fix phpstan reported issue
  .phpstan/baseline/empty.notAllowed.php
  interface/globals.php
Due: composer-require-checker

Undo CG changes
  src/Common/Crypto/CryptoGen.php
Due: composer-require-checker

Move files wholesale
  src/Encryption/Decrypt/Aes256CbcHmacSha256.php
  src/Encryption/Decrypt/Aes256CbcHmacSha384.php
  src/Encryption/Decrypt/Aes256CbcNoHmac.php
  src/Encryption/Decrypt/DecoderInterface.php
  src/Encryption/Keys/EncryptedKeyOnDiskWithDbDecryption.php
  src/Encryption/Keys/KeyManagerInterface.php
  src/Encryption/Keys/KeyMaterial.php
  src/Encryption/Keys/PlaintextKeyInDbKeysTable.php
  src/Encryption/Keys/PlaintextKeyInDbKeysTableAdodb.php
  src/Encryption/Keys/PlaintextKeyOnDisk.php
Due: composer-require-checker

Rename again
  src/Encryption/Cipher/Aes256CbcHmacSha256.php
  src/Encryption/Cipher/Aes256CbcHmacSha384.php
  src/Encryption/Cipher/Aes256CbcNoHmac.php
  src/Encryption/Cipher/DecoderInterface.php
Due: composer-require-checker

feat(users): add email field to user admin UI
  .phpstan/baseline/binaryOp.invalid.php
Due: composer-require-checker

fix(users): allow clearing email field in user admin update
  interface/usergroup/usergroup_admin.php
Due: composer-require-checker

fix(users): wrap email update in isset guard to match surrounding pattern
  interface/usergroup/usergroup_admin.php
Due: composer-require-checker

chore(phpstan): revert baseline change, no longer needed
  .phpstan/baseline/binaryOp.invalid.php
Due: composer-require-checker

fix(security): parameterize SQL and filter request inputs in add_edit_event
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

refactor(db): use QueryUtils instead of sqlStatement per review
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

refactor: validate all tab params as int + use http_build_query
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

style(calendar): consolidate SQL string into single multi-line string
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

fix(security): parameterize remaining add_escape_custom SQL and migrate sqlStatement to QueryUtils
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

Remove laminas xmlrpc
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

chore(deps): resolve composer dependency blockers for PHP 8.4
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

