Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


test(twig): add compilation test for all 268 Twig templates (#10477)
  tests/Tests/Isolated/Common/Twig/TwigTemplateCompilationTest.php
Due: composer-require-checker

fix(billing): prevent sending blank statement emails (#10486)
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/variable.undefined.php
  .phpstan/phpstan-remaining-baseline.neon
  interface/billing/sl_eob_search.php
Due: composer-require-checker

fix(ci): use files pattern for PHP pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs(api): clarify CLI tip based on review feedback
  Documentation/api/AUTHENTICATION.md
Due: none

fix(ci): use files pattern for PHP pre-commit hooks (#10492)
  .pre-commit-config.yaml
Due: none

refactor(tabs): remove unreachable demographics.php check
  interface/main/tabs/js/custom_bindings.js
Due: none

fix(tabs): add title for eRx tab (#9130)
  interface/main/tabs/js/custom_bindings.js
Due: none

chore: remove legacy .inc redirect stubs
  .github/workflows/composer-require-checker.yml
  .github/workflows/syntax.yml
  .pre-commit-config.yaml
  composer.json
  interface/modules/custom_modules/oe-module-weno/templates/indexrx.php
  library/api.inc
  library/calendar.inc
  library/encounter.inc
  library/forms.inc
  library/group.inc
  library/lists.inc
  library/options_listadd.inc
  library/patient.inc
  library/pid.inc
  library/pnotes.inc
  library/registry.inc
  library/report.inc
  library/report_database.inc
  library/user.inc
Due: composer-validate, composer-normalize, composer-require-checker

clean up comments, update copyright
  src/Billing/ParseERA.php
Due: composer-require-checker

chain subtract calls
  src/Billing/ParseERA.php
Due: composer-require-checker

camel case for better readability
  src/Billing/ParseERA.php
Due: composer-require-checker

chore: remove legacy .inc redirect stubs (#10495)
  .github/workflows/composer-require-checker.yml
  .github/workflows/syntax.yml
  .pre-commit-config.yaml
  composer.json
  interface/modules/custom_modules/oe-module-weno/templates/indexrx.php
  library/api.inc
  library/calendar.inc
  library/encounter.inc
  library/forms.inc
  library/group.inc
  library/lists.inc
  library/options_listadd.inc
  library/patient.inc
  library/pid.inc
  library/pnotes.inc
  library/registry.inc
  library/report.inc
  library/report_database.inc
  library/user.inc
Due: composer-validate, composer-normalize, composer-require-checker

feat(telemetry): Additional datapoint collections. collect enabled encounter forms by name, directory and category.
  src/Telemetry/TelemetryRepository.php
  src/Telemetry/TelemetryService.php
Due: composer-require-checker

fix(phpstan): whitespace entry removal
  .editorconfig
Due: none

test(twig): add render tests for Twig templates
  CLAUDE.md
  CONTRIBUTING.md
  composer.json
  composer.lock
  tests/Tests/Isolated/Common/Twig/TwigTemplateRenderTest.php
  tests/Tests/Isolated/Common/Twig/fixtures/render/README.md
  tests/Tests/Isolated/Common/Twig/fixtures/render/autologin-no-pin.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/autologin-pin-required.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/ehr-launch-autosubmit.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/nav-icon-external-link.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/nav-icon-local-link.html
  tests/Tests/README.md
Due: composer-validate, composer-normalize, composer-require-checker

test(twig): add render tests for Twig templates (#10493)
  CLAUDE.md
  CONTRIBUTING.md
  composer.json
  composer.lock
  tests/Tests/Isolated/Common/Twig/TwigTemplateRenderTest.php
  tests/Tests/Isolated/Common/Twig/fixtures/render/README.md
  tests/Tests/Isolated/Common/Twig/fixtures/render/autologin-no-pin.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/autologin-pin-required.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/ehr-launch-autosubmit.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/nav-icon-external-link.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/nav-icon-local-link.html
  tests/Tests/README.md
Due: composer-validate, composer-normalize, composer-require-checker

test: add @codeCoverageIgnore to data provider methods
  tests/Tests/E2e/GgUserMenuLinksTest.php
  tests/Tests/E2e/HhMainMenuLinksTest.php
  tests/Tests/E2e/IiPatientContextMainMenuLinksTest.php
  tests/Tests/E2e/JjEncounterContextMainMenuLinksTest.php
  tests/Tests/Isolated/Common/Twig/TwigContainerIsolatedTest.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
  tests/Tests/Isolated/Services/Address/AddressRecordTest.php
  tests/Tests/Services/FHIR/DocumentReference/FhirDocumentReferenceAdvanceCareDirectiveServiceUSCore8Test.php
  tests/Tests/Services/FHIR/FhirAllergyIntoleranceServiceQueryTest.php
  tests/Tests/Services/FHIR/FhirCareTeamServiceUSCore8Test.php
  tests/Tests/Services/FHIR/FhirMedicationRequestServiceUSCore8Test.php
  tests/Tests/Services/FHIR/FhirPatientServiceQueryTest.php
  tests/Tests/Services/FHIR/FhirPatientServiceUSCore8Test.php
  tests/Tests/Services/FHIR/Observation/FhirObservationAdvanceDirectiveServiceUSCore8Test.php
  tests/Tests/Unit/Common/Logging/EventAuditLoggerTest.php
  tests/Tests/Unit/Common/Session/SessionWrapperFactoryTest.php
  tests/Tests/Unit/FHIR/SMART/ClientAdminControllerTest.php
  tests/Tests/Unit/FHIR/SMART/ResourceConstraintFiltererTest.php
  tests/Tests/Unit/NumberToTextTest.php
Due: composer-require-checker

feat(patient): add patient-to-patient relationships
  interface/patient_file/summary/demographics.php
  interface/patient_file/summary/patient_relationships_ajax.php
  interface/super/edit_globals.php
  phpunit.xml
  sql/7_0_4-to-7_0_5_upgrade.sql
  src/Common/Uuid/UuidRegistry.php
  src/Entity/PatientRelationship.php
  src/Patient/Cards/PatientRelationshipViewCard.php
  src/Services/PatientRelationshipService.php
  templates/patient/card/patient_relationships.html.twig
  tests/Tests/Entity/PatientRelationshipTest.php
  tests/Tests/Services/PatientRelationshipServiceTest.php
Due: composer-require-checker

feat(telemetry): Additional datapoint collections. (#10497)
  src/Telemetry/TelemetryRepository.php
  src/Telemetry/TelemetryService.php
Due: composer-require-checker

fix(setup): correct collate field id attribute and add default value (#10472)
  setup.php
Due: composer-require-checker

fix(billing): email statement generation one patient at a time (#8327)
  .phpstan/baseline/variable.undefined.php
  .phpstan/phpstan-remaining-baseline.neon
  interface/billing/sl_eob_search.php
Due: composer-require-checker

refactor(validation): consolidate email validation to use ValidationUtils (#10304)
  interface/billing/sl_eob_search.php
  portal/account/account.lib.php
Due: composer-require-checker

fix(billing): prevent sending blank statement emails (#10486)
  .phpstan/baseline/variable.undefined.php
  .phpstan/phpstan-remaining-baseline.neon
  interface/billing/sl_eob_search.php
Due: composer-require-checker

Merge commit from fork
  interface/orders/types_ajax.php
  interface/orders/types_edit.php
Due: composer-require-checker

feat(setup): add php-fpm web server instructions to Step 5 (#10478)
  setup.php
Due: composer-require-checker

test: add @codeCoverageIgnore to data provider methods (#10498)
  tests/Tests/E2e/GgUserMenuLinksTest.php
  tests/Tests/E2e/HhMainMenuLinksTest.php
  tests/Tests/E2e/IiPatientContextMainMenuLinksTest.php
  tests/Tests/E2e/JjEncounterContextMainMenuLinksTest.php
  tests/Tests/Isolated/Common/Twig/TwigContainerIsolatedTest.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
  tests/Tests/Isolated/Services/Address/AddressRecordTest.php
  tests/Tests/Services/FHIR/DocumentReference/FhirDocumentReferenceAdvanceCareDirectiveServiceUSCore8Test.php
  tests/Tests/Services/FHIR/FhirAllergyIntoleranceServiceQueryTest.php
  tests/Tests/Services/FHIR/FhirCareTeamServiceUSCore8Test.php
  tests/Tests/Services/FHIR/FhirMedicationRequestServiceUSCore8Test.php
  tests/Tests/Services/FHIR/FhirPatientServiceQueryTest.php
  tests/Tests/Services/FHIR/FhirPatientServiceUSCore8Test.php
  tests/Tests/Services/FHIR/Observation/FhirObservationAdvanceDirectiveServiceUSCore8Test.php
  tests/Tests/Unit/Common/Logging/EventAuditLoggerTest.php
  tests/Tests/Unit/Common/Session/SessionWrapperFactoryTest.php
  tests/Tests/Unit/FHIR/SMART/ClientAdminControllerTest.php
  tests/Tests/Unit/FHIR/SMART/ResourceConstraintFiltererTest.php
  tests/Tests/Unit/NumberToTextTest.php
Due: composer-require-checker

fix(phpstan): whitespace entry removal billing_report.php
  .editorconfig
Due: none

fix(phpstan): whitespace entry removal billing_report.php
  interface/billing/billing_report.php
Due: composer-require-checker

fix(security): escape unescaped URL attributes in Twig templates
  interface/modules/custom_modules/oe-module-comlink-telehealth/templates/comlink/portal/thirdparty.html.twig
  templates/document_categories/general_list.html.twig
  templates/interface/smart/admin-client/token-parse.html.twig
  templates/interface/smart/admin-client/token-tools.html.twig
  templates/oauth2/ehr-launch-autosubmit.html.twig
  templates/portal/login/autologin.html.twig
  templates/portal/partial/_nav_icon.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/nav-icon-external-link.html
Due: none

fix(8.2 deprecations) Comlink module
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Controller/TeleHealthCalendarController.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Controller/TeleconferenceRoomController.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Services/TeleHealthRemoteRegistrationService.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
Due: composer-require-checker

fix(security): escape unescaped URL attributes in Twig templates (#10474)
  interface/modules/custom_modules/oe-module-comlink-telehealth/templates/comlink/portal/thirdparty.html.twig
  templates/document_categories/general_list.html.twig
  templates/interface/smart/admin-client/token-parse.html.twig
  templates/interface/smart/admin-client/token-tools.html.twig
  templates/oauth2/ehr-launch-autosubmit.html.twig
  templates/portal/login/autologin.html.twig
  templates/portal/partial/_nav_icon.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/nav-icon-external-link.html
Due: none

fix(8.2 deprecations) rector fix
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Controller/TeleHealthCalendarController.php
Due: composer-require-checker

change to require_once on autoloader
  interface/patient_file/front_payment.rainforest.php
  interface/webhooks/payment/rainforest.php
  portal/portal_payment.rainforest.php
Due: composer-require-checker

fix(8.2 deprecations) rector phpstan updates and fixes
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Controller/TeleconferenceRoomController.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
Due: composer-require-checker

feat(webhooks): add timestamp tolerance verification to Svix webhook verifier
  src/PaymentProcessing/Rainforest/Webhooks/Verifier.php
  tests/Tests/Unit/PaymentProcessing/Rainforest/Webhooks/VerifierTest.php
Due: composer-require-checker

Make tolerance configurable
  src/PaymentProcessing/Rainforest/Webhooks/Verifier.php
Due: composer-require-checker

Use specified tolerance in unit tests
  tests/Tests/Unit/PaymentProcessing/Rainforest/Webhooks/VerifierTest.php
Due: composer-require-checker
