Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

refactor(uuid): scope auth-path UUID bootstrap to single row
  src/Common/Auth/OpenIDConnect/Repositories/UserRepository.php
  src/Common/Uuid/UuidRegistry.php
  src/RestControllers/AuthorizationController.php
  src/Services/UserService.php
  tests/Tests/Isolated/Common/Uuid/UuidRegistryTest.php
Due: composer-require-checker

fix(uuid): avoid orphan registry rows and brittle nil-UUID check
  src/Common/Uuid/UuidRegistry.php
Due: composer-require-checker

refactor(calendar): extract RecurrenceStartDateAdjuster with test coverage
  .phpstan/baseline/notIdentical.alwaysTrue.php
  portal/add_edit_event_user.php
  src/Common/Calendar/RecurrenceStartDateAdjuster.php
  tests/Tests/Isolated/Common/Calendar/RecurrenceStartDateAdjusterTest.php
Due: composer-require-checker

build(webpack): replace gulp with webpack for theme compilation
  .github/dependabot.yml
  .gitignore
  gulpfile.js
  interface/README.md
  interface/themes/ajax_calendar_sass.scss
  jest.config.js
  package-lock.json
  package.json
  scripts/install-assets.js
  scripts/sync-css.js
  webpack.themes.js
  webpack/loaders/sass-bsimport-loader.js
  webpack/loaders/strip-bom-loader.js
Due: none

docs(build): update CLAUDE.md build references from gulp to webpack
  CLAUDE.md
  webpack.themes.js
Due: none

fix(build): address webpack PR review feedback
  CLAUDE.md
  interface/README.md
  package-lock.json
  webpack.themes.js
Due: none

fix(build): address remaining webpack PR review feedback
  CLAUDE.md
  package-lock.json
  webpack.themes.js
  webpack/loaders/strip-bom-loader.js
Due: none

fix(build): add CSS minification, clean stale output, remove JS shims
  package-lock.json
  webpack.themes.js
Due: none

refactor(background-services): migrate main-tab poll to REST API
  interface/main/tabs/main.php
Due: composer-require-checker

Install dependencies
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Plug ORM tooling into CLI
  cli
Due: none

refactor(telehealth): drop redundant empty() guards before isValidUrl
  .phpstan/baseline/empty.notAllowed.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
Due: composer-require-checker

fix(build): use webpack function export for correct --mode handling
  interface/themes/ajax_calendar_sass.scss
  package-lock.json
  webpack.themes.js
Due: none

ci: add ScanCode license-scan workflow (PoC)
  .github/workflows/scancode.yml
Due: none

First config pass
  config/database.php
Due: composer-require-checker

ci(scancode): add full-repo scan mode (dispatch + PR trailer)
  .github/workflows/scancode.yml
Due: none

fix(build): address security review feedback
  scripts/install-assets.js
  webpack.themes.js
Due: none

Read dev mode properly
  config/database.php
  config/env.php
Due: composer-require-checker

fix(build): prevent symlink traversal in install-assets.js
  scripts/install-assets.js
Due: none

Entity readme
  src/Entities/README.md
Due: none

ci(scancode): parallelize full-repo scans via 8-way matrix shard
  .github/workflows/scancode.yml
  tools/ci/scancode-summary.py
Due: none

ci(scancode): ignore source maps and tolerate per-file scan errors
  .github/workflows/scancode.yml
  .scancode-ignore
Due: none

ci(scancode): address review feedback
  .github/workflows/scancode.yml
  .scancode-ignore
Due: none

Just hardcode dev mode for now
  config/database.php
  config/env.php
Due: composer-require-checker

Fix spelling
  config/database.php
Due: composer-require-checker

chore(ci): demo disallowed-license policy failure (DO NOT MERGE)
  .github/workflows/scancode.yml
  tools/ci/scancode-demo-fixture.txt
  tools/ci/scancode-summary.py
Due: none

chore(ci): exclude config/ from test coverage
  codecov.yml
Due: none

chore(ci): exclude config/ from PHPUnit coverage
  phpunit-isolated.xml
  phpunit.integration.xml
  phpunit.xml
Due: none

Merge postcalendar schema changes
  db/Migrations/Version20260000010055.php
Due: composer-require-checker

un-autowire for now
  config/database.php
Due: composer-require-checker

testing bad changes
  interface/forms/vitals/C_FormVitals.class.php
Due: composer-require-checker

changes added
  interface/forms/vitals/C_FormVitals.class.php
Due: composer-require-checker

updated changes
  interface/forms/vitals/C_FormVitals.class.php
Due: composer-require-checker

fix(e2e): wait for post-login title transition to avoid race
  tests/Tests/E2e/Login/LoginTrait.php
Due: composer-require-checker

fix(ci): gate openemr on mysql service_healthy to avoid race
  ci/compose-shared-mysql.yml
Due: none

refactor(globals): migrate interface/reports path reads to typed Kernel accessors
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/echo.nonString.php
  interface/reports/amc_tracking.php
  interface/reports/appointments_report.php
  interface/reports/appt_encounter_report.php
  interface/reports/audit_log_tamper_report.php
  interface/reports/clinical_reports.php
  interface/reports/collections_report.php
  interface/reports/custom_report_range.php
  interface/reports/daily_summary_report.php
  interface/reports/destroyed_drugs_report.php
  interface/reports/encounters_report.php
  interface/reports/front_receipts_report.php
  interface/reports/immunization_report.php
  interface/reports/insurance_allocation_report.php
  interface/reports/inventory_activity.php
  interface/reports/inventory_transactions.php
  interface/reports/ip_tracker.php
  interface/reports/ippf_cyp_report.php
  interface/reports/ippf_daily.php
  interface/reports/ippf_statistics.php
  interface/reports/message_list.php
  interface/reports/non_reported.php
  interface/reports/pat_ledger.php
  interface/reports/patient_flow_board_report.php
  interface/reports/patient_list.php
  interface/reports/patient_list_creation.php
  interface/reports/payment_processing_report.php
  interface/reports/prescriptions_report.php
  interface/reports/receipts_by_method_report.php
  interface/reports/referrals_report.php
  interface/reports/report_results.php
  interface/reports/sales_by_item.php
  interface/reports/svc_code_financial_report.php
  interface/reports/unique_seen_patients_report.php
  tools/globals-migrate/.gitignore
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

