Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


next
  interface/patient_file/pos_checkout_ippf.php
Due: composer-require-checker

Next
  interface/patient_file/pos_checkout_ippf.php
Due: composer-require-checker

update wrapper, drop useless params
  interface/billing/sl_eob_invoice.php
  interface/billing/sl_eob_process.php
  interface/reports/collections_report.php
  src/Billing/SLEOB.php
Due: composer-require-checker

remove params
  interface/billing/sl_eob_invoice.php
  interface/billing/sl_eob_process.php
  interface/patient_file/pos_checkout_ippf.php
  src/Billing/SLEOB.php
Due: composer-require-checker

wrap up?
  src/Billing/SLEOB.php
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Should be done
  library/FeeSheet.class.php
Due: composer-require-checker

Restore a couple losses
  interface/patient_file/pos_checkout_ippf.php
Due: composer-require-checker

Fix conversion error
  interface/billing/edit_payment.php
Due: composer-require-checker

syntax
  interface/patient_file/pos_checkout_ippf.php
Due: composer-require-checker

baseline
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
Due: composer-require-checker

Fixes #10250 default lists option
  interface/new/new_comprehensive.php
Due: composer-require-checker

Fixes #10251 Related Person save existing patient
  src/Services/ContactRelationService.php
Due: composer-require-checker

fix(RCFaxClient): remove duplicate property
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
Due: composer-require-checker

fix: remove duplicate property in rcfaxclient (#10254)
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
Due: composer-require-checker

feat: rel-800 Fixes #10233 cqm reporting period and deps updates (#10234) (#10247)
  ccdaservice/package-lock.json
  ccdaservice/package.json
  ccdaservice/packages/oe-cqm-service/package.json
  library/globals.inc.php
  src/Services/Qrda/ExportCat3Service.php
Due: composer-require-checker

fix(portal): Save when using dd/mm/yyyy (#10229)
  .phpstan/phpstan-remaining-baseline.neon
  library/classes/Installer.class.php
  portal/add_edit_event_user.php
Due: composer-require-checker

Fix MedEx recall event iteration
  library/MedEx/API.php
Due: composer-require-checker

feat(phpstan): add opencoreemr/openemr-phpstan-rules package
  composer.json
  composer.lock
  library/sql.inc.php
Due: composer-validate, composer-normalize, composer-require-checker

docs(phpstan): simplify README to reference package docs
  .phpstan/README.md
Due: none

refactor(phpstan): remove local rules in favor of package
  .phpstan/ForbiddenClassesRule.php
  .phpstan/ForbiddenCurlFunctionsRule.php
  .phpstan/ForbiddenFunctionsRule.php
  .phpstan/ForbiddenGlobalsAccessRule.php
  .phpstan/ForbiddenMethodsRule.php
  .phpstan/ForbiddenStaticMethodsRule.php
  .phpstan/NoCoversAnnotationOnClassRule.php
  .phpstan/NoCoversAnnotationRule.php
  .phpstan/extension.neon
  .phpstan/phpstan.github.neon
  composer.json
  phpstan.neon.dist
Due: composer-validate, composer-normalize, composer-require-checker

chore(phpstan): regenerate baseline for package rules
  .phpstan/baseline/class.extendsDeprecatedClass.php
  .phpstan/baseline/classConstant.deprecated.php
  .phpstan/baseline/constant.deprecated.php
  .phpstan/baseline/disallowed.function.php
  .phpstan/baseline/function.deprecated.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/method.deprecated.php
  .phpstan/baseline/method.deprecatedClass.php
  .phpstan/baseline/new.deprecatedClass.php
  .phpstan/baseline/openemr.catchThrowable.php
  .phpstan/baseline/openemr.controllerMustReturnResponse.php
  .phpstan/baseline/openemr.deprecatedMethod.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.deprecatedStaticMethod.php
  .phpstan/baseline/openemr.forbiddenCurlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noLegacyResponseMethods.php
  .phpstan/baseline/openemr.noSuperGlobalsInControllers.php
  .phpstan/baseline/property.deprecated.php
  .phpstan/baseline/staticMethod.deprecated.php
  .phpstan/baseline/staticMethod.deprecatedClass.php
  .phpstan/baseline/staticProperty.deprecated.php
Due: composer-require-checker

Refactor SignalWireClient to Store Inbound Faxes in Queue - fixing breakage
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentService.php
Due: composer-require-checker

fix(phpstan): update @phpstan-ignore comments for new identifiers
  .phpstan/baseline/function.deprecated.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.deprecatedMethod.php
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

ci: add Semgrep security scanning for PHP code
  .github/workflows/semgrep.yml
  run-semgrep.sh
  semgrep.yaml
Due: none

ci: add Semgrep security scanning for PHP code (#10264)
  .github/workflows/semgrep.yml
  run-semgrep.sh
  semgrep.yaml
Due: none

fix(session): Set cookie secure flag based on install settings (#10203)
  src/Common/Session/SessionUtil.php
Due: composer-require-checker

10266|fix(portal): fix leftover issue with _documents.html.twig in portal_patient_report.html.twig
  templates/portal/portal_patient_report.html.twig
Due: none

chore(docker): prep upgrade mechanism for docker 8.0.0 release
  docker-version
  sites/default/docker-version
Due: none

chore(docker): prep upgrade mechanism for docker 8.0.0 release (#10269)
  docker-version
  sites/default/docker-version
Due: none

fix(portal): fix leftover issue with _documents.html.twig in portal_patient_report.html.twig (#10267)
  templates/portal/portal_patient_report.html.twig
Due: none

Refactor SignalWireClient to Store Inbound Faxes in Queue - restoring EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
Due: composer-require-checker

Refactor SignalWireClient to bump the version number and add the upgrade SQL
  interface/modules/custom_modules/oe-module-faxsms/sql/5_1_0-to-6_0_0_upgrade.sql
  interface/modules/custom_modules/oe-module-faxsms/table.sql
  interface/modules/custom_modules/oe-module-faxsms/version.php
Due: composer-require-checker

stuff
  library/MedEx/API.php
Due: composer-require-checker

feat: Fixes #10251 Related Person save existing patient when locale date format is not YYYY-MM-DD. (#10253)
  src/Services/ContactRelationService.php
Due: composer-require-checker

feat: Fixes #10250 default lists option for new patient save (#10252)
  interface/new/new_comprehensive.php
Due: composer-require-checker
