Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

chore(phpstan): refresh baseline after transaction conversions
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
Due: composer-require-checker

phpcs
  tests/Tests/Isolated/Common/Database/ConnectionManagerTest.php
Due: composer-require-checker

spellcheck
  src/Common/ORDataObject/Person.php
Due: composer-require-checker

fix(report): import Mpdf\MpdfException so custom_report catch blocks match (#13314)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/openemr.exitInCatchOrFinally.php
  .phpstan/fatal-baseline-caps.php
  interface/patient_file/report/custom_report.php
Due: composer-require-checker

refactor(fee-sheet): type the load_fee_sheet_options() signature (#13317)
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/return.type.php
  interface/forms/fee_sheet/review/fee_sheet_options_queries.php
Due: composer-require-checker

fix(core): correct invalid type annotations flagged as notFound in library and src
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/return.phpDocType.php
  .phpstan/baseline/return.type.php
  .phpstan/fatal-baseline-caps.php
  src/Common/Auth/Exception/OneTimeAuthException.php
  src/Common/Auth/Exception/OneTimeAuthExpiredException.php
  src/Common/Compatibility/Checker.php
  src/Events/PatientDocuments/PatientDocumentCreateCCDAEvent.php
  src/Events/UserInterface/PageHeadingRenderEvent.php
  src/FHIR/R4/FHIRElement/FHIRNarrative.php
  tests/Tests/Isolated/Common/Auth/Exception/OneTimeAuthExceptionTest.php
Due: composer-require-checker

Bump to 8
  rector.php
Due: composer-require-checker

Apply clear phpstan wins
  .phpstan/baseline/assign.propertyType.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/encapsedStringPart.nonString.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/return.type.php
Due: composer-require-checker

fix(ehi-exporter): restore covariant getRecords() return types
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportClinicalNotesFormTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportContactTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportEsignatureTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportFormsGroupsEncounterTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportOnsiteMailTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportOnsiteMessagesTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportOpenEmrPostCalendarEventsTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportPersonTableDefinition.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/TableDefinitions/ExportTrackAnythingFormTableDefinition.php
Due: composer-require-checker

docs(types): drop @return tags that contradict native array types
  interface/modules/zend_modules/module/Patientvalidation/src/Patientvalidation/Controller/BaseController.php
  interface/therapy_groups/therapy_groups_models/group_statuses_model.php
  interface/therapy_groups/therapy_groups_models/therapy_groups_encounters_model.php
  src/Billing/EDI270.php
  src/Services/Cda/CdaValidateDocuments.php
  src/Services/Utils/SQLUpgradeService.php
  tests/Tests/Services/FHIR/FhirPatientServiceMappingTest.php
Due: composer-require-checker

test: drop assertIsArray calls the type system now guarantees
  tests/Tests/Isolated/Common/Database/QueryPaginationTest.php
  tests/Tests/Services/AppointmentServiceTest.php
  tests/Tests/Services/Billing/InvoiceSummaryTest.php
  tests/Tests/Unit/Common/Forms/FormQuestionnaireAssessmentTest.php
Due: composer-require-checker

fix(core): correct invalid type annotations flagged as notFound in library and src (#13319)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/return.phpDocType.php
  .phpstan/baseline/return.type.php
  .phpstan/fatal-baseline-caps.php
  src/Common/Auth/Exception/OneTimeAuthException.php
  src/Common/Auth/Exception/OneTimeAuthExpiredException.php
  src/Common/Compatibility/Checker.php
  src/Events/PatientDocuments/PatientDocumentCreateCCDAEvent.php
  src/Events/UserInterface/PageHeadingRenderEvent.php
  src/FHIR/R4/FHIRElement/FHIRNarrative.php
  tests/Tests/Isolated/Common/Auth/Exception/OneTimeAuthExceptionTest.php
Due: composer-require-checker

fix(fhir): correct malformed getAll return-type docblocks in FHIR REST controllers
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/return.type.php
  .phpstan/fatal-baseline-caps.php
  src/RestControllers/FHIR/FhirAllergyIntoleranceRestController.php
  src/RestControllers/FHIR/FhirAppointmentRestController.php
  src/RestControllers/FHIR/FhirCarePlanRestController.php
  src/RestControllers/FHIR/FhirCareTeamRestController.php
  src/RestControllers/FHIR/FhirCoverageRestController.php
  src/RestControllers/FHIR/FhirDeviceRestController.php
  src/RestControllers/FHIR/FhirDiagnosticReportRestController.php
  src/RestControllers/FHIR/FhirDocumentReferenceRestController.php
  src/RestControllers/FHIR/FhirEncounterRestController.php
  src/RestControllers/FHIR/FhirGroupRestController.php
  src/RestControllers/FHIR/FhirImmunizationRestController.php
  src/RestControllers/FHIR/FhirLocationRestController.php
  src/RestControllers/FHIR/FhirMedicationRequestRestController.php
  src/RestControllers/FHIR/FhirMedicationRestController.php
  src/RestControllers/FHIR/FhirObservationRestController.php
  src/RestControllers/FHIR/FhirPersonRestController.php
  src/RestControllers/FHIR/FhirPractitionerRoleRestController.php
  src/RestControllers/FHIR/FhirProcedureRestController.php
  src/RestControllers/FHIR/FhirProvenanceRestController.php
  src/RestControllers/FHIR/FhirServiceRequestRestController.php
  src/RestControllers/FHIR/FhirValueSetRestController.php
  src/RestControllers/FHIR/Operations/FhirOperationDefinitionRestController.php
  src/RestControllers/FHIR/Operations/FhirOperationDocRefRestController.php
Due: composer-require-checker

build(deps): raise guzzlehttp/psr7 floor to ^2.13 for Utils::asciiToUpper (#13315)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

chore(phpstan): lower class.notFound cap to match baseline
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

refactor: drop ?? fallbacks on non-nullable array returns
  interface/forms/clinical_notes/new.php
  interface/forms/newpatient/C_EncounterVisitForm.class.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
  src/Services/CodeTypesService.php
Due: composer-require-checker

fix(fhir): correct malformed getAll return-type docblocks in FHIR REST controllers (#13316)
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/return.type.php
  .phpstan/fatal-baseline-caps.php
  src/RestControllers/FHIR/FhirAllergyIntoleranceRestController.php
  src/RestControllers/FHIR/FhirAppointmentRestController.php
  src/RestControllers/FHIR/FhirCarePlanRestController.php
  src/RestControllers/FHIR/FhirCareTeamRestController.php
  src/RestControllers/FHIR/FhirCoverageRestController.php
  src/RestControllers/FHIR/FhirDeviceRestController.php
  src/RestControllers/FHIR/FhirDiagnosticReportRestController.php
  src/RestControllers/FHIR/FhirDocumentReferenceRestController.php
  src/RestControllers/FHIR/FhirEncounterRestController.php
  src/RestControllers/FHIR/FhirGroupRestController.php
  src/RestControllers/FHIR/FhirImmunizationRestController.php
  src/RestControllers/FHIR/FhirLocationRestController.php
  src/RestControllers/FHIR/FhirMedicationRequestRestController.php
  src/RestControllers/FHIR/FhirMedicationRestController.php
  src/RestControllers/FHIR/FhirObservationRestController.php
  src/RestControllers/FHIR/FhirPersonRestController.php
  src/RestControllers/FHIR/FhirPractitionerRoleRestController.php
  src/RestControllers/FHIR/FhirProcedureRestController.php
  src/RestControllers/FHIR/FhirProvenanceRestController.php
  src/RestControllers/FHIR/FhirServiceRequestRestController.php
  src/RestControllers/FHIR/FhirValueSetRestController.php
  src/RestControllers/FHIR/Operations/FhirOperationDefinitionRestController.php
  src/RestControllers/FHIR/Operations/FhirOperationDocRefRestController.php
Due: composer-require-checker

refactor: drop is_array guards on values already typed array
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification_helpers.php
  library/contraception_billing_scan.inc.php
  src/Billing/BillingProcessor/BillingClaimBatch.php
  src/Billing/EdiHistory/X12File.php
Due: composer-require-checker

refactor: drop count() guards that are always true
  interface/patient_file/encounter/copay.php
  interface/patient_file/summary/immunizations.php
Due: composer-require-checker

feat(audit): skip transaction control statements (#13301)
  src/Common/Logging/EventAuditLogger.php
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

docs(edi270): drop unresolvable @return on mimeParse()
  src/Billing/EDI270.php
Due: composer-require-checker

refactor(esign): replace unknown param types in Log docblocks
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/class.notFound.php
  .phpstan/fatal-baseline-caps.php
  library/ESign/Encounter/Log.php
  library/ESign/Form/Log.php
Due: composer-require-checker

refactor(esign): replace unknown param types in Log docblocks (#13318)
  .phpstan/baseline/argument.type.php
  .phpstan/baseline/class.notFound.php
  .phpstan/fatal-baseline-caps.php
  library/ESign/Encounter/Log.php
  library/ESign/Form/Log.php
Due: composer-require-checker

fix: add explicit return type to session callback closures in EventAuditLoggerTest
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

fix: add explicit return type to session callback closures in EventAuditLoggerTest (#13322)
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

docs(cqm): specify value types on ruleset factory returns
  library/classes/rulesets/Cqm/reports/NQF_0024.php
  library/classes/rulesets/Cqm/reports/NQF_0024/PopulationCriteria1.php
  library/classes/rulesets/Cqm/reports/NQF_0024/PopulationCriteria2.php
  library/classes/rulesets/Cqm/reports/NQF_0024/PopulationCriteria3.php
  library/classes/rulesets/Cqm/reports/NQF_0038/PopulationCriteria.php
  library/classes/rulesets/Cqm/reports/NQF_0064/PopulationCriteria.php
  library/classes/rulesets/Cqm/reports/NQF_0421.php
Due: composer-require-checker

refactor(release): Phase 10e-5 -- extract create-release-tag to shared script (#13310)
  .github/byte-identical.yml
  .github/scripts/README.md
  .github/scripts/create-release-tag.sh
  .github/workflows/reusable-publish-release.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/create-release-tag/create-release-tag.bats
  tests/bats/ci-scripts/create-release-tag/gh-mock.sh
  tests/bats/ci-scripts/create-release-tag/git-mock.sh
  tests/bats/ci-scripts/create-release-tag/helpers.bash
Due: none

ci(docker): sync byte-identical files from master (db5599d33ac17ae801bcb83e884a2e245b0e2d24)
  .github/byte-identical.yml
Due: none

ci(docker): sync byte-identical files from master (db5599d33ac17ae801bcb83e884a2e245b0e2d24)
  .github/byte-identical.yml
  .github/scripts/create-release-tag.sh
  .github/workflows/reusable-publish-release.yml
Due: none

refactor(ci): Phase 10e-6 -- extract changelog section + release body
  .github/scripts/README.md
  .github/scripts/build-release-body.sh
  .github/scripts/extract-changelog-section.sh
  .github/workflows/release-amendment.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/build-release-body/build.bats
  tests/bats/ci-scripts/build-release-body/helpers.bash
  tests/bats/ci-scripts/extract-changelog-section/extract.bats
  tests/bats/ci-scripts/extract-changelog-section/helpers.bash
Due: none

docs(tests): clarify make_body_of_size docstring and rename empty-section test
  tests/bats/ci-scripts/build-release-body/helpers.bash
  tests/bats/ci-scripts/extract-changelog-section/extract.bats
Due: none

test(extract-changelog-section): make bare-heading assertion robust
  tests/bats/ci-scripts/extract-changelog-section/extract.bats
Due: none

refactor(ci): Phase 10e-6 -- extract changelog section + release body (#13311)
  .github/scripts/README.md
  .github/scripts/build-release-body.sh
  .github/scripts/extract-changelog-section.sh
  .github/workflows/release-amendment.yml
  .github/workflows/test-byte-identical-scripts.yml
  tests/bats/ci-scripts/build-release-body/build.bats
  tests/bats/ci-scripts/build-release-body/helpers.bash
  tests/bats/ci-scripts/extract-changelog-section/extract.bats
  tests/bats/ci-scripts/extract-changelog-section/helpers.bash
Due: none

docs(plan): Phase 10 fully wraps -- 10e-5 + 10e-6 SHIPPED (13310 + 13311)
  docs/artifact-acceptance-testing-plan.md
Due: none

fix(ci): extend generate-app-token composite to rel-800/rel-704 for sync POST cleanup
  .github/byte-identical.yml
Due: none

docs(ci): reword composite propagation comment per CodeRabbit
  .github/byte-identical.yml
Due: none

fix(ci): extend generate-app-token composite to rel-800/rel-704 for sync POST cleanup (#13326)
  .github/byte-identical.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

