Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

feat(evals): freeze baseline at 100% + initial RESULTS.md
  copilot/evals/RESULTS.md
  copilot/evals/baseline.json
Due: none

feat(evals): make eval-fast + eval-baseline targets; eval now runs pytest + W2 runner
  copilot/Makefile
Due: none

feat(evals): pre-push hook installer + README regression-repro + CI gate
  .github/workflows/copilot-ci.yml
  copilot/README.md
  copilot/scripts/install-hooks.sh
Due: none

feat(observability): add 6 W2 fields to TurnTrace (additive, default-empty)
  copilot/app/agent/schemas.py
Due: none

feat(observability): plumb routing_path + documents_attached into TurnTrace
  copilot/app/graph/critic.py
  copilot/app/graph/workers/answer_composer.py
Due: none

feat(observability): populate extraction_confidence_min from intake_extractor
  copilot/app/graph/state.py
  copilot/app/graph/workers/answer_composer.py
  copilot/app/graph/workers/intake_extractor.py
Due: none

feat(observability): populate retrieval_hit_ids from evidence_retriever
  copilot/app/graph/workers/evidence_retriever.py
Due: none

feat(observability): wrap LLM adapters in langfuse.generation() spans
  copilot/app/agent/llm.py
  copilot/app/observability/llm_span.py
  copilot/evals/observability/__init__.py
  copilot/evals/observability/test_llm_span.py
Due: none

feat(evals): extend PHI cases to scan the 6 new W2 TurnTrace fields
  copilot/evals/cases/phi/phi_address_telecom_redacted.yaml
  copilot/evals/cases/phi/phi_extraction_intake_clean.yaml
  copilot/evals/cases/phi/phi_extraction_lab_clean.yaml
  copilot/evals/cases/phi/phi_provider_name_pseudonymized.yaml
  copilot/evals/cases/phi/phi_pseudonyms_only_in_trace.yaml
Due: none

feat(retrieval): add Reranker Protocol + Identity/Cohere/LocalCrossEncoder + wire into evidence_retriever
  copilot/app/graph/state.py
  copilot/app/graph/workers/answer_composer.py
  copilot/app/graph/workers/evidence_retriever.py
  copilot/app/retrieval/rerank.py
  copilot/evals/retrieval/test_rerank.py
Due: none

feat(api): GET /v1/sessions/{id}/pending_intakes (W2 KR5 lite)
  copilot/app/main.py
  copilot/evals/agent/test_pending_intakes.py
Due: none

feat(ui): pending-intake banner with expandable list (W2 KR5 lite)
  copilot/app/web/copilot_iframe.css
  copilot/app/web/copilot_iframe.html
  copilot/app/web/copilot_iframe.js
  copilot/evals/agent/test_pending_intakes.py
Due: none

feat(acl): grant Front Office group write access to patients|docs (W2 KR5 lite)
  acl_upgrade.php
  copilot/README.md
Due: composer-require-checker

docs(memory): refresh memory-bank after W2 Early-Submission shipped
  memory-bank/activeContext.md
  memory-bank/assignments/week2.md
  memory-bank/progress.md
Due: none

test(evals): meta-tests proving the W2 eval gate fires on regressions
  copilot/evals/regression_demo/__init__.py
  copilot/evals/regression_demo/test_gate_fires.py
Due: none

feat(observability): populate TurnTrace.vlm_cost_estimate_usd from ingestion path
  copilot/app/graph/state.py
  copilot/app/graph/workers/answer_composer.py
  copilot/app/graph/workers/intake_extractor.py
  copilot/app/ingestion/service.py
  copilot/app/observability/cost.py
  copilot/app/tools/document_tools.py
  copilot/evals/observability/test_cost.py
Due: none

docs(readme): top-of-file summary of what feat/w2-early-submission ships
  copilot/README.md
Due: none

fix(security): use denyWithTemplate so the popup renders the unauthorized page
  interface/forms/physical_exam/edit_diagnoses.php
Due: composer-require-checker

ci(release): add release-prep conductor workflow + PR template
  .github/PULL_REQUEST_TEMPLATE/release-prep.md
  .github/workflows/release-prep.yml
  tools/release/bin/branch-to-version.php
  tools/release/bin/create-tag.php
  tools/release/bin/derive-prev-release.php
  tools/release/bin/dispatch.php
  tools/release/bin/render-pr-body.php
  tools/release/src/BranchVersionResolver.php
  tools/release/tests/BranchVersionResolverTest.php
Due: composer-require-checker

ci(release): add permissions-check workflow for the release App
  .github/workflows/release-permissions-check.yml
Due: none

disable other findings temporarily
  .pre-commit-config.yaml
  zizmor.yaml
Due: none

refactor(release): drop tools/release sub-toolchain; use root
  .gitignore
  composer.json
  composer.lock
  phpstan.neon.dist
  tests/Tests/Isolated/Release/BranchVersionResolverTest.php
  tests/Tests/Isolated/Release/Contracts/DispatchSchemaTest.php
  tests/Tests/Isolated/Release/DispatcherTest.php
  tests/Tests/Isolated/Release/TagCreatorTest.php
  tests/Tests/Isolated/Release/TagVerifierTest.php
  tests/Tests/Isolated/Release/fixtures/dispatch/bad-docs-binaries.json
  tests/Tests/Isolated/Release/fixtures/dispatch/bad-rel-cut.json
  tests/Tests/Isolated/Release/fixtures/dispatch/bad-rel-update.json
  tests/Tests/Isolated/Release/fixtures/dispatch/bad-tag.json
  tests/Tests/Isolated/Release/fixtures/dispatch/good-docs-binaries.json
  tests/Tests/Isolated/Release/fixtures/dispatch/good-rel-cut.json
  tests/Tests/Isolated/Release/fixtures/dispatch/good-rel-update.json
  tests/Tests/Isolated/Release/fixtures/dispatch/good-tag.json
  tools/release/.gitignore
  tools/release/bin/branch-to-version.php
  tools/release/bin/create-tag.php
  tools/release/bin/derive-prev-release.php
  tools/release/bin/dispatch.php
  tools/release/bin/render-pr-body.php
  tools/release/composer.json
  tools/release/composer.lock
  tools/release/phpcs.xml
  tools/release/phpstan.neon
  tools/release/phpunit.xml.dist
  tools/release/rector.php
Due: composer-validate, composer-normalize, composer-require-checker

ci(release): polish workflows per #11896 review
  .github/workflows/release-permissions-check.yml
  .github/workflows/release-prep.yml
Due: none

refactor(release): rewrite PHP-source mutators on top of php-parser AST
  composer.json
  composer.lock
  src/Common/Command/ReleasePrep/AstSourceEditor.php
  src/Common/Command/ReleasePrep/Mutator/GlobalsIncMutator.php
  src/Common/Command/ReleasePrep/Mutator/OpenApiVersionMutator.php
  src/Common/Command/ReleasePrep/Mutator/VersionPhpMasterMutator.php
  src/Common/Command/ReleasePrep/Mutator/VersionPhpMutator.php
Due: composer-validate, composer-normalize, composer-require-checker

ci(release): bump release-prep.yml php-version to 8.5
  .github/workflows/release-prep.yml
Due: none

fix(release): validate non-AST mutator output post-mutation
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  src/Common/Command/ReleasePrep/Mutator/DockerVersionFileMutator.php
  src/Common/Command/ReleasePrep/Mutator/SwaggerRegenMutator.php
Due: composer-require-checker

fix(release): assert mutator output reflects the intended change
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  src/Common/Command/ReleasePrep/Mutator/DockerVersionFileMutator.php
  src/Common/Command/ReleasePrep/Mutator/SwaggerRegenMutator.php
Due: composer-require-checker

feat(auth): add audit logging for failed TOTP, U2F, and OAuth2 MFA attempts
  interface/main/main_screen.php
  src/Common/Auth/AuthEvent.php
  src/Common/Logging/EventAuditLogger.php
  src/RestControllers/AuthorizationController.php
  tests/Tests/Isolated/Common/Auth/AuthEventTest.php
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerAuthFailureTest.php
Due: composer-require-checker

probe(auth): drop AuthEvent value object for #12012
  interface/main/main_screen.php
  rector.php
  src/Common/Auth/AuthEvent.php
  src/Common/Logging/EventAuditLogger.php
  src/RestControllers/AuthorizationController.php
  tests/Tests/Isolated/Common/Auth/AuthEventTest.php
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerAuthFailureTest.php
Due: composer-require-checker

probe(auth): drop class-level readonly from AuthEvent for #12012
  rector.php
  src/Common/Auth/AuthEvent.php
Due: composer-require-checker

docs(release): warn against direct pushes to release-prep/* branches
  .github/PULL_REQUEST_TEMPLATE/release-prep.md
Due: none

chore(docker): pin floating image tags to explicit versions
  ci/apache_82_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_tls/docker-compose.yml
  ci/compose-shared-redis-sentinel/docker-compose.yml
  docker/development-easy-light/docker-compose.yml
  docker/development-easy-redis/docker-compose.yml
  docker/development-easy/docker-compose.yml
  docker/development-insane/docker-compose.yml
Due: none

feat(ci): auto-merge dependabot docker-compose updates
  .github/dependabot.yml
  .github/workflows/all-checks-passed.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(ci): scope dependabot auto-merge to master only
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(deps): raise dependabot open-pr limits
  .github/dependabot.yml
Due: none

fix(release): drop unsupported --skip-globals flag from conductor workflow
  .github/workflows/release-prep.yml
Due: none

fix(release): use peter-evans pull-request-operation for rel-cut detection
  .github/workflows/release-prep.yml
Due: none

refactor(release): parse version.php via AST in SqlUpgradeSkeletonMutator
  src/Common/Command/ReleasePrep/Mutator/SqlUpgradeSkeletonMutator.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

