Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


revert: restore js_escape() in file_download.php
  interface/modules/custom_modules/oe-module-weno/scripts/file_download.php
Due: composer-require-checker

docs: document docker-routed pre-commit workflow and restructure for clarity
  CLAUDE.md
  CONTRIBUTING.md
  docker/development-insane/README.md
Due: none

build(docker): isolate PHPStan tmpDir via named volume
  docker/development-easy-light/docker-compose.yml
  docker/development-easy-redis/docker-compose.yml
  docker/development-easy/docker-compose.yml
Due: none

revert: restore xlj() for translator-controlled strings
  library/custom_template/add_context.php
  library/custom_template/add_template.php
  library/custom_template/delete_category.php
Due: composer-require-checker

docs: address Copilot review on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: fix double-escaping in two js_escape(xlt/xla(...)) sites
  interface/forms/procedure_order/common.php
  interface/super/edit_list.php
Due: composer-require-checker

fix(ui): address Copilot review comments on search-highlight refactor
  interface/patient_file/report/custom_report.js
  library/js/searchHighlight.js
  portal/report/portal_custom_report.php
Due: composer-require-checker

test(ui): add Jest tests for searchHighlight.js module
  package-lock.json
  package.json
  tests/js/searchHighlight.test.js
Due: none

refactor(ui): replace vendored SearchHighlight.js with vanilla TreeWalker helper
  config/config.yaml
  interface/patient_file/report/custom_report.js
  library/js/SearchHighlight.js
  library/js/searchHighlight.js
  portal/report/portal_custom_report.php
Due: composer-require-checker

fix(ui): address second round of kojiromike review comments
  library/js/searchHighlight.js
  tests/js/searchHighlight.test.js
Due: none

fix(ui): address third round of kojiromike review comments
  library/js/searchHighlight.js
  package-lock.json
  package.json
Due: none

fix: narrow $_POST['newlistname'] before js_escape() to satisfy PHPStan
  interface/super/edit_list.php
Due: composer-require-checker

fixed comments issue
  portal/messaging/messages.php
Due: composer-require-checker

add input validation for numeric fields
  src/Common/Forms/VitalsFieldRanges.php
Due: composer-require-checker

Add input validation for numeric fields
  interface/forms/vitals/C_FormVitals.class.php
  interface/forms/vitals/templates/vitals/vitals.html.twig
  interface/forms/vitals/templates/vitals/vitals_textbox.html.twig
  interface/forms/vitals/templates/vitals/vitals_textbox_conversion.html.twig
  interface/forms/vitals/vitals.css
  interface/forms/vitals/vitals.js
  src/Common/Forms/FormVitals.php
Due: composer-require-checker

fix: narrow $_POST['newlistname'] before js_escape() to satisfy PHPStan
  .phpstan/baseline/binaryOp.invalid.php
Due: composer-require-checker

refactor(ui): replace vendored SearchHighlight.js with vanilla TreeWalker helper (#12146)
  config/config.yaml
  interface/patient_file/report/custom_report.js
  library/js/SearchHighlight.js
  library/js/searchHighlight.js
  package-lock.json
  package.json
  portal/report/portal_custom_report.php
  tests/js/searchHighlight.test.js
Due: composer-require-checker

fix(medex-calendar): relabel held staff badge to OPEN
  interface/modules/custom_modules/oe-module-medex/build/components/component-calendar/stage/oe-module-medex/public/calendar/calendar.js
  interface/modules/custom_modules/oe-module-medex/build/components/component-calendar/stage/oe-module-medex/public/calendar/index.php
Due: composer-require-checker

Add package reconcile support to MedEx updater
  interface/modules/custom_modules/oe-module-medex/build/public_module_manifest.php
  interface/modules/custom_modules/oe-module-medex/build/stage/oe-module-medex/public/update.php
  interface/modules/custom_modules/oe-module-medex/build/stage/oe-module-medex/src/ReconcileManager.php
  interface/modules/custom_modules/oe-module-medex/build/stage/oe-module-medex/src/UpdateManager.php
  interface/modules/custom_modules/oe-module-medex/public/update.php
  interface/modules/custom_modules/oe-module-medex/src/ReconcileManager.php
  interface/modules/custom_modules/oe-module-medex/src/UpdateManager.php
Due: composer-require-checker

chore: clean up js_escape() patterns (#12145)
  .phpstan/baseline/binaryOp.invalid.php
  interface/forms/care_plan/new.php
  interface/forms/eye_mag/a_issue.php
  interface/forms/procedure_order/common.php
  interface/main/calendar/add_edit_event.php
  interface/modules/custom_modules/oe-module-weno/templates/synch.php
  interface/patient_file/encounter/select_codes.php
  interface/super/edit_list.php
  library/custom_template/add_context.php
  library/custom_template/add_template.php
  library/custom_template/delete_category.php
  portal/sign/lib/save-signature.php
  portal/sign/lib/show-signature.php
  sphere/process_response.php
  sphere/process_revert_response.php
Due: composer-require-checker

fix(portal): correct deleteItem target and readMessage issue (#12144)
  portal/messaging/messages.php
Due: composer-require-checker

fix: codespell shell logic + .codespellrc skip pattern for public/assets
  .codespellrc
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix(composer): drop conventional-commits:check from code-quality aggregate
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix(composer): silence deprecation noise in php-syntax-check
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix(composer): correct exit code + stderr handling in php-syntax-check
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix: bypass max_input_vars truncation in edit_layout and edit_payment
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.forbiddenRequestGlobals.php
  interface/billing/edit_payment.php
  interface/super/edit_layout.php
  src/Common/Http/RawPostParser.php
  src/Common/Http/RawPostParserException.php
  src/Common/Http/RawRequestBodyReader.php
  tests/PHPStan/Rules/ForbiddenRequestGlobalsRule.php
  tests/Tests/Isolated/Common/Http/RawPostParserIsolatedTest.php
  tests/Tests/Isolated/Common/Http/RawRequestBodyReaderIsolatedTest.php
Due: composer-require-checker

chore(pre-commit): constrain hooks to pre-commit stage and exclude vendor from rector
  .pre-commit-config.yaml
Due: none

Fix PR comments
  interface/forms/vitals/C_FormVitals.class.php
  interface/forms/vitals/save.php
  interface/forms/vitals/templates/vitals/vitals.html.twig
  src/Common/Forms/FormVitals.php
  src/Common/Forms/VitalsFieldRanges.php
  tests/Tests/Isolated/Common/Forms/FormVitalsValidateTest.php
  tests/Tests/Isolated/Common/Forms/VitalsFieldRangesTest.php
Due: composer-require-checker

fix(build): stop stripping symfony/console/Tester from vendor
  build.xml
Due: none

feat(lists): improve List Editor pagination
  interface/super/edit_list.php
Due: composer-require-checker

fix(globals): Restore windows webserver_root normalization. (#12140)
  interface/globals.php
Due: composer-require-checker

add test
  tests/Tests/Billing/ParseERATest.php
Due: composer-require-checker

reviewed
  interface/billing/sl_eob_search.php
  library/js/xl/jquery-datetimepicker-2-5-4.js.php
Due: composer-require-checker

phpstan test
  tests/Tests/Billing/ParseERATest.php
Due: composer-require-checker

chore(release): 8.1.0
  library/globals.inc.php
Due: composer-require-checker

Fix ethnicity decline setting
  sql/8_0_0-to-8_1_0_upgrade.sql
Due: none

phpstan test fixes
  tests/Tests/Billing/ParseERATest.php
Due: composer-require-checker
