Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


Fix some weird merge conflcits and phpcs issues
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Repository/TeleHealthUserRepository.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncountermanagerTable.php
  interface/webhooks/payment/rainforest.php
  library/htmlspecialchars.inc.php
  library/sql.inc.php
  portal/portal_payment.php
  sphere/process_response.php
  src/Billing/EDI270.php
Due: composer-require-checker

copy interface changes
  src/Common/Crypto/CryptoInterface.php
Due: composer-require-checker

take the enum
  src/Common/Crypto/CryptoInterface.php
Due: composer-require-checker

collapse redundant docs
  src/Common/Crypto/CryptoGen.php
Due: composer-require-checker

Update implementation to use KeySource directly
  src/Common/Crypto/CryptoGen.php
Due: composer-require-checker

Follow traditional enum conventions
  src/Common/Crypto/CryptoGen.php
  src/Common/Crypto/KeySource.php
  tests/Tests/Unit/Common/Crypto/CryptoGenTest.php
Due: composer-require-checker

Update test call sites
  tests/Tests/Unit/Common/Crypto/CryptoGenTest.php
Due: composer-require-checker

Missed a couple during internals
  src/Common/Crypto/CryptoGen.php
Due: composer-require-checker

refactor(crypto): Convert remaining call sites to use KeySource enum
  controllers/C_Document.class.php
  interface/billing/customize_log.php
  interface/billing/edi_271.php
  interface/couchdb/couchdb_log.php
  interface/modules/custom_modules/oe-module-dorn/src/ReceiveHl7Results.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/Services/EhiExporter.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncountermanagerTable.php
  interface/orders/receive_hl7_results.inc.php
  interface/patient_file/download_template.php
  interface/patient_file/education.php
  interface/patient_file/letter.php
  interface/super/manage_document_templates.php
  interface/super/manage_site_files.php
  library/classes/Document.class.php
  portal/index.php
  src/Billing/BillingProcessor/BillingLogger.php
  src/Common/Auth/OneTimeAuth.php
  src/Services/CDADocumentService.php
Due: composer-require-checker

make non-nullable
  src/Common/Crypto/CryptoGen.php
  src/Common/Crypto/CryptoInterface.php
Due: composer-require-checker

lint
  interface/billing/customize_log.php
  interface/super/manage_document_templates.php
  interface/super/manage_site_files.php
  portal/index.php
Due: composer-require-checker

fix(ci): detect database.sql schema changes missing upgrade SQL (#10854) (#10908)
  .github/workflows/database-version.yml
Due: none

Change to named argumements instead of repeating defaults
  portal/index.php
  src/Common/Auth/OneTimeAuth.php
Due: composer-require-checker

Imports no longer needed
  portal/index.php
  src/Common/Auth/OneTimeAuth.php
Due: composer-require-checker

fix(mobile): replace direct $GLOBALS access with OEGlobalsBag
  interface/mobile/index.php
Due: composer-require-checker

fix(phpstan): remove stale binaryOp baseline entry for PatientValidator
  .phpstan/baseline/binaryOp.invalid.php
Due: composer-require-checker

refactor(crypto): Pass enums instead of strings (#10995)
  controllers/C_Document.class.php
  interface/billing/customize_log.php
  interface/billing/edi_271.php
  interface/couchdb/couchdb_log.php
  interface/modules/custom_modules/oe-module-dorn/src/ReceiveHl7Results.php
  interface/modules/custom_modules/oe-module-ehi-exporter/src/Services/EhiExporter.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncountermanagerTable.php
  interface/orders/receive_hl7_results.inc.php
  interface/patient_file/download_template.php
  interface/patient_file/education.php
  interface/patient_file/letter.php
  interface/super/manage_document_templates.php
  interface/super/manage_site_files.php
  library/classes/Document.class.php
  portal/index.php
  src/Billing/BillingProcessor/BillingLogger.php
  src/Common/Auth/OneTimeAuth.php
  src/Common/Crypto/CryptoGen.php
  src/Common/Crypto/CryptoInterface.php
  src/Common/Crypto/KeySource.php
  src/Services/CDADocumentService.php
  tests/Tests/Unit/Common/Crypto/CryptoGenTest.php
Due: composer-require-checker

fix(portal): update FieldMap to reference source tables
  portal/patient/libs/Model/DAO/OnsiteActivityViewMap.php
  portal/patient/libs/Reporter/OnsiteActivityViewReporter.php
Due: composer-require-checker

fix(docs): correct spelling errors caught by codespell
  Documentation/api/SMART_ON_FHIR.md
  interface/main/holidays/Holidays_Storage.php
  interface/orders/types.php
Due: composer-require-checker

fix(docs): correct spelling errors caught by codespell (#10999)
  Documentation/api/SMART_ON_FHIR.md
  interface/main/holidays/Holidays_Storage.php
  interface/orders/types.php
Due: composer-require-checker

prefer nowdoc instaed of giant strings
  portal/patient/libs/Reporter/OnsiteActivityViewReporter.php
Due: composer-require-checker

fix baseline again
  .phpstan/baseline/assignOp.invalid.php
Due: composer-require-checker

feat(ccda): add env var config for host/port in serveccda.js
  ccdaservice/serveccda.js
Due: none

feat(ccda): add env var config for PHP socket connection
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaServiceDocumentRequestor.php
Due: composer-require-checker

build(ccda): add Dockerfile for standalone deployment
  ccdaservice/Dockerfile
Due: none

build(ccda): add .dockerignore
  ccdaservice/.dockerignore
Due: none

build(ccda): add docker-compose.yml for standalone deployment
  ccdaservice/docker-compose.yml
Due: none

Pull in a container impl supporting autowiring, etc
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Prepare container
  bootstrap.php
Due: composer-require-checker

Set up basic wiring for PSR logger, respecting envvar to set level
  config/di/env.php
  config/di/psr.php
  config/di/services.php
Due: composer-require-checker

Simplify implementation
  bootstrap.php
Due: composer-require-checker

Read container in CLI
  cli
Due: none
