Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

tidy webhook entrypoint
  verify.php
Due: composer-require-checker

Session creator
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Build sessions
  src/PaymentProcessing/Rainforest/Webhooks/RecordPayment.php
Due: composer-require-checker

push through account code
  src/PaymentProcessing/Rainforest/Webhooks/RecordPayment.php
Due: composer-require-checker

chore(scopes): Multilined scopes at ApiTestClient (#10296)
  tests/Tests/Api/ApiTestClient.php
  tests/Tests/Api/ApiTestClientTest.php
Due: composer-require-checker

fix(insurance): rel-704 insurance edit fails if dashboard context mod… (#10217)
  interface/modules/custom_modules/oe-module-dashboard-context/openemr.bootstrap.php
  interface/patient_file/summary/insurance_edit.php
Due: composer-require-checker

feat(swagger): Added Bearer token to Swagger UI (#10295)
  _rest_routes.inc.php
  swagger/openemr-api.yaml
Due: composer-require-checker

chore(phpstan): Restrict new function additions to global namespace (#10297)
  .phpstan/ForbiddenGlobalNamespaceRule.php
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/classConstant.notFound.php
  .phpstan/baseline/constant.notFound.php
  .phpstan/baseline/empty.variable.php
  .phpstan/baseline/function.notFound.php
  .phpstan/baseline/include.fileNotFound.php
  .phpstan/baseline/includeOnce.fileNotFound.php
  .phpstan/baseline/isset.variable.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/method.notFound.php
  .phpstan/baseline/nullCoalesce.variable.php
  .phpstan/baseline/openemr.deprecatedLaminasDb.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenCurlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/property.notFound.php
  .phpstan/baseline/requireOnce.fileNotFound.php
  .phpstan/baseline/return.missing.php
  .phpstan/baseline/variable.undefined.php
  .phpstan/extension.neon
  composer.json
  library/global_functions.inc.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor: Consolidate UUID validation using ValidationUtils (#10322)
  src/Common/Utils/ValidationUtils.php
  src/Common/Uuid/UuidRegistry.php
  src/RestControllers/FHIR/FhirDocumentRestController.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

Add Rainforest Payment Gateway module
  interface/modules/custom_modules/oe-module-rainforest-payment/info.txt
  interface/modules/custom_modules/oe-module-rainforest-payment/moduleConfig.php
  interface/modules/custom_modules/oe-module-rainforest-payment/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-rainforest-payment/public/payment_component.php
  interface/modules/custom_modules/oe-module-rainforest-payment/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-rainforest-payment/src/GlobalConfig.php
  interface/modules/custom_modules/oe-module-rainforest-payment/src/Rainforest/EncounterData.php
  interface/modules/custom_modules/oe-module-rainforest-payment/src/Rainforest/Metadata.php
  interface/modules/custom_modules/oe-module-rainforest-payment/src/Rainforest/Rainforest.php
  interface/modules/custom_modules/oe-module-rainforest-payment/src/RainforestPayment.php
  portal/lib/paylib.php
  portal/portal_payment.php
Due: composer-require-checker

fix: correct typos in test files
  tests/Tests/Api/GroupExportFhirApiTest.php
  tests/Tests/Api/IntrospectionTest.php
  tests/Tests/Api/ProvenanceFhirApiTest.php
  tests/Tests/Certification/HIT1/G10_Certification/SinglePatient311APITest.php
  tests/Tests/Certification/HIT1/G10_Certification/SinglePatient700APITest.php
  tests/Tests/E2e/AaLoginTest.php
  tests/Tests/E2e/BbCreateStaffTest.php
  tests/Tests/E2e/User/UserAddTrait.php
  tests/Tests/ECQM/test_patient_qrda/2020/1_N_GP_Geriatric.xml
  tests/Tests/ECQM/test_patient_qrda/2020/1_Pregnancy_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/A_Cancer_Female.xml
  tests/Tests/ECQM/test_patient_qrda/2020/B_Diabetes_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/B_GP_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/Z4_Heart_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/Z4_N_GP_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/BH Adult_1.xml
  tests/Tests/ECQM/test_patient_qrda/BH Adult_2.xml
  tests/Tests/ECQM/test_patient_qrda/Heart Adult_Z31.xml
  tests/Tests/ECQM/test_patient_qrda/catI_doc_28.xml
  tests/Tests/ECQM/test_patient_qrda/catI_doc_29.xml
  tests/Tests/ECQM/test_patient_qrda/catI_gen_Heart_Adult_Z31.xml
  tests/Tests/Services/FHIR/FhirAllergyIntoleranceServiceQueryTest.php
  tests/Tests/Services/FHIR/FhirPatientServiceMappingTest.php
  tests/Tests/Unit/Common/Http/HttpRestRequestTest.php
  tests/Tests/Unit/NumberToTextTest.php
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-example-input1.xml
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-example-response1.xml
Due: composer-require-checker

Fixes #10332 uuid generation large dataset
  src/Common/Uuid/UuidRegistry.php
Due: composer-require-checker

Fixes #10323 care team upgrade optimization
  src/Services/Utils/SQLUpgradeService.php
Due: composer-require-checker

fix: PHP Fatal error: Uncaught TypeError: receiptDetailLine(): Argume… (#10292)
  interface/patient_file/pos_checkout_normal.php
Due: composer-require-checker

Set Users Permissions feature default off and add select to turn on. fix etherfax meta data fetch out of memory problem better manage fax document validation for sendFax() all fax services.
  interface/modules/custom_modules/oe-module-faxsms/library/setup_services.php
  interface/modules/custom_modules/oe-module-faxsms/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-faxsms/src/BootstrapService.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Enums/ServiceType.php
Due: composer-require-checker

fix: correct typos in test files (#10344)
  tests/Tests/Api/GroupExportFhirApiTest.php
  tests/Tests/Api/IntrospectionTest.php
  tests/Tests/Api/ProvenanceFhirApiTest.php
  tests/Tests/Certification/HIT1/G10_Certification/SinglePatient311APITest.php
  tests/Tests/Certification/HIT1/G10_Certification/SinglePatient700APITest.php
  tests/Tests/E2e/AaLoginTest.php
  tests/Tests/E2e/BbCreateStaffTest.php
  tests/Tests/E2e/User/UserAddTrait.php
  tests/Tests/ECQM/test_patient_qrda/2020/1_N_GP_Geriatric.xml
  tests/Tests/ECQM/test_patient_qrda/2020/1_Pregnancy_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/A_Cancer_Female.xml
  tests/Tests/ECQM/test_patient_qrda/2020/B_Diabetes_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/B_GP_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/Z4_Heart_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/2020/Z4_N_GP_Adult.xml
  tests/Tests/ECQM/test_patient_qrda/BH Adult_1.xml
  tests/Tests/ECQM/test_patient_qrda/BH Adult_2.xml
  tests/Tests/ECQM/test_patient_qrda/Heart Adult_Z31.xml
  tests/Tests/ECQM/test_patient_qrda/catI_doc_28.xml
  tests/Tests/ECQM/test_patient_qrda/catI_doc_29.xml
  tests/Tests/ECQM/test_patient_qrda/catI_gen_Heart_Adult_Z31.xml
  tests/Tests/Services/FHIR/FhirAllergyIntoleranceServiceQueryTest.php
  tests/Tests/Services/FHIR/FhirPatientServiceMappingTest.php
  tests/Tests/Unit/Common/Http/HttpRestRequestTest.php
  tests/Tests/Unit/NumberToTextTest.php
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-example-input1.xml
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-example-response1.xml
Due: composer-require-checker

no message
  interface/modules/custom_modules/oe-module-faxsms/library/setup_services.php
Due: composer-require-checker

fix(style): normalize line endings to LF in 16 files
  interface/modules/zend_modules/public/xsl/qrda.xsl
  library/classes/fpdf/font/courier.php
  library/classes/fpdf/font/courierb.php
  library/classes/fpdf/font/courierbi.php
  library/classes/fpdf/font/courieri.php
  library/classes/fpdf/font/helvetica.php
  library/classes/fpdf/font/helveticab.php
  library/classes/fpdf/font/helveticabi.php
  library/classes/fpdf/font/helveticai.php
  library/classes/fpdf/font/symbol.php
  library/classes/fpdf/font/times.php
  library/classes/fpdf/font/timesb.php
  library/classes/fpdf/font/timesbi.php
  library/classes/fpdf/font/timesi.php
  library/classes/fpdf/font/zapfdingbats.php
  library/classes/fpdf/fpdf.php
Due: none

no message
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
Due: composer-require-checker

whitespace I guess!
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
Due: composer-require-checker

Fix baseline file to match code fixes
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
Due: composer-require-checker

fix(style): normalize line endings to LF in 16 files (#10349)
  interface/modules/zend_modules/public/xsl/qrda.xsl
  library/classes/fpdf/font/courier.php
  library/classes/fpdf/font/courierb.php
  library/classes/fpdf/font/courierbi.php
  library/classes/fpdf/font/courieri.php
  library/classes/fpdf/font/helvetica.php
  library/classes/fpdf/font/helveticab.php
  library/classes/fpdf/font/helveticabi.php
  library/classes/fpdf/font/helveticai.php
  library/classes/fpdf/font/symbol.php
  library/classes/fpdf/font/times.php
  library/classes/fpdf/font/timesb.php
  library/classes/fpdf/font/timesbi.php
  library/classes/fpdf/font/timesi.php
  library/classes/fpdf/font/zapfdingbats.php
  library/classes/fpdf/fpdf.php
Due: none

perf(ci): Remove redundant local coverage merge
  .github/workflows/isolated-tests.yml
  .github/workflows/test.yml
  ci/ciLibrary.source
Due: none

fix: correct typo 'bootrap' to 'bootstrap' in config.yaml
  config/config.yaml
Due: none

fix(phpstan): cleanup phpstan anomalies
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/phpunit.mockMethod.php
  .phpstan/baseline/variable.undefined.php
  interface/modules/custom_modules/oe-module-faxsms/library/webhook_receiver.php
  phpstan_output.txt
Due: composer-require-checker

fix: correct typo 'bootrap' to 'bootstrap' in config.yaml (#10353)
  config/config.yaml
Due: none

Reformatted by pretty-format-yaml pre-commit hook.
  config/config.yaml
Due: none

no message
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
Due: composer-require-checker

fix: #10323 care team upgrade optimization (#10347)
  src/Services/Utils/SQLUpgradeService.php
Due: composer-require-checker

perf(ci): Remove redundant local coverage merge (#10354)
  .github/workflows/isolated-tests.yml
  .github/workflows/test.yml
  ci/ciLibrary.source
Due: none

Move most logic to reusable-ish place
  portal/portal_payment.rainforest.php
  src/PaymentProcessing/Rainforest/Apis/GetPayinComponentParameters.php
Due: composer-require-checker

fix: #10332 uuid generation large dataset (#10346)
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  src/Common/Uuid/UuidRegistry.php
Due: composer-require-checker

move js to twig so it can be reused
  portal/portal_payment.php
  templates/payments/rainforest.js
Due: composer-require-checker

Fix up UI interaction...ish
  templates/payments/rainforest.js
Due: none

named pargs in front payment
  interface/patient_file/front_payment.php
Due: composer-require-checker

Wire up a lot of the rainforest js path
  interface/patient_file/front_payment.php
Due: composer-require-checker

tweak directories, dynamic endpoint
  interface/patient_file/front_payment.php
  portal/portal_payment.php
  portal/portal_payment.rainforest.php
  templates/payments/rainforest.js
Due: composer-require-checker

other entrypoint
  interface/patient_file/front_payment.rainforest.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

