Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

Fix test syntax error added run tests action on push as I forget!
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/return.type.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentService.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Notification/AppointmentNotificationRunner.php
  tests/Tests/Isolated/Modules/FaxSMS/Notification/AppointmentNotificationRunnerTest.php
Due: composer-require-checker

chore: gitignore .worktrees.json.lock/ directory
  .gitignore
Due: none

docs(release): workstream 1 is hard prerequisite for workstream 4 (8.1.1 ship)
  docs/release-mechanism-migration-from-devops.md
Due: none

docs(release): document PR #760 ship blocker + ship-release.yml paths
  docs/release-mechanism-gaps.md
Due: none

chore: gitignore lockfile + staging glob (lock is now a file, not a dir)
  .gitignore
Due: none

chore: tighten gitignore to exact lockfile (no more staging temp files)
  .gitignore
Due: none

chore: gitignore .worktrees.json.lock/ directory (#12614)
  .gitignore
Due: none

Define basic module interface
  src/Modules/ModuleInterface.php
Due: composer-require-checker

Define CLI module interface
  src/Modules/CliModuleInterface.php
Due: composer-require-checker

README
  src/Modules/README.md
Due: none

Manager skeleton
  src/Modules/ModuleManager.php
Due: composer-require-checker

Hook in experimental repos
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Stub module activation tooling
  src/Modules/Activation/DisableAll.php
  src/Modules/Activation/EnableAll.php
  src/Modules/Activation/StateProvider.php
Due: composer-require-checker

Rename everything from module to plugin
  src/Modules/Activation/StateProvider.php
  src/Plugins/Activation/DisableAll.php
  src/Plugins/Activation/EnableAll.php
  src/Plugins/Activation/StateProvider.php
  src/Plugins/CliPluginInterface.php
  src/Plugins/PluginInterface.php
  src/Plugins/PluginManager.php
  src/Plugins/README.md
Due: composer-require-checker

Plugin loader special-casing
  module_bootstrap.php
  src/Plugins/config/plugins.php
Due: composer-require-checker

fix(docker): irp imports 0 patients because synthea output is in root-only /root/
  docker/binary/utilities/devtoolsLibrary.source
  docker/flex/utilities/devtoolsLibrary.source
  docker/release/utilities/devtoolsLibrary.source
Due: none

Set up plugin interfaces as external too
  composer.json
  composer.lock
  src/Plugins/CliPluginInterface.php
  src/Plugins/PluginInterface.php
Due: composer-validate, composer-normalize, composer-require-checker

Prep conatiner-next integratoin
  composer.json
  composer.lock
  module_bootstrap.php
Due: composer-validate, composer-normalize, composer-require-checker

Rework the plugin bootstrap to return the manager directly
  module_bootstrap.php
  plugin_bootstrap.php
Due: composer-require-checker

Plugin manager needs to do terrible things
  plugin_bootstrap.php
  src/Plugins/PluginManager.php
Due: composer-require-checker

Update the bootstrap again
  bootstrap.php
Due: composer-require-checker

Plug in the commands
  cli
Due: none

docs(fqhc): add FQHC program goals, architecture, and roadmap
  README.md
  docs/fqhc/ARCHITECTURE.md
  docs/fqhc/PRINCIPLES.md
  docs/fqhc/README.md
  docs/fqhc/ROADMAP.md
  docs/fqhc/UDS-REPORTING.md
  docs/fqhc/UX-MODERNIZATION.md
Due: none

docs(fqhc): add import-ready issue backlog
  docs/fqhc/BACKLOG.md
  docs/fqhc/README.md
Due: none

docs(fqhc): link backlog to filed GitHub issues
  docs/fqhc/BACKLOG.md
  docs/fqhc/README.md
Due: none

Add comments explaining the unusual container setup
  src/Plugins/PluginManager.php
  src/Plugins/config/plugins.php
Due: composer-require-checker

docs(fqhc): add UDS data-model spec and next-ticket guidance
  docs/fqhc/README.md
  docs/fqhc/ROADMAP.md
  docs/fqhc/UDS-DATA-MODEL.md
  docs/fqhc/UDS-REPORTING.md
Due: none

Note the plans
  public/index.php
Due: composer-require-checker

Inline migration config logic
  config/database.php
Due: composer-require-checker

Move it the rest of the way
  config/database.php
  db/migration-config.php
Due: composer-require-checker

docs(fqhc): apply CY2026 UDS PAL changes and add UX-first starter pathway
  docs/fqhc/README.md
  docs/fqhc/ROADMAP.md
  docs/fqhc/STARTER-PATHWAY.md
  docs/fqhc/UDS-DATA-MODEL.md
  docs/fqhc/reference/UDS-PAL-2025-05-CY2026-proposed-changes.pdf
Due: none

docs(fqhc): index the UX-first pathway issues in the backlog
  docs/fqhc/BACKLOG.md
Due: none

Remove comment
  config/database.php
Due: composer-require-checker

docs(fqhc): record Web Components islands as the recommended UI approach
  docs/fqhc/UX-MODERNIZATION.md
Due: none

get migrations working?
  config/database.php
  src/Plugins/PluginManager.php
Due: composer-require-checker

feat(fqhc): module host shell + design-system foundation (Step 1)
  interface/modules/custom_modules/oe-module-fqhc/README.md
  interface/modules/custom_modules/oe-module-fqhc/composer.json
  interface/modules/custom_modules/oe-module-fqhc/info.txt
  interface/modules/custom_modules/oe-module-fqhc/moduleConfig.php
  interface/modules/custom_modules/oe-module-fqhc/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-fqhc/public/assets/css/fqhc.css
  interface/modules/custom_modules/oe-module-fqhc/public/assets/css/tokens.css
  interface/modules/custom_modules/oe-module-fqhc/public/assets/js/fqhc-components.js
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
  interface/modules/custom_modules/oe-module-fqhc/sql/install.sql
  interface/modules/custom_modules/oe-module-fqhc/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-fqhc/templates/fqhc/showcase.html.twig
  interface/modules/custom_modules/oe-module-fqhc/version.php
  src/FQHC/DesignSystem/DesignSystemAssets.php
  tests/Tests/Isolated/FQHC/DesignSystemAssetsTest.php
Due: composer-require-checker

style(fqhc): sort use statements in module host page (phpcs)
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
Due: composer-require-checker

fix(fqhc): satisfy PHPStan level 10 in module host page and bootstrap
  interface/modules/custom_modules/oe-module-fqhc/public/index.php
  interface/modules/custom_modules/oe-module-fqhc/src/Bootstrap.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

