Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: (^|/)(composer\.lock|package-lock\.json)$|\.min\.(js|css)$|\.js\.map$|\.css\.map$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
    - --indent=2
    - --no-sort-keys
    exclude: ^composer\.json$
  - id: mixed-line-ending
    args:
    - --fix=lf

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args:
    - --autofix
    - --indent=2

- repo: local
  hooks:
  - id: php-syntax-check
    name: PHP Syntax Check
    entry: php -l
    language: system
    types:
    - inc
    - php

  - id: composer-validate
    name: Validate composer.json
    entry: composer validate --strict
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: composer-normalize
    name: Normalize composer.json
    entry: composer normalize
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: phpcbf
    name: PHP Code Beautifier and Fixer
    entry: php -d memory_limit=1g ./vendor/bin/phpcbf --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpcs
    name: PHP_CodeSniffer
    entry: php -d memory_limit=1g ./vendor/bin/phpcs --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpstan
    name: PHPStan Static Analysis
    entry: php -d memory_limit=1g ./vendor/bin/phpstan analyze --configuration=phpstan.neon.dist
    language: system
    types:
    - inc
    - php

  - id: rector
    name: Rector
    entry: php -d memory_limit=1g ./vendor/bin/rector process
    language: system
    types:
    - inc
    - php

  - id: composer-require-checker
    name: Composer Require Checker
    entry: composer run-script require-checker
    language: system
    files: ^(composer\.json|.*\.(php|inc))$
    pass_filenames: false

chore: remove .php-cs-fixer.cache file
  .php-cs-fixer.cache
Due: none

Deps | Upgraded zircote/swagger-php (v3 > v5)
  composer.lock
Due: none

Code style | Fixed files list
  src/Common/Command/CreateAPIDocumentationCommand.php
Due: composer-require-checker

WIP
  docker/development-easy/docker-compose.yml
  src/Rest/ExampleController.php
  swagger/openapi.php
Due: composer-require-checker

Chore | Fixed quotes (" > ')
  src/Common/Command/CreateAPIDocumentationCommand.php
Due: composer-require-checker

chore: apply rector improvements to PostCalendarTwigExtensions
  src/PostCalendar/PostCalendarTwigExtensions.php
Due: composer-require-checker

fix(composer): version warning fix during composer validation
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(phpstan): resolve staticMethod.notFound via @method annotations
  .phpstan/phpstan.github.neon
  library/classes/ClinicalTypes/codes.php
  src/Common/Http/oeHttp.php
Due: composer-require-checker

fix: remove dead MockRestConfig (#10064)
  tests/Tests/MockRestConfig.php
  tests/Tests/Unit/Common/Auth/OpenIDConnect/Repositories/ScopeRepositoryTest.php
Due: composer-require-checker

refactor(eye_mag): replace if/else chains with config arrays
  interface/forms/eye_mag/SpectacleRx.php
  interface/forms/eye_mag/a_issue.php
  interface/forms/eye_mag/php/eye_mag_functions.php
  interface/forms/eye_mag/save.php
Due: composer-require-checker

refactor(eye_mag): introduce enums for type-safe configurations
  interface/forms/eye_mag/SpectacleRx.php
  interface/forms/eye_mag/a_issue.php
  interface/forms/eye_mag/php/EyeMagEnums.php
  interface/forms/eye_mag/php/eye_mag_functions.php
  interface/forms/eye_mag/save.php
Due: composer-require-checker

fixup! refactor(eye_mag): introduce enums for type-safe configurations
  interface/forms/eye_mag/SpectacleRx.php
  interface/forms/eye_mag/php/EyeMagEnums.php
Due: composer-require-checker

fix(composer): memory limit to be 4g for composer code quality scripts
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

chore: add pre-commit config for local QA tooling (#9740)
  .pre-commit-config.yaml
Due: none

Remove unnecessary xl() call on numeric amount in ReminderIntervalDetail (#10044)
  src/ClinicalDecisionRules/Interface/RuleLibrary/ReminderIntervalDetail.php
  tests/Tests/Unit/ClinicalDecisionRules/ReminderIntervalDetailTest.php
Due: composer-require-checker

feat(ApplicationHealthProbe): application health probes (#8796)
  ci/compose-shared-apache.yml
  ci/compose-shared-nginx.yml
  ci/nginx/nginx.conf
  docker/development-easy-light/docker-compose.yml
  docker/development-easy/docker-compose.yml
  docker/development-insane/docker-compose.yml
  docker/production/docker-compose.yml
  meta/health/.htaccess
  meta/health/index.php
  src/Health/Check/CacheCheck.php
  src/Health/Check/DatabaseCheck.php
  src/Health/Check/FilesystemCheck.php
  src/Health/Check/InstallationCheck.php
  src/Health/Check/OAuthKeysCheck.php
  src/Health/Check/SessionCheck.php
  src/Health/HealthCheckInterface.php
  src/Health/HealthCheckResult.php
  src/Health/HealthChecker.php
Due: composer-require-checker

fix(phpstan): resolve constructor.unusedParameter findings
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan.github.neon
  interface/forms/prior_auth/FormPriorAuth.class.php
  interface/forms/ros/FormROS.class.php
  interface/forms/soap/FormSOAP.class.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/tests/Tests/Unit/TeleHealthVideoRegistrationControllerTest.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/zend_modules/module/Carecoordination/config/module.config.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Controller/ModuleconfigController.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Form/ModuleconfigForm.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Form/ImmunizationForm.php
  library/classes/InsuranceCompany.class.php
  library/classes/InsuranceNumbers.class.php
  library/classes/Person.class.php
  library/classes/Pharmacy.class.php
  library/classes/Provider.class.php
  library/classes/X12Partner.class.php
  portal/patient/fwk/libs/verysimple/Phreeze/SimpleRouter.php
  src/Common/Forms/FormVitals.php
Due: composer-require-checker

fix(composer): memory limit to be 4g for composer code quality scripts (#10068)
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

fix(composer): version warning fix during composer validation (#10065)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(phpstan): resolve return.missing findings
  .phpstan/phpstan.github.neon
  portal/patient/fwk/libs/verysimple/Phreeze/CacheNoCache.php
  portal/patient/fwk/libs/verysimple/Phreeze/CacheRam.php
  portal/patient/fwk/libs/verysimple/Phreeze/ICache.php
  portal/patient/fwk/libs/verysimple/Phreeze/Phreezable.php
  portal/patient/fwk/libs/verysimple/Phreeze/Phreezer.php
  portal/patient/fwk/libs/verysimple/Phreeze/Reporter.php
  portal/patient/fwk/libs/verysimple/Phreeze/SimpleRouter.php
  portal/patient/fwk/libs/verysimple/String/VerySimpleStringUtil.php
  src/Common/Auth/MfaUtils.php
  src/Core/Header.php
  src/Events/Messaging/SendNotificationEvent.php
  src/Menu/MenuRole.php
  src/Menu/MenuRoleInterface.php
Due: composer-require-checker

fix(phpstan): resolve class name collision between Procedure classes
  .phpstan/phpstan.github.neon
  interface/forms/fee_sheet/review/fee_sheet_ajax.php
  interface/forms/fee_sheet/review/fee_sheet_classes.php
  interface/forms/fee_sheet/review/fee_sheet_justify.php
  interface/forms/fee_sheet/review/fee_sheet_queries.php
  interface/forms/fee_sheet/review/fee_sheet_search_queries.php
Due: composer-require-checker

refactor(fee_sheet_ajax): use array_map and ensure arrays are valid
  .phpstan/phpstan.github.neon
  interface/forms/fee_sheet/review/fee_sheet_ajax.php
Due: composer-require-checker

fix: development environment fixes and a ci fix
  ci/ciLibrary.source
  docker/development-easy-light/docker-compose.yml
  docker/development-easy/docker-compose.yml
  docker/development-insane/docker-compose.yml
Due: none

try again
  ci/ciLibrary.source
Due: none

more
  ci/ciLibrary.source
  docker/development-easy-light/docker-compose.yml
  docker/development-easy/docker-compose.yml
  docker/development-insane/docker-compose.yml
Due: none

fix(phpstan): indent size for neon files at editorconfig
  .editorconfig
Due: none

fix: added missed EventAuditLogger FQCN at ReceiveHl7Results
  .phpstan/phpstan.github.neon
  interface/modules/custom_modules/oe-module-dorn/src/ReceiveHl7Results.php
Due: composer-require-checker

feat(traits): added SingletonTrait
  src/Core/Traits/SingletonTrait.php
  tests/Tests/Isolated/Core/Traits/SingletonTraitTest.php
Due: composer-require-checker

fix(test): EventAuditLoggerTest::testRecordLogItemWithEncryption
  tests/Tests/Unit/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

fix(deps): removed no longer used waryway/php-traits-library
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

feat(api): added PATCH requests support
  src/Common/Http/HttpRestRouteHandler.php
Due: composer-require-checker

refactor: extracted RestApiAclPermissionChecker
  src/RestControllers/Authorization/RestApiAclPermissionChecker.php
Due: composer-require-checker

chore: removed RestConfigCaseSensitivityTest
  tests/Tests/Unit/RestControllers/Config/RestConfigCaseSensitivityTest.php
Due: composer-require-checker

fix: phpstan baseline
  .phpstan/phpstan-globals-baseline.neon
Due: none

refactor: reused RestApiAclPermissionChecker at codebase
  apis/routes/_rest_routes_fhir_r4_us_core_3_1_0.inc.php
  apis/routes/_rest_routes_standard.inc.php
  src/RestControllers/FHIR/FhirGenericRestController.php
Due: composer-require-checker
