Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


feat(ccda): implement Care Team section with data
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Functional Status section with data
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Mental Status section with data
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Medical Equipment section with data
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Payers section with data
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Plan of Care section data rendering
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Social History section data rendering
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement clinical note sections
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(ccda): extract appendStatusCode helper with ActStatus enum
  src/Cda/ActStatus.php
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(ccda): extract createLoincCode helper
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(ccda): apply createLoincCode helper to remaining section codes
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(ccda): extract appendVersionedTemplateId helper
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

test(routing): cover Symfony-routing strangler seam to 100%
  tests/Tests/Isolated/Core/Routing/Fixture/JsonModelStateFactory.php
  tests/Tests/Isolated/Core/Routing/Fixture/modules/module/NonArrayConfig/config/module.config.php
  tests/Tests/Isolated/Core/Routing/ServiceManagerControllerLocatorIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModelResponderIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModuleApplicationIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModuleRouteLoaderIsolatedTest.php
Due: composer-require-checker

test(routing): use ::class for canary controller constant
  tests/Tests/Isolated/Core/Routing/ServiceManagerControllerLocatorIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModuleApplicationIsolatedTest.php
Due: composer-require-checker

fix(ccda): create separate result organizer per result panel
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(routing): Symfony-routing strangler seam for zend_modules (#12481)
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/method.nonObject.php
  .phpstan/baseline/varTag.noVariable.php
  composer.json
  composer.lock
  interface/modules/zend_modules/public/index.php
  src/Core/Routing/ServiceManagerControllerLocator.php
  src/Core/Routing/ZendControllerLocatorInterface.php
  src/Core/Routing/ZendModelResponder.php
  src/Core/Routing/ZendModuleApplication.php
  src/Core/Routing/ZendModuleControllerResolver.php
  src/Core/Routing/ZendModuleRouteLoader.php
  tests/Tests/Isolated/Core/Routing/Fixture/CanaryControllerFactory.php
  tests/Tests/Isolated/Core/Routing/Fixture/FixtureActionController.php
  tests/Tests/Isolated/Core/Routing/Fixture/JsonModelStateFactory.php
  tests/Tests/Isolated/Core/Routing/Fixture/modules/module/NonArrayConfig/config/module.config.php
  tests/Tests/Isolated/Core/Routing/ServiceManagerControllerLocatorIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModelResponderIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModuleApplicationIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModuleControllerResolverIsolatedTest.php
  tests/Tests/Isolated/Core/Routing/ZendModuleRouteLoaderIsolatedTest.php
Due: composer-validate, composer-normalize, composer-require-checker

feat(ccda): add USCDI social history observation types
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): set medication moodCode based on status
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): use Concerns (plural) for AllergyConcernAct displayName
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

docs(container-benchmarking): README example uses release variant (item 6)
  utilities/container_benchmarking/README.md
Due: none

ci(docker): add OCI labels + fix README example (items 2, 6)
  docker/release/Dockerfile
  utilities/container_benchmarking/README.md
Due: none

fix(ccda): only add immunization education when note data exists
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

ci(docker): add OCI labels + remove committed compose override (items 2, 3)
  .gitignore
  docker/development-easy/docker-compose.override.yml
  docker/release/Dockerfile
Due: none

ci(docker): address Copilot review (items 1, 2, 3, 4, 5)
  .github/workflows/docker-test-release.yml
  .gitignore
  docker/development-easy/docker-compose.override.yml
  docker/release/Dockerfile
  docker/release/openemr.sh
  docker/release/ssl.sh
Due: none

chore: add idel and plantext to codespell ignore list
  .codespell-ignore-words.txt
Due: none

ci(docker): add byte-identical drift canary across rel branches
  .github/workflows/docker-validate-byte-identical.yml
Due: none

Revert "fix(ccda): only add immunization education when note data exists"
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): revert results and moodCode changes to match Node.js
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

ci(docker): post-merge review fixes (kcov target, drift canary, hardening)
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-build-flex-core.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-release-orchestrator.yml
  .github/workflows/docker-test-bats.yml
  .github/workflows/docker-test-container-functionality.yml
  .github/workflows/docker-test-core.yml
  .github/workflows/docker-test-release.yml
  .github/workflows/docker-validate-byte-identical.yml
  .github/workflows/docker-validate-release-targets.yml
Due: none

ci(docker): post-merge review fixes (kcov target, BATS pins, action versions)
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-test-bats.yml
  .github/workflows/docker-test-release.yml
Due: none

ci(docker): post-merge review fixes (kcov target, action versions)
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-test-release.yml
Due: none

ci(docker): post-merge review fixes (action version sync with master)
  .github/actions/test-actions-core/action.yml
  .github/workflows/docker-build-release.yml
Due: none

ci(docker): sync docker-test-core.yml with master (Item 6 validation step)
  .github/workflows/docker-test-core.yml
Due: none

feat(ccda): implement Advance Directives section with actual data
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Hunger Vital Signs / SDOH observation
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Disability Assessment observation
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Reason for Referral section
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

fix(ccda): add SNOMED code attributes to CO type result values
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker
