Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(docker): remove obsolete --with-pic from dev-php-fpm 8.6 build
  docker/library/dockers/dev-php-fpm/Dockerfile
Due: none

fix(acl): bump $v_acl to 13 and mirror med write permission for new installs
  acl_upgrade.php
  library/classes/Installer.class.php
  version.php
Due: composer-require-checker

ci(docker): allow dry-run dev-php-fpm build from any branch; gate push to master
  .github/workflows/build-dev-php-fpm-docker.yml
Due: none

Pre-seed the migrations table
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
Due: none

chore: remove stray tools/globals-migrate/.gitignore
  tools/globals-migrate/.gitignore
Due: none

remove explicit collation
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
Due: none

8965|fix(oidc): clear CI after master rebase
  sql/database.sql
  tests/Tests/Isolated/Common/Auth/Oidc/Cache/RedisCacheTest.php
  version.php
Due: composer-require-checker

version
  sql/database.sql
  version.php
Due: composer-require-checker

Move sql back a version
  sql/8_0_0-to-8_1_0_upgrade.sql
  sql/8_1_0-to-8_1_1_upgrade.sql
Due: none

Fix whitespace
  sql/8_1_0-to-8_1_1_upgrade.sql
Due: none

Remove forward upgrade
  sql/8_1_0-to-8_1_1_upgrade.sql
Due: none

version
  version.php
Due: composer-require-checker

feat(cache): add PSR-16 cache abstraction with three backends
  composer.json
  composer.lock
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  sql/patch.sql
  src/Common/Cache/CacheEntry.php
  src/Common/Cache/CacheException.php
  src/Common/Cache/CacheInvalidArgumentException.php
  src/Common/Cache/DatabaseCache.php
  src/Common/Cache/FilesystemCache.php
  src/Common/Cache/RedisCache.php
  tests/Tests/Integration/Common/Cache/DatabaseCacheTest.php
  tests/Tests/Isolated/Common/Cache/CacheEntryTest.php
  tests/Tests/Isolated/Common/Cache/FilesystemCacheTest.php
  tests/Tests/Isolated/Common/Cache/RedisCacheTest.php
  version.php
Due: composer-validate, composer-normalize, composer-require-checker

Implement quick vitals entry feature
  interface/forms/vitals/quick_edit.php
  interface/forms/vitals/quick_save.php
  interface/patient_file/summary/demographics.php
  interface/patient_file/summary/quick_vitals_save.php
  interface/patient_file/summary/vitals_fragment.php
Due: composer-require-checker

copilot suggestions ALL
  interface/forms/vitals/C_FormVitals.class.php
  interface/forms/vitals/templates/vitals/vitals.html.twig
  interface/forms/vitals/templates/vitals/vitals_textbox.html.twig
  interface/forms/vitals/templates/vitals/vitals_textbox_conversion.html.twig
  interface/forms/vitals/vitals.js
Due: composer-require-checker

test(Document): add characterization tests for storage path calculation
  tests/Tests/Isolated/DocumentStoragePathTest.php
Due: composer-require-checker

refactor(Document): extract calculateStoragePath as testable static method
  library/classes/Document.class.php
Due: composer-require-checker

fix(vitals): remove uncaught service-level validation exception
  interface/forms/vitals/C_FormVitals.class.php
  src/Services/VitalsService.php
  src/Services/VitalsValidationService.php
Due: composer-require-checker

chore(test): remove forbidden CoversClass attribute
  tests/Tests/Isolated/DocumentStoragePathTest.php
Due: composer-require-checker

refactor(Document): use calculateStoragePath in createDocument
  library/classes/Document.class.php
Due: composer-require-checker

test(Document): rename test class and add negative ID case
  tests/Tests/Isolated/DocumentTest.php
Due: composer-require-checker

Move Smarty compile directory to system temp
  gacl/admin/gacl_admin.inc.php
  library/classes/Controller.class.php
Due: composer-require-checker

Move mPDF temp directory to system temp
  interface/modules/zend_modules/module/PrescriptionTemplates/src/PrescriptionTemplates/Controller/PdfTemplatesController.php
  interface/procedure_tools/libs/labs_ajax.php
  src/Pdf/Config_Mpdf.php
Due: composer-require-checker

Remove obsolete Smarty/mPDF directory setup from globals
  interface/globals.php
Due: composer-require-checker

Move PostCalendar Smarty compile dir to system temp
  interface/main/calendar/modules/PostCalendar/pcSmarty.class.php
Due: composer-require-checker

Remove obsolete Rector skip for Smarty compile dir
  rector.php
Due: composer-require-checker

Update PHPStan baseline after temp dir changes
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
Due: composer-require-checker

Create Smarty compile dir for legacy Smarty
  interface/main/calendar/modules/PostCalendar/pcSmarty.class.php
Due: composer-require-checker

Remove obsolete Smarty/mPDF directories from documents
  sites/default/documents/mpdf/pdf_tmp/README
  sites/default/documents/smarty/gacl/README
  sites/default/documents/smarty/main/README
Due: none

Fix PHPStan exclusion path
  .phpstan/phpstan.github.neon
Due: none

refactor(globals): clean up stale $GLOBALS references in comments
  controllers/C_Document.class.php
  interface/forms/eye_mag/php/eye_mag_functions.php
  interface/modules/custom_modules/oe-module-claimrev-connect/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-dashboard-context/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-dorn/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-faxsms/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-faxsms/src/Events/NotificationEventListener.php
  interface/modules/custom_modules/oe-module-prior-authorizations/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-weno/ModuleManagerListener.php
  interface/patient_file/history/history_sdoh_save.php
  interface/patient_file/report/custom_report.php
  interface/reports/custom_report_range.php
  library/js/xl/datatables-net.js.php
  library/js/xl/dygraphs.js.php
  library/js/xl/jquery-datetimepicker-2-5-4-alternate.js.php
  library/js/xl/jquery-datetimepicker-2-5-4.js.php
  library/js/xl/select2.js.php
  portal/messaging/messages.php
  src/Core/AbstractModuleActionListener.php
Due: composer-require-checker

ci(mago): add advisory-only Mago workflow (PoC)
  .github/workflows/mago.yml
  mago.toml
Due: none

ci(mago): make Mago checks actually fail the job
  .github/workflows/mago.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

