Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

same for other
  bin/console
Due: none

Improve merge
  portal/portal_payment.php
Due: composer-require-checker

Guard that all requisite headers are present
  src/PaymentProcessing/Rainforest/WebhookVerifier.php
Due: composer-require-checker

Add a couple more comments in the webhook processing
  src/PaymentProcessing/Rainforest/WebhookVerifier.php
Due: composer-require-checker

Adjust class names and namespaces
  src/PaymentProcessing/Rainforest/Webhooks/Verifier.php
  src/PaymentProcessing/Rainforest/Webhooks/Webhook.php
  verify.php
Due: composer-require-checker

Stub out the actual handlers
  src/PaymentProcessing/Rainforest/Webhooks/ProcessorInterface.php
  src/PaymentProcessing/Rainforest/Webhooks/RecordPayment.php
Due: composer-require-checker

Set up first-pass of dispatcher
  src/PaymentProcessing/Rainforest/Webhooks/Dispatcher.php
Due: composer-require-checker

doccomment for how the processors should work
  src/PaymentProcessing/Rainforest/Webhooks/ProcessorInterface.php
Due: composer-require-checker

Add the event types into the interface
  src/PaymentProcessing/Rainforest/Webhooks/ProcessorInterface.php
Due: composer-require-checker

Sketch out more dispatcher internals
  src/PaymentProcessing/Rainforest/Webhooks/Dispatcher.php
Due: composer-require-checker

Adjust entrypoint to match interface changes
  verify.php
Due: composer-require-checker

fix(front_payment): sql query error modifier can not be null
  interface/patient_file/front_payment.php
Due: composer-require-checker

notes
  src/PaymentProcessing/Rainforest/Webhooks/RecordPayment.php
Due: composer-require-checker

feat(demographics): add pronouns
  sql/7_0_4-to-8_0_0_upgrade.sql
  sql/database.sql
Due: none

row2d
  sql/7_0_4-to-8_0_0_upgrade.sql
Due: none

Set cookie secure flag based on install settings
  src/Common/Session/SessionUtil.php
Due: composer-require-checker

fix
  sql/7_0_4-to-8_0_0_upgrade.sql
  sql/database.sql
Due: none

seq + 10
  sql/7_0_4-to-8_0_0_upgrade.sql
Due: none

Add doctrine/dbal (#10194)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(cli): Handle php installed in other locations (#10196)
  bin/command-runner
  bin/console
Due: none

main menu - fix user dropdown width
  interface/main/tabs/main.php
Due: composer-require-checker

Portal custom reports refactor
  portal/report/portal_custom_report.php
  portal/report/portal_patient_report.php
  templates/portal/partial/reports/patient_report/_documents.html.twig
Due: composer-require-checker

Remove unused variable $tmp_files_removed
  portal/report/portal_custom_report.php
Due: composer-require-checker

feat: fix #10095 related persons save (#10192)
  library/templates/relation_form.php
  src/Services/ContactRelationService.php
  src/Services/ContactTelecomService.php
  templates/patient/demographics/relation_form.html.twig
  templates/patient/demographics/relation_form_fields.html.twig
  templates/patient/demographics/relation_form_search.html.twig
Due: composer-require-checker

Delete variable undefined phpstan rules
  .phpstan/phpstan-remaining-baseline.neon
Due: none

add back phpstan rules wrongly deleted
  .phpstan/phpstan-remaining-baseline.neon
Due: none

fix(portal): refactor custom reports (#10207)
  .phpstan/phpstan-remaining-baseline.neon
  portal/report/portal_custom_report.php
  portal/report/portal_patient_report.php
  templates/portal/partial/reports/patient_report/_documents.html.twig
Due: composer-require-checker

if correct site ID is missing die
  interface/modules/custom_modules/oe-module-faxsms/library/webhook_receiver.php
Due: composer-require-checker

bring over related PR
  interface/patient_file/summary/insurance_edit.php
  interface/super/edit_layout.php
  library/sql.inc.php
  sql/7_0_4-to-8_0_0_upgrade.sql
Due: composer-require-checker

better place in layout
  sql/7_0_4-to-8_0_0_upgrade.sql
Due: none

reviewed by brady
  sql/7_0_4-to-8_0_0_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

feat(ci): add workflow to run actionlint on GitHub Actions workflows
  .github/actionlint-matcher.json
  .github/workflows/actionlint.yml
Due: none

feat(session): add SSO authentication support for external identity providers
  interface/main/main_screen.php
Due: composer-require-checker

fix(demographics): updateEmployerData() Automatic conversion of false to array is deprecated
  interface/patient_file/summary/demographics_save.php
Due: composer-require-checker

fix(demographics): updateEmployerData() Automatic conversion of false to array is deprecated (#10214)
  interface/patient_file/summary/demographics_save.php
Due: composer-require-checker

fix 10204
  sql/7_0_4-to-8_0_0_upgrade.sql
  sql/database.sql
Due: none

fix(insurance): rel-704 insurance edit fails if dashboard context module enabled
  interface/modules/custom_modules/oe-module-dashboard-context/openemr.bootstrap.php
  interface/patient_file/summary/insurance_edit.php
Due: composer-require-checker

fix(ci): address violations reported by actionlint
  .github/workflows/actionlint.yml
  .github/workflows/api-docs.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer.yml
  .github/workflows/inferno-test.yml
  .github/workflows/isolated-tests.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/test.yml
Due: none

fix typo and use $PWD
  .github/workflows/actionlint.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

