Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(ci): use valid GitHub Actions expression for conditional job (#10178)
  .github/workflows/test-all.yml
Due: none

Fix copied file header
  .phpstan/ForbiddenStaticMethodsRule.php
Due: composer-require-checker

removal of remining white space
  interface/modules/custom_modules/oe-module-faxsms/library/webhook_receiver.php
Due: composer-require-checker

Revert "fix(ci): use valid GitHub Actions expression for conditional job (#10178)"
  .github/workflows/test-all.yml
Due: none

Revert "fix: test-all workflow skipped on master due to conditional dependency (#10174)"
  .github/workflows/test-all.yml
Due: none

Revert "ci: skip slow tests via commit trailer (#10134)"
  .github/workflows/test-all.yml
  ci/README.md
Due: none

Remove reset mechanism
  interface/globals.php
  src/Core/OEGlobalsBag.php
Due: composer-require-checker

fix: php warning from invalid conditions value in demographics layout
  interface/patient_file/summary/insurance_edit.php
  interface/super/edit_layout.php
  library/sql.inc.php
  sql/7_0_3-to-7_0_4_upgrade.sql
  sql/7_0_4-to-8_0_0_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

db is fine
  sql/database.sql
Due: none

Initial webhook verification process
  src/PaymentProcessing/Rainforest/Webhook.php
  src/PaymentProcessing/Rainforest/WebhookVerifier.php
Due: composer-require-checker

Fix a couple format munging bugs
  src/PaymentProcessing/Rainforest/WebhookVerifier.php
Due: composer-require-checker

Prototype of entrypoint
  verify.php
Due: composer-require-checker

Use a bit of structure in the webhook body
  src/PaymentProcessing/Rainforest/Webhook.php
Due: composer-require-checker

Notes for next steps
  verify.php
Due: composer-require-checker

docs
  src/PaymentProcessing/Rainforest/WebhookVerifier.php
Due: composer-require-checker

plan on bypassing globalsbag in favor of env directly
  library/globals.inc.php
  src/PaymentProcessing/Rainforest.php
Due: composer-require-checker

match dotenv loading, use superglobal instead of getenv
  src/PaymentProcessing/Rainforest.php
  verify.php
Due: composer-require-checker

remove config addition outright
  library/globals.inc.php
Due: composer-require-checker

deps(composer): remove mobiledetect/mobiledetectlib (#10179)
  build.xml
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Fix errors & add tests for cqm and schematron
  src/Cqm/Qdm/EncounterPerformed.php
  src/Cqm/Qdm/QDMBaseType.php
  src/Services/Cda/CdaValidateDocuments.php
  src/Services/Qdm/Measure.php
  src/Services/Qrda/AggregateCount.php
  src/Services/Qrda/Cat3.php
  tests/Tests/Services/Cda/CdaValidateDocumentsTest.php
  tests/Tests/Services/Qrda/QrdaReportServiceTest.php
Due: composer-require-checker

Remove reset mechanism (#10186)
  interface/globals.php
  src/Core/OEGlobalsBag.php
Due: composer-require-checker

feat: add Patients by Marketer report (#133)
  interface/main/tabs/menu/menus/standard.json
  interface/reports/patients_by_marketer.php
Due: composer-require-checker

Fix errors & add tests for cqm and schematron (#10190)
  src/Cqm/Qdm/EncounterPerformed.php
  src/Cqm/Qdm/QDMBaseType.php
  src/Services/Cda/CdaValidateDocuments.php
  src/Services/Qdm/Measure.php
  src/Services/Qrda/AggregateCount.php
  src/Services/Qrda/Cat3.php
  tests/Tests/Services/Cda/CdaValidateDocumentsTest.php
  tests/Tests/Services/Qrda/QrdaReportServiceTest.php
Due: composer-require-checker

Make gender field on create consistent
  library/templates/relation_form.php
  templates/patient/demographics/relation_form_search.html.twig
Due: composer-require-checker

feat(portalSession): replace portal native PHP session with Symfony Session (WiP)
  docker/development-easy/docker-compose.yml
  portal/account/account.lib.php
  portal/account/account.php
  portal/account/index_reset.php
  portal/account/register.php
  portal/account/verify.php
  portal/add_edit_event_user.php
  portal/find_appt_popup_user.php
  portal/get_patient_info.php
  portal/home.php
  portal/index.php
  portal/lib/appsql.class.php
  portal/lib/doc_lib.php
  portal/lib/download_template.php
  portal/lib/paylib.php
  portal/lib/persist.php
  portal/lib/portal_mail.inc.php
  portal/lib/track_portal_events.php
  portal/logout.php
  portal/messaging/handle_note.php
  portal/messaging/messages.php
  portal/messaging/secure_chat.php
  portal/patient/_machine_config.php
  portal/patient/index.php
  portal/patient/libs/Controller/OnsiteActivityViewController.php
  portal/patient/libs/Controller/PatientController.php
  portal/patient/libs/Controller/ProviderController.php
  portal/patient/templates/OnsiteDocumentListView.tpl.php
  portal/patient/templates/_FormsHeader.tpl.php
  portal/patient/templates/_Header.tpl.php
  portal/portal_payment.php
  portal/report/document_downloads_action.php
  portal/report/portal_custom_report.php
  portal/report/portal_patient_report.php
  portal/sign/assets/signer_modal.php
  portal/sign/lib/save-signature.php
  portal/sign/lib/show-signature.php
  portal/verify_session.php
  src/Common/Session/SessionConfigurationBuilder.php
  src/Common/Session/SessionUtil.php
Due: composer-require-checker

fix(portalSession): minor issue with user notes
  portal/lib/appsql.class.php
Due: composer-require-checker

chore(portalSession): small improvements
  portal/account/account.lib.php
  portal/account/account.php
  portal/account/verify.php
  portal/lib/appsql.class.php
  portal/lib/download_template.php
  portal/lib/portal_mail.inc.php
  portal/patient/libs/Controller/OnsiteActivityViewController.php
  portal/patient/libs/Controller/PatientController.php
  portal/patient/libs/Controller/ProviderController.php
Due: composer-require-checker

chore(docker): revert docker local changes
  docker/development-easy/docker-compose.yml
Due: none

fix(portalSession): fix issue csrf not using Symfony Session in portal
  portal/account/account.php
  portal/account/index_reset.php
  portal/account/verify.php
  portal/get_patient_documents.php
  portal/home.php
  portal/import_template.php
  portal/import_template_ui.php
  portal/index.php
  portal/lib/doc_lib.php
  portal/lib/persist.php
  portal/lib/track_portal_events.php
  portal/messaging/handle_note.php
  portal/messaging/messages.php
  portal/patient/templates/OnsiteActivityViewListView.tpl.php
  portal/patient/templates/OnsiteDocumentListView.tpl.php
  portal/portal_payment.php
Due: composer-require-checker

feat(portalSession): using `.pem` key for signing JWT token
  docker/development-easy/docker-compose.yml
  interface/modules/zend_modules/public/index.php
  portal/home.php
  src/Common/Auth/JWT/JwtService.php
Due: composer-require-checker

fix(sessionWrapper): refactor globals.php to use session wrapper and fix small issues (WiP)
  interface/globals.php
  portal/lib/download_template.php
  src/Common/Session/PHPSessionWrapper.php
  src/Common/Session/SessionWrapperInterface.php
  src/Common/Session/SymfonySessionWrapper.php
Due: composer-require-checker

feat(sessionWrapper): add session wrapper to handle shared files between apps (WiP)
  interface/login/login.php
  portal/index.php
  portal/lib/portal_mail.inc.php
  portal/messaging/messages.php
  src/Common/Session/PHPSessionWrapper.php
  src/Common/Session/SessionUtil.php
  src/Common/Session/SessionWrapperFactory.php
  src/Common/Session/SessionWrapperInterface.php
  src/Common/Session/SymfonySessionWrapper.php
Due: composer-require-checker

chore(cleanup): clean phpstan complains
  interface/login/login.php
  portal/lib/download_template.php
  portal/patient/index.php
  src/Common/Session/PHPSessionWrapper.php
Due: composer-require-checker

fix(newLBF): fix new LBF and some small cleanup
  interface/forms/LBF/new.php
  portal/account/account.php
  portal/lib/appsql.class.php
Due: composer-require-checker

chore(PhreezeReporter): white space removed
  portal/patient/fwk/libs/verysimple/Phreeze/Reporter.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

