Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


switch/case
  modules/sms_email_reminder/cron_sms_notification.php
Due: composer-require-checker

fix a global while we're already here
  modules/sms_email_reminder/cron_functions.php
  modules/sms_email_reminder/cron_sms_notification.php
Due: composer-require-checker

matchy matchy
  modules/sms_email_reminder/cron_sms_notification.php
Due: composer-require-checker

fix(vitals): add translation support for BMI status display (#10406)
  interface/forms/vitals/C_FormVitals.class.php
  interface/forms/vitals/templates/vitals/vitals_bmi_status.html.twig
  interface/forms/vitals/templates/vitals/vitals_historical_values.html.twig
  src/Common/Forms/BmiCategory.php
  src/Common/Forms/FormVitals.php
Due: composer-require-checker

Collapse a few more by hand
  interface/forms/clinic_note/new.php
  interface/forms/clinic_note/view.php
  interface/forms/procedure_order/common.php
  interface/orders/types_edit.php
  interface/patient_file/summary/add_edit_issue.php
  library/global_functions.inc.php
Due: composer-require-checker

Add a rough common interface
  modules/sms_email_reminder/cron_functions.php
  modules/sms_email_reminder/cron_sms_notification.php
  modules/sms_email_reminder/sms_clickatell.php
  modules/sms_email_reminder/sms_interface.php
  modules/sms_email_reminder/sms_tmb4.php
Due: composer-require-checker

fix(session): increase app cookie expire time and better wrapper selection logic (#10227)
  src/Common/Session/SessionUtil.php
  src/Common/Session/SessionWrapperFactory.php
Due: composer-require-checker

feat(telemetry): Enhance telemetry (#10302)
  interface/main/tabs/main.php
  src/Telemetry/TelemetryRepository.php
  src/Telemetry/TelemetryService.php
  tests/Tests/Isolated/Telemetry/TelemetryServiceTest.php
Due: composer-require-checker

remove outdated comment
  modules/sms_email_reminder/cron_sms_notification.php
Due: composer-require-checker

refactor(validation): consolidate phone number handling using PhoneNumberService
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  composer.json
  composer.lock
  custom/BillingExport.csv.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentService.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
  interface/modules/custom_modules/oe-module-weno/src/Services/TransmitProperties.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  interface/orders/orders_results.php
  interface/reports/immunization_report.php
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
  library/classes/PhoneNumber.class.php
  library/lab.inc.php
  src/Billing/Claim.php
  src/Common/Utils/ValidationUtils.php
  src/Common/ValueObjects/PhoneNumber.php
  src/Common/ValueObjects/TypedPhoneNumber.php
  src/Services/Cda/CdaComponentParseHelpers.php
  src/Services/ContactTelecomService.php
  src/Services/DocumentTemplates/DocumentTemplateRender.php
  src/Services/InsuranceCompanyService.php
  src/Services/PhoneNumberService.php
  src/Services/PhoneType.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(validation): consolidate phone number handling using PhoneNumberService (#10326)
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  composer.json
  composer.lock
  custom/BillingExport.csv.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentService.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
  interface/modules/custom_modules/oe-module-weno/src/Services/TransmitProperties.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  interface/orders/orders_results.php
  interface/reports/immunization_report.php
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
  library/classes/PhoneNumber.class.php
  library/lab.inc.php
  src/Billing/Claim.php
  src/Common/Utils/ValidationUtils.php
  src/Common/ValueObjects/PhoneNumber.php
  src/Common/ValueObjects/TypedPhoneNumber.php
  src/Services/Cda/CdaComponentParseHelpers.php
  src/Services/ContactTelecomService.php
  src/Services/DocumentTemplates/DocumentTemplateRender.php
  src/Services/InsuranceCompanyService.php
  src/Services/PhoneNumberService.php
  src/Services/PhoneType.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-validate, composer-normalize, composer-require-checker

Add alert message to confirm success on patient form submission.
  interface/forms/newpatient/templates/newpatient/common.html.twig
Due: none

Use Bootstrap alert for form submission feedback
  interface/forms/newpatient/newpatient.js
  interface/forms/newpatient/templates/newpatient/partials/common/_body-scripts.html.twig
Due: none

refactor: use asyncAlertMsg utility instead of custom alert implementation
  interface/forms/newpatient/newpatient.js
Due: none

start of readme
  src/PaymentProcessing/Rainforest/README.md
Due: none

fix: remove extraneous blank line from twig template
  interface/forms/newpatient/templates/newpatient/common.html.twig
Due: none

fixup readme
  src/PaymentProcessing/Rainforest/README.md
Due: none

copy from other branch
  interface/patient_file/front_payment.php
  interface/patient_file/front_payment.rainforest.php
  interface/webhooks/payment/rainforest.php
  library/globals.inc.php
  portal/portal_payment.php
  portal/portal_payment.rainforest.php
Due: composer-require-checker

omit config changes
  library/globals.inc.php
Due: composer-require-checker

Remove other entrypoints
  interface/patient_file/front_payment.rainforest.php
  portal/portal_payment.rainforest.php
Due: composer-require-checker

Remove webhook entrypoint
  interface/webhooks/payment/rainforest.php
Due: composer-require-checker

remove rainforest references from front_payment
  interface/patient_file/front_payment.php
Due: composer-require-checker

remove rainforest
  portal/portal_payment.php
Due: composer-require-checker

rename function to fix global collision and switch to named args
  interface/patient_file/front_payment.php
Due: composer-require-checker

Deal with the global thing in FP path
  interface/patient_file/front_payment.php
Due: composer-require-checker

take var_index out of globals on P/PP
  portal/portal_payment.php
Due: composer-require-checker

remove globals from P/PP
  portal/portal_payment.php
Due: composer-require-checker

baseline
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
Due: composer-require-checker

Merge commit from fork
  portal/sign/lib/save-signature.php
Due: composer-require-checker

Merge commit from fork
  interface/forms/eye_mag/view.php
Due: composer-require-checker

refactor(js): remove syncAlertMsg and modernize asyncAlertMsg
  interface/easipro/pro.php
  interface/forms/questionnaire_assessments/questionnaire_assessments.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/templates/comlink/portal/thirdparty.html.twig
  interface/modules/custom_modules/oe-module-weno/templates/indexrx.php
  interface/modules/custom_modules/oe-module-weno/templates/pharmacy_list_form.php
  interface/modules/custom_modules/oe-module-weno/templates/setup_facilities.php
  interface/modules/custom_modules/oe-module-weno/templates/weno_setup.php
  interface/modules/custom_modules/oe-module-weno/templates/weno_users.php
  library/js/utility.js
  library/payment_jav.inc.php
  portal/patient/scripts/app/onsitedocuments.js
  templates/portal/home.html.twig
Due: composer-require-checker

Inline the render path directly
  portal/portal_payment.php
Due: composer-require-checker

wip-fp
  interface/patient_file/front_payment.php
Due: composer-require-checker

fix erroneous calc in pp
  portal/portal_payment.php
Due: composer-require-checker

reindex to match alignment on previous version
  interface/patient_file/front_payment.php
Due: composer-require-checker

rm function
  interface/patient_file/front_payment.php
Due: composer-require-checker

feat: add widget reordering and custom label support to dashboard context manager
  interface/modules/custom_modules/oe-module-dashboard-context/public/admin.php
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context-admin.js
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context.js
  interface/modules/custom_modules/oe-module-dashboard-context/sql/install.sql
  interface/modules/custom_modules/oe-module-dashboard-context/sql/uninstall.sql
  interface/modules/custom_modules/oe-module-dashboard-context/src/Controller/AdminController.php
  interface/modules/custom_modules/oe-module-dashboard-context/src/Controller/ContextWidgetController.php
  interface/modules/custom_modules/oe-module-dashboard-context/src/Controller/UserContextController.php
  interface/modules/custom_modules/oe-module-dashboard-context/src/Services/DashboardContextAdminService.php
  interface/modules/custom_modules/oe-module-dashboard-context/src/Services/DashboardContextService.php
Due: composer-require-checker

fix: keep loadContextWidgets using get_context_widgets endpoint
  interface/modules/custom_modules/oe-module-dashboard-context/public/assets/js/dashboard-context.js
  interface/modules/custom_modules/oe-module-dashboard-context/src/Controller/ContextWidgetController.php
  interface/modules/custom_modules/oe-module-dashboard-context/src/Controller/UserContextController.php
Due: composer-require-checker
