Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


Add baseline splitter util
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Generate baselines in PHP and use splitter
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Drop neon-based baselines
  .phpstan/phpstan-curl-baseline.neon
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan-globals-baseline.neon
  .phpstan/phpstan-remaining-baseline.neon
  .phpstan/phpstan.github.neon
Due: none

tweak composer wrappers
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Add the new baselines
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/classConstant.notFound.php
  .phpstan/baseline/constant.notFound.php
  .phpstan/baseline/empty.variable.php
  .phpstan/baseline/function.notFound.php
  .phpstan/baseline/include.fileNotFound.php
  .phpstan/baseline/includeOnce.fileNotFound.php
  .phpstan/baseline/isset.variable.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/method.notFound.php
  .phpstan/baseline/nullCoalesce.variable.php
  .phpstan/baseline/openemr.deprecatedLaminasDb.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenCurlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/property.notFound.php
  .phpstan/baseline/requireOnce.fileNotFound.php
  .phpstan/baseline/return.missing.php
  .phpstan/baseline/variable.undefined.php
  .phpstan/phpstan.github.neon
Due: composer-require-checker

Add a gitattributes to tag the baselines as generated
  .gitattributes
Due: none

refactor(ci): Change phpstan baseline files to PHP & integrate per-error-code splitter tool (#10218)
  .gitattributes
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/classConstant.notFound.php
  .phpstan/baseline/constant.notFound.php
  .phpstan/baseline/empty.variable.php
  .phpstan/baseline/function.notFound.php
  .phpstan/baseline/include.fileNotFound.php
  .phpstan/baseline/includeOnce.fileNotFound.php
  .phpstan/baseline/isset.variable.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/method.notFound.php
  .phpstan/baseline/nullCoalesce.variable.php
  .phpstan/baseline/openemr.deprecatedLaminasDb.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenCurlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/property.notFound.php
  .phpstan/baseline/requireOnce.fileNotFound.php
  .phpstan/baseline/return.missing.php
  .phpstan/baseline/variable.undefined.php
  .phpstan/phpstan-curl-baseline.neon
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan-globals-baseline.neon
  .phpstan/phpstan-remaining-baseline.neon
  .phpstan/phpstan.github.neon
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Refactor SignalWireClient to Store Inbound Faxes in Queue
  interface/modules/custom_modules/oe-module-faxsms/FAX_QUEUE_STORAGE_REFACTORING.md
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/table.sql
Due: composer-require-checker

refactor(payments): Extract gateway-specific payment JS code to standalone files (#9724)
  .phpstan/baseline/loader.php
  .phpstan/baseline/variable.undefined.php
  portal/portal_payment.authorizenet.js
  portal/portal_payment.php
  portal/portal_payment.stripe.js
Due: composer-require-checker

try to fix generated marker
  .gitattributes
Due: none

format changed?
  .gitattributes
Due: none

tweak further
  .gitattributes
Due: none

ignore for now, deal with it later
  .gitattributes
Due: none

feat(db): Add transaction abstraction layer to QueryUtils (#10177)
  .phpstan/ForbiddenFunctionsRule.php
  .phpstan/ForbiddenStaticMethodsRule.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/extension.neon
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

chore: change master dev version to 8.0.1
  _rest_routes.inc.php
  sql/8_0_0-to-8_0_1_upgrade.sql
  swagger/openemr-api.yaml
  version.php
Due: composer-require-checker

fix
  sql/8_0_0-to-8_0_1_upgrade.sql
Due: none

chore(version): change master dev version to 8.0.1 (#10222)
  _rest_routes.inc.php
  sql/8_0_0-to-8_0_1_upgrade.sql
  swagger/openemr-api.yaml
  version.php
Due: composer-require-checker

fix(tests): ccda test breaking in docker build on devops
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaServiceDocumentRequestorTest.php
Due: composer-require-checker

fix(session): increase app cookie expire time and better wrapper selection logic
  src/Common/Session/SessionUtil.php
  src/Common/Session/SessionWrapperFactory.php
Due: composer-require-checker

Set cookie to false
  src/Common/Session/SessionUtil.php
Due: composer-require-checker

Merge commit from fork
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Model/ImmunizationTable.php
  tests/Tests/Isolated/Immunization/ImmunizationSqlInjectionFixTest.php
Due: composer-require-checker

fix(portal) Save when using dd/mm/yyyy Format date to system date for available event slots Expand message and translate error messages
  portal/add_edit_event_user.php
Due: composer-require-checker

fix(test) remove always false variable in testEmptyPatientId() added patient_id to signature
  tests/Tests/Isolated/Immunization/ImmunizationSqlInjectionFixTest.php
Due: composer-require-checker

fix(php): checks broken in merge
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  tests/Tests/Isolated/Immunization/ImmunizationSqlInjectionFixTest.php
Due: composer-require-checker

fix(tests): remove UNION SELECT payloads with valid comma-separated parts
  tests/Tests/Isolated/Immunization/ImmunizationSqlInjectionFixTest.php
Due: composer-require-checker

fix(test): whitespace
  tests/Tests/Isolated/Immunization/ImmunizationSqlInjectionFixTest.php
Due: composer-require-checker

fix: checks broken in previous merge (#10230)
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  tests/Tests/Isolated/Immunization/ImmunizationSqlInjectionFixTest.php
Due: composer-require-checker

Add cache bust to payment portal js, don't rely on cross-file var leaking for it to work
  portal/portal_payment.php
Due: composer-require-checker

baseline
  .phpstan/baseline/loader.php
  .phpstan/baseline/variable.undefined.php
Due: composer-require-checker

fix(js): Add cache-busting query parameter to payment script (#10231)
  .phpstan/baseline/loader.php
  .phpstan/baseline/variable.undefined.php
  portal/portal_payment.php
Due: composer-require-checker

Start with a single wrapper function
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Rough-in the insert
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Iterate through impl
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Pass through remaining values
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Prepare adoption
  library/payment.inc.php
Due: composer-require-checker

Convert first function
  library/payment.inc.php
Due: composer-require-checker

Fix docblock, omit now-reundant list()
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Pass missing value
  library/payment.inc.php
Due: composer-require-checker

Add int param
  library/payment.inc.php
Due: composer-require-checker

Next block
  library/payment.inc.php
Due: composer-require-checker
