Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: (^|/)(composer\.lock|package-lock\.json)$|\.min\.(js|css)$|\.js\.map$|\.css\.map$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
    - --indent=2
    - --no-sort-keys
    exclude: ^composer\.json$
  - id: mixed-line-ending
    args:
    - --fix=lf

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args:
    - --autofix
    - --indent=2

- repo: local
  hooks:
  - id: php-syntax-check
    name: PHP Syntax Check
    entry: php -l
    language: system
    types:
    - inc
    - php

  - id: composer-validate
    name: Validate composer.json
    entry: composer validate --strict
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: composer-normalize
    name: Normalize composer.json
    entry: composer normalize
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: phpcbf
    name: PHP Code Beautifier and Fixer
    entry: php -d memory_limit=1g ./vendor/bin/phpcbf --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpcs
    name: PHP_CodeSniffer
    entry: php -d memory_limit=1g ./vendor/bin/phpcs --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpstan
    name: PHPStan Static Analysis
    entry: php -d memory_limit=1g ./vendor/bin/phpstan analyze --configuration=phpstan.neon.dist
    language: system
    types:
    - inc
    - php

  - id: rector
    name: Rector
    entry: php -d memory_limit=1g ./vendor/bin/rector process
    language: system
    types:
    - inc
    - php

  - id: composer-require-checker
    name: Composer Require Checker
    entry: composer run-script require-checker
    language: system
    files: ^(composer\.json|.*\.(php|inc))$
    pass_filenames: false

chore(phpstan): new phpstan-remaining-baseline.neon after cleanup
  .phpstan/phpstan-remaining-baseline.neon
Due: none

fixes from psr4
  interface/forms/fee_sheet/review/fee_sheet_classes.php
  tests/Tests/Unit/Forms/FeeSheet/Review/FeeSheetClassesTest.php
Due: composer-require-checker

typo
  src/Forms/FeeSheet/Review/CodeInfo.php
Due: composer-require-checker

fix(phpstan): resolve constructor.unusedParameter findings (#10062)
  .phpstan/phpstan-database-baseline.neon
  .phpstan/phpstan-remaining-baseline.neon
  interface/forms/prior_auth/FormPriorAuth.class.php
  interface/forms/ros/FormROS.class.php
  interface/forms/soap/FormSOAP.class.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/tests/Tests/Unit/TeleHealthVideoRegistrationControllerTest.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/zend_modules/module/Carecoordination/config/module.config.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Controller/ModuleconfigController.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Form/ModuleconfigForm.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Form/ImmunizationForm.php
  library/classes/InsuranceCompany.class.php
  library/classes/InsuranceNumbers.class.php
  library/classes/Person.class.php
  library/classes/Pharmacy.class.php
  library/classes/Provider.class.php
  library/classes/X12Partner.class.php
  portal/patient/fwk/libs/verysimple/Phreeze/SimpleRouter.php
  src/Common/Forms/FormVitals.php
Due: composer-require-checker

fix(phpstan): resolve return.missing findings
  .phpstan/phpstan-remaining-baseline.neon
  portal/patient/fwk/libs/verysimple/Phreeze/CacheNoCache.php
  portal/patient/fwk/libs/verysimple/Phreeze/CacheRam.php
  portal/patient/fwk/libs/verysimple/Phreeze/ICache.php
  portal/patient/fwk/libs/verysimple/Phreeze/Phreezable.php
  portal/patient/fwk/libs/verysimple/Phreeze/Phreezer.php
  portal/patient/fwk/libs/verysimple/Phreeze/Reporter.php
  portal/patient/fwk/libs/verysimple/Phreeze/SerializableTrait.php
  portal/patient/fwk/libs/verysimple/String/VerySimpleStringUtil.php
  src/Common/Auth/MfaUtils.php
  src/Core/Header.php
  src/Events/Messaging/SendNotificationEvent.php
  src/Menu/MenuRole.php
  src/Menu/MenuRoleInterface.php
Due: composer-require-checker

Update node versions php-fpm dockers Fixes #10022
  docker/library/dockers/dev-php-fpm-8-1-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-1/Dockerfile
  docker/library/dockers/dev-php-fpm-8-2-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-2/Dockerfile
  docker/library/dockers/dev-php-fpm-8-3-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-3/Dockerfile
  docker/library/dockers/dev-php-fpm-8-4-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-4/Dockerfile
Due: none

fix(phpstan): resolve return.missing findings (#10069)
  .phpstan/phpstan-remaining-baseline.neon
  portal/patient/fwk/libs/verysimple/Phreeze/CacheNoCache.php
  portal/patient/fwk/libs/verysimple/Phreeze/CacheRam.php
  portal/patient/fwk/libs/verysimple/Phreeze/ICache.php
  portal/patient/fwk/libs/verysimple/Phreeze/Phreezable.php
  portal/patient/fwk/libs/verysimple/Phreeze/Phreezer.php
  portal/patient/fwk/libs/verysimple/Phreeze/Reporter.php
  portal/patient/fwk/libs/verysimple/Phreeze/SerializableTrait.php
  portal/patient/fwk/libs/verysimple/String/VerySimpleStringUtil.php
  src/Common/Auth/MfaUtils.php
  src/Core/Header.php
  src/Events/Messaging/SendNotificationEvent.php
  src/Menu/MenuRole.php
  src/Menu/MenuRoleInterface.php
Due: composer-require-checker

test(js): add jsPDF integration tests for Fax/SMS module
  tests/js/jspdf-integration.test.js
  tests/js/pdf-utils.test.js
Due: none

test: add intentionally failing test for CI sanity check
  tests/js/pdf-utils.test.js
Due: none

test: remove intentional failure after CI sanity check passed
  tests/js/pdf-utils.test.js
Due: none

test(js): add jsPDF integration tests for Fax/SMS module (#10120)
  tests/js/jspdf-integration.test.js
  tests/js/pdf-utils.test.js
Due: none

fix test
  tests/Tests/Unit/Forms/FeeSheet/Review/FeeSheetClassesTest.php
Due: composer-require-checker

review sugg
  interface/forms/fee_sheet/review/fee_sheet_queries.php
Due: composer-require-checker

Update node versions php-fpm dockers Fixes #10022 (#10118)
  docker/library/dockers/dev-php-fpm-8-1-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-1/Dockerfile
  docker/library/dockers/dev-php-fpm-8-2-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-2/Dockerfile
  docker/library/dockers/dev-php-fpm-8-3-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-3/Dockerfile
  docker/library/dockers/dev-php-fpm-8-4-redis/Dockerfile
  docker/library/dockers/dev-php-fpm-8-4/Dockerfile
Due: none

Fixes #9877 adding ccda to phpunit tests
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaGenerator.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaServiceDocumentRequestor.php
  src/Services/FHIR/FhirDocRefService.php
  tests/Tests/Api/ApiTestClient.php
  tests/Tests/Certification/HIT1/G9_Certification/CCDADocRefGenerationTest.php
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaServiceDocumentRequestorTest.php
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-example-input1.xml
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-example-response1.xml
Due: composer-require-checker

Fix global settings for ci engine
  ci/ciLibrary.source
  ci/compose-shared-apache.yml
  ci/compose-shared-nginx.yml
Due: none

Fix inferno node version
  ci/inferno/compose.yml
Due: none

Fix test cases, enable ccda for ci engine
  ci/compose-shared-apache.yml
  ci/compose-shared-nginx.yml
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaServiceDocumentRequestor.php
  tests/Tests/Certification/HIT1/G9_Certification/CCDADocRefGenerationTest.php
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaServiceDocumentRequestorTest.php
Due: composer-require-checker

Add sort config
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Add sort config (#10122)
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Update class docblock
  src/BC/Database.php
Due: composer-require-checker

Remove some debugging code
  src/BC/Database.php
Due: composer-require-checker

Invert generateId wrappers
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

Fix: Carry over NDC info from previous encounters in Fee Sheet (#8558)
  interface/forms/fee_sheet/review/fee_sheet_ajax.php
  interface/forms/fee_sheet/review/fee_sheet_queries.php
  interface/forms/fee_sheet/review/fee_sheet_review_view_model.js
  src/Forms/FeeSheet/Review/CodeInfo.php
  src/Forms/FeeSheet/Review/EncounterInfo.php
  src/Forms/FeeSheet/Review/Procedure.php
  tests/Tests/Unit/Forms/FeeSheet/Review/FeeSheetClassesTest.php
Due: composer-require-checker

Better match the previous API
  library/sql.inc.php
Due: composer-require-checker

Extract errors in a way more consistent with previous implementation
  library/sql.inc.php
Due: composer-require-checker

docblock
  library/sql.inc.php
Due: composer-require-checker

make connection readonly
  src/BC/Database.php
Due: composer-require-checker

lower globals in baseline
  .phpstan/phpstan-globals-baseline.neon
Due: none

Test the wrapper
  src/BC/Database.php
  tests/Tests/BC/DatabaseTest.php
  tests/bootstrap.php
Due: composer-require-checker

Test more and restructure the tests slightly
  tests/Tests/BC/DatabaseTest.php
Due: composer-require-checker

use review sugg
  library/options.inc.php
Due: composer-require-checker

fix docblock and phpcbf
  library/options.inc.php
Due: composer-require-checker

fix docblock
  library/options.inc.php
Due: composer-require-checker

pre-commit for wsp is new and there's no detail for fails
  library/options.inc.php
Due: composer-require-checker

PHPStan and rector rerun
  composer.json
  tests/Tests/Unit/Reports/AmcTracking/AmcTrackingControllerTest.php
Due: composer-validate, composer-normalize, composer-require-checker

fix: upgradee php dev docker from debian bullseye to trixie
  docker/library/dockers/dev-php-fpm/Dockerfile
Due: none
