Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


docs: document openemr-cmd phpstan-generate-reset and update-layout-field-fixtures
  CLAUDE.md
  CONTRIBUTING.md
Due: none

docs: clarify FieldRenderingSnapshotTest scope is renderer branches, not user fields
  CLAUDE.md
Due: none

docs: document openemr-cmd phpstan-generate-reset and update-layout-field-fixtures (#12250)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

test: exclude NotificationCronEmailTest from e2e suite (it lives in email suite)
  phpunit.xml
Due: none

test(api): align site_addr_oath with baseUrl in GroupExportFhirApiTest setUp
  tests/Tests/Api/GroupExportFhirApiTest.php
Due: composer-require-checker

fix(globals): stop forcing E_ALL error reporting
  interface/globals.php
  library/globals.inc.php
  library/js/utility.js
Due: composer-require-checker

fix: Fix ethnicity decline setting (#12189)
  sql/8_0_0-to-8_1_0_upgrade.sql
Due: none

test: exclude NotificationCronEmailTest from e2e suite (it lives in email suite) (#12258)
  phpunit.xml
Due: none

test(api): address Copilot review on GroupExportFhirApiTest audience fix
  tests/Tests/Api/GroupExportFhirApiTest.php
Due: composer-require-checker

feat(storage): fail fast when CLI runs as non-web user before file writes
  .composer-require-checker.json
  src/Common/Auth/OAuth2KeyConfig.php
  src/Services/Storage/CacheDirectory.php
  src/Services/Storage/WebUserGuard.php
  tests/Tests/Isolated/Services/Storage/WebUserGuardTest.php
Due: composer-require-checker

refactor(storage): WebUserGuard takes mandatory reference path; address Copilot review
  src/Common/Auth/OAuth2KeyConfig.php
  src/Services/Storage/CacheDirectory.php
  src/Services/Storage/WebUserGuard.php
  tests/Tests/Isolated/Services/Storage/CacheDirectoryTest.php
  tests/Tests/Isolated/Services/Storage/WebUserGuardTest.php
Due: composer-require-checker

refactor(storage): WebUserGuard owns the default reference path via OEGlobalsBag
  src/Services/Storage/CacheDirectory.php
  src/Services/Storage/WebUserGuard.php
Due: composer-require-checker

refactor(vitals): use renderInHistory metadata flag for history opt-out
  interface/forms/vitals/C_FormVitals.class.php
  interface/forms/vitals/templates/vitals/vitals_historical_values_complete.html.twig
Due: composer-require-checker

fix(vitals): drop duplicate growth-chart buttons from Vitals History (#12007)
  interface/forms/vitals/C_FormVitals.class.php
  interface/forms/vitals/templates/vitals/vitals_historical_values_complete.html.twig
Due: composer-require-checker

test: exclude non-logic dirs from phpunit coverage
  phpunit-isolated.xml
  phpunit.integration.xml
  phpunit.xml
Due: none

test: exclude non-logic dirs from phpunit coverage (#12268)
  phpunit-isolated.xml
  phpunit.integration.xml
  phpunit.xml
Due: none

feat(release): backport release-prep conductor onto rel-810
  .github/workflows/release-permissions-check.yml
  .github/workflows/release-prep.yml
  composer.json
  composer.lock
  docs/release-automation-plan.md
  phpstan.neon.dist
  src/Common/Command/ReleasePrep/AstSourceEditor.php
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  src/Common/Command/ReleasePrep/Mutator/DockerVersionFileMutator.php
  src/Common/Command/ReleasePrep/Mutator/GlobalsIncMutator.php
  src/Common/Command/ReleasePrep/Mutator/OpenApiVersionMutator.php
  src/Common/Command/ReleasePrep/Mutator/SqlUpgradeSkeletonMutator.php
  src/Common/Command/ReleasePrep/Mutator/SwaggerRegenMutator.php
  src/Common/Command/ReleasePrep/Mutator/VersionPhpMasterMutator.php
  src/Common/Command/ReleasePrep/Mutator/VersionPhpMutator.php
  src/Common/Command/ReleasePrep/MutatorContext.php
  src/Common/Command/ReleasePrep/MutatorInterface.php
  src/Common/Command/ReleasePrep/MutatorResult.php
  src/Common/Command/ReleasePrepCommand.php
  tools/release/bin/branch-to-version.php
  tools/release/bin/create-tag.php
  tools/release/bin/derive-prev-release.php
  tools/release/bin/dispatch.php
  tools/release/bin/render-pr-body.php
  tools/release/bin/verify-tag.php
  tools/release/contracts/dispatch.schema.json
  tools/release/src/BranchVersionResolver.php
  tools/release/src/DispatchDataBuilder.php
  tools/release/src/DispatchRequest.php
  tools/release/src/DispatchResult.php
  tools/release/src/Dispatcher.php
  tools/release/src/OptionReader.php
  tools/release/src/TagCreationRequest.php
  tools/release/src/TagCreationResult.php
  tools/release/src/TagCreator.php
  tools/release/src/TagVerificationResult.php
  tools/release/src/TagVerifier.php
Due: composer-validate, composer-normalize, composer-require-checker

feat(release): backport release-prep conductor onto rel-810 (#12269)
  .github/workflows/release-permissions-check.yml
  .github/workflows/release-prep.yml
  composer.json
  composer.lock
  docs/release-automation-plan.md
  phpstan.neon.dist
  src/Common/Command/ReleasePrep/AstSourceEditor.php
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  src/Common/Command/ReleasePrep/Mutator/DockerVersionFileMutator.php
  src/Common/Command/ReleasePrep/Mutator/GlobalsIncMutator.php
  src/Common/Command/ReleasePrep/Mutator/OpenApiVersionMutator.php
  src/Common/Command/ReleasePrep/Mutator/SqlUpgradeSkeletonMutator.php
  src/Common/Command/ReleasePrep/Mutator/SwaggerRegenMutator.php
  src/Common/Command/ReleasePrep/Mutator/VersionPhpMasterMutator.php
  src/Common/Command/ReleasePrep/Mutator/VersionPhpMutator.php
  src/Common/Command/ReleasePrep/MutatorContext.php
  src/Common/Command/ReleasePrep/MutatorInterface.php
  src/Common/Command/ReleasePrep/MutatorResult.php
  src/Common/Command/ReleasePrepCommand.php
  tools/release/bin/branch-to-version.php
  tools/release/bin/create-tag.php
  tools/release/bin/derive-prev-release.php
  tools/release/bin/dispatch.php
  tools/release/bin/render-pr-body.php
  tools/release/bin/verify-tag.php
  tools/release/contracts/dispatch.schema.json
  tools/release/src/BranchVersionResolver.php
  tools/release/src/DispatchDataBuilder.php
  tools/release/src/DispatchRequest.php
  tools/release/src/DispatchResult.php
  tools/release/src/Dispatcher.php
  tools/release/src/OptionReader.php
  tools/release/src/TagCreationRequest.php
  tools/release/src/TagCreationResult.php
  tools/release/src/TagCreator.php
  tools/release/src/TagVerificationResult.php
  tools/release/src/TagVerifier.php
Due: composer-validate, composer-normalize, composer-require-checker

fix(release): add missing release-prep PR template (rel-810)
  .github/PULL_REQUEST_TEMPLATE/release-prep.md
Due: none

fix(release): add missing release-prep PR template (rel-810) (#12272)
  .github/PULL_REQUEST_TEMPLATE/release-prep.md
Due: none

Bypass smarty-cache file permission check on windows OS fine tune user debug
  interface/globals.php
  library/globals.inc.php
  src/Services/Storage/CacheDirectory.php
Due: composer-require-checker

spelling and rector fix
  interface/main/tabs/main.php
  library/globals.inc.php
Due: composer-require-checker

cast string for jsDebug bool Fix bootstrap include path for newpatient.
  interface/forms/newpatient/templates/newpatient/partials/common/_body-scripts.html.twig
  interface/main/tabs/main.php
  library/js/utility.js
Due: composer-require-checker

fix session factory include Uncaught Error: Class "OpenEMR\Common\Session\SessionWrapperFactory" not found prevent null date save in log
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification.php
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification_helpers.php
Due: composer-require-checker

fix(release-prep): accept bare image tag in docker-compose mutator
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/MutatorTest.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_input.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_pinned_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_pinned_with_digest_expected.yml
Due: composer-require-checker

docs(release-prep): clarify bare-tag comment grammar
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
Due: composer-require-checker

Fix PHPStan type errors: use FHIRCode and FHIRString wrappers
  src/Services/FHIR/FhirPatientService.php
Due: composer-require-checker

Add Patient-level export filtering to FhirBulkExportDomainResourceTrait
  src/Services/FHIR/Traits/FhirBulkExportDomainResourceTrait.php
Due: composer-require-checker

test(release-prep): backport missing mutator test fixtures
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/latest_input.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/pinned_no_digest_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/pinned_with_digest_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/globals_inc/expected.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/globals_inc/input.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/openapi/expected.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/openapi/input.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/version_php/dev_input.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/version_php/master_post_810_expected.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/version_php/rel_810_expected.php
Due: composer-require-checker

fix(release-prep): accept bare image tag in docker-compose mutator (#12283)
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/MutatorTest.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_input.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_pinned_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_pinned_with_digest_expected.yml
Due: composer-require-checker

fix(release-prep): accept bare image tag in docker-compose mutator (rel-810 backport) (#12284)
  src/Common/Command/ReleasePrep/Mutator/DockerComposeProductionMutator.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/MutatorTest.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_input.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_pinned_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/bare_tag_pinned_with_digest_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/latest_input.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/pinned_no_digest_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/docker_compose/pinned_with_digest_expected.yml
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/globals_inc/expected.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/globals_inc/input.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/openapi/expected.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/openapi/input.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/version_php/dev_input.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/version_php/master_post_810_expected.php
  tests/Tests/Isolated/Common/Command/ReleasePrep/fixtures/version_php/rel_810_expected.php
Due: composer-require-checker

ci(release): add force-dispatch input to release-prep workflow
  .github/workflows/release-prep.yml
Due: none
