Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

refactor(calendar): extract applyFacilityFilterDispatch from 3 decorators
  src/PostCalendar/ViewModel/CalendarRenderDataBuilder.php
Due: composer-require-checker

refactor(calendar): inject Twig Environment into CalendarRenderer
  interface/main/calendar/modules/PostCalendar/pnadmin.php
  interface/main/calendar/modules/PostCalendar/pnuser.php
  interface/main/calendar/modules/PostCalendar/pnuserapi.php
  src/PostCalendar/CalendarRenderer.php
Due: composer-require-checker

test(calendar): isolated unit tests for CalendarRenderer
  tests/Tests/Isolated/PostCalendar/CalendarRendererTest.php
Due: composer-require-checker

test(calendar): isolated unit tests for CalendarRenderDataBuilder
  tests/Tests/Isolated/PostCalendar/ViewModel/CalendarRenderDataBuilderTest.php
Due: composer-require-checker

test(calendar): render-fixture tests for the three print views
  tests/Tests/Isolated/Common/Twig/TwigTemplateRenderTest.php
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-day-print-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-print-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-week-print-empty.html
Due: composer-require-checker

test(calendar): render-fixture tests for the three screen views
  tests/Tests/Isolated/Common/Twig/TwigTemplateRenderTest.php
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-day-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-week-screen-empty.html
Due: composer-require-checker

fix(calendar): restore #wrapper element the screen sidebar toggle needs
  templates/calendar/default/views/day/ajax_template.html.twig
  templates/calendar/default/views/month/ajax_template.html.twig
  templates/calendar/default/views/week/ajax_template.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-day-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-week-screen-empty.html
Due: none

fix(calendar): address CI failures on the migration PR
  .ai-notes/snapshots/capture.sh
  src/PostCalendar/ViewModel/CalendarRenderDataBuilder.php
  templates/calendar/default/admin/submit_category.html.twig
  templates/calendar/default/user/ajax_search.html.twig
  templates/calendar/default/views/day/ajax_template.html.twig
  templates/calendar/default/views/header.html.twig
  templates/calendar/default/views/month/ajax_template.html.twig
  templates/calendar/default/views/week/ajax_template.html.twig
Due: composer-require-checker

test(calendar): isolated unit tests for LegacyInputNarrowing
  tests/Tests/Isolated/PostCalendar/LegacyInputNarrowingTest.php
Due: composer-require-checker

ci: authenticate to Docker Hub before image pulls to lift rate limits
  .github/workflows/docker-compose-lint.yml
  .github/workflows/inferno-test.yml
  .github/workflows/test.yml
Due: none

ci: authenticate to Docker Hub before image pulls to lift rate limits (#12431)
  .github/workflows/docker-compose-lint.yml
  .github/workflows/inferno-test.yml
  .github/workflows/test.yml
Due: none

fix(portal): reject non-positive prepayment amounts
  .phpstan/baseline/cast.double.php
  .phpstan/baseline/openemr.forbiddenRequestGlobals.php
  portal/portal_payment.php
Due: composer-require-checker

fix(requisition): address PR #12218 review feedback
  interface/forms/requisition/new.php
  library/lab.inc.php
  tests/Tests/Isolated/LabIncTest.php
Due: composer-require-checker

fix(portal): block negative or zero patient payment amounts (#10989)
  .phpstan/baseline/cast.double.php
  .phpstan/baseline/openemr.forbiddenRequestGlobals.php
  portal/portal_payment.php
Due: composer-require-checker

fix(calendar): address review feedback on PR #12435
  interface/main/calendar/modules/PostCalendar/pnlang/eng/admin.php
  interface/main/calendar/modules/PostCalendar/pnuserapi.php
  src/PostCalendar/CalendarRenderer.php
  src/PostCalendar/LegacyInputNarrowing.php
  src/PostCalendar/PostCalendarTwigExtension.php
  src/PostCalendar/ViewModel/CalendarRenderDataBuilder.php
  src/PostCalendar/ViewModel/CalendarViewModel.php
  templates/calendar/default/views/header.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-day-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-week-screen-empty.html
  tests/Tests/Isolated/PostCalendar/PostCalendarTwigExtensionTest.php
  tests/Tests/Isolated/PostCalendar/ViewModel/CalendarViewModelTest.php
Due: composer-require-checker

fix(calendar): address Aisle security review findings on PR #12435
  interface/main/calendar/modules/PostCalendar/pnadmin.php
  interface/main/calendar/modules/PostCalendar/pnuser.php
  interface/main/calendar/modules/PostCalendar/pnuserapi.php
  src/PostCalendar/ViewModel/CalendarRenderDataBuilder.php
  src/PostCalendar/ViewModel/CalendarViewModel.php
Due: composer-require-checker

fix(calendar): wire admin clearCache + testSystem to modern Smarty
  interface/main/calendar/modules/PostCalendar/pnadmin.php
Due: composer-require-checker

fix(calendar): restore auto-print on the day/week/month print views
  templates/calendar/default/views/day_print/outlook_ajax_template.html.twig
  templates/calendar/default/views/month_print/outlook_ajax_template.html.twig
  templates/calendar/default/views/week_print/outlook_ajax_template.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-day-print-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-print-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-week-print-empty.html
Due: none

fix(calendar): restore the missing month_print layout CSS
  templates/calendar/default/views/month_print/outlook_ajax_template.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-print-empty.html
Due: none

fix(calendar): wire month/week day-cell click + sanitize catcolor
  src/PostCalendar/ViewModel/CalendarRenderDataBuilder.php
  templates/calendar/default/views/month/ajax_template.html.twig
  templates/calendar/default/views/week/ajax_template.html.twig
Due: composer-require-checker

fix(calendar): visible hover state for the month-view day links
  interface/themes/ajax_calendar_sass.scss
Due: none

fix(build): address security review feedback
  scripts/install-assets.js
  webpack.themes.js
Due: none

build(webpack): replace gulp with webpack for theme compilation
  .github/dependabot.yml
  .gitignore
  gulpfile.js
  interface/README.md
  interface/themes/ajax_calendar_sass.scss
  jest.config.js
  package-lock.json
  package.json
  scripts/install-assets.js
  scripts/sync-css.js
  webpack.themes.js
  webpack/loaders/sass-bsimport-loader.js
  webpack/loaders/strip-bom-loader.js
Due: none

docs(build): update CLAUDE.md build references from gulp to webpack
  CLAUDE.md
  webpack.themes.js
Due: none

fix(build): use webpack function export for correct --mode handling
  interface/themes/ajax_calendar_sass.scss
  webpack.themes.js
Due: none

fix(build): prevent symlink traversal in install-assets.js
  scripts/install-assets.js
Due: none

fix(build): address webpack PR review feedback
  CLAUDE.md
  interface/README.md
  webpack.themes.js
Due: none

fix(build): add CSS minification, clean stale output, remove JS shims
  webpack.themes.js
Due: none

fix(build): address remaining webpack PR review feedback
  CLAUDE.md
  webpack.themes.js
  webpack/loaders/strip-bom-loader.js
Due: none

Update container to get autowire fix
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Leverage improvement
  config/database.php
Due: composer-require-checker

Revert "## Summary"
  interface/main/calendar/add_edit_event.php
  interface/main/messages/js/reminder_appts.js
  interface/modules/custom_modules/oe-module-faxsms/contact.php
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification.php
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification_helpers.php
  interface/modules/custom_modules/oe-module-faxsms/library/setup_services.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EmailClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/NotificationTaskManager.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Notification/AppointmentNotificationRunner.php
  interface/practice/ins_search.php
  src/Common/Utils/ValidationUtils.php
Due: composer-require-checker

fix(calendar): day-link readable on all themes + restore mid-slot positioning
  interface/themes/ajax_calendar_sass.scss
  src/PostCalendar/ViewModel/CalendarViewModel.php
  tests/Tests/Isolated/PostCalendar/ViewModel/CalendarViewModelTest.php
Due: composer-require-checker

fix(calendar): use literal hex on month day-link instead of SCSS gray
  interface/themes/ajax_calendar_sass.scss
Due: none

fix(calendar): allow save for timed In/Out of Office events
  interface/main/calendar/add_edit_event.js
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

docs: add 8.1.0 changelog
  CHANGELOG.md
Due: none

docs: use curated grouped 8.1.0 changelog section
  CHANGELOG.md
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

