Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

docs: add widget ordering and label renaming to user guide
  interface/modules/custom_modules/oe-module-dashboard-context/Dashboard_Context_Manager_User_Guide.md
Due: none

Merge commit from fork
  portal/sign/lib/save-signature.php
Due: composer-require-checker

Merge commit from fork
  interface/forms/eye_mag/view.php
Due: composer-require-checker

Merge commit from fork
  src/Services/PatientService.php
  src/Services/Search/SearchConfigClauseBuilder.php
Due: composer-require-checker

ci(phpstan): upload new baselines
  .github/workflows/phpstan.yml
Due: none

refactor(phpstan): level 10
  composer.json
  phpstan.neon.dist
Due: composer-validate, composer-normalize, composer-require-checker

test(phpstan): add ARM runner to test architecture hypothesis
  .github/workflows/phpstan.yml
Due: none

test(phpstan): add parallelism experiment
  .github/workflows/phpstan.yml
Due: none

fix(phpstan): disable fail-fast for architecture comparison
  .github/workflows/phpstan.yml
Due: none

chore(phpstan): get php configuration
  .github/workflows/phpstan.yml
Due: none

chore(phpstan): capture more runtime details in CI
  .github/workflows/phpstan.yml
Due: none

chore(ci): temporarily disable other workflows during PHPStan investigation
  .github/workflows/api-docs.yml
  .github/workflows/build-dev-php-fpm-docker.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/docker-compose-lint.yml
  .github/workflows/hadolint.yml
  .github/workflows/inferno-test.yml
  .github/workflows/isolated-tests.yml
  .github/workflows/js-test.yml
  .github/workflows/rector.yml
  .github/workflows/semgrep.yml
  .github/workflows/shellcheck.yml
  .github/workflows/spellcheck.yml
  .github/workflows/styling.yml
  .github/workflows/syntax.yml
  .github/workflows/test-all.yml
  .github/workflows/test-scheduled.yml
  .github/workflows/test.yml
  .github/workflows/validate-codecov.yml
  .github/workflows/weekly-build-php-fpm-dockers.yml
  .github/workflows/whitespace.yml
Due: none

chore(ci): add macOS M1 runner to PHPStan experiment
  .github/workflows/phpstan.yml
Due: none

chore(ci): improve PHPStan job names for readability
  .github/workflows/phpstan.yml
Due: none

refactor(auth): remove obsolete constructor argument from AuthHash calls
  .phpstan/baseline/arguments.count.php
  portal/account/account.lib.php
  portal/account/index_reset.php
  portal/get_patient_info.php
  src/Common/Auth/AuthUtils.php
  src/Services/PatientAccessOnsiteService.php
Due: composer-require-checker

feat(session): handling more of portal-related files
  interface/forms/LBF/new.php
  library/options.js.php
  portal/lib/download_template.php
  portal/patient/templates/OnsiteDocumentListView.tpl.php
  src/Common/Forms/CoreFormToPortalUtility.php
  src/Common/Twig/TwigExtension.php
  src/Core/Header.php
  src/Services/Globals/UserSettingsService.php
Due: composer-require-checker

10244|feat(session): core session switch to Symfony Session WiP
  ccdaservice/ccda_gateway.php
  interface/forms_admin/forms_admin.php
  interface/globals.php
  interface/main/authorizations/authorizations.php
  interface/main/dated_reminders/dated_reminders.php
  interface/main/main_info.php
  interface/main/messages/messages.php
  interface/modules/custom_modules/oe-module-faxsms/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-faxsms/src/BootstrapService.php
  library/ajax/dated_reminders_counter.php
  library/ajax/easipro_util.php
  library/ajax/execute_background_services.php
  library/ajax/set_pt.php
  library/ajax/unset_session_ajax.php
  library/ajax/upload.php
  library/auth.inc.php
  library/dated_reminder_functions.php
  library/restoreSession.php
  portal/get_patient_info.php
  portal/lib/doc_lib.php
  portal/lib/paylib.php
  portal/lib/persist.php
  portal/lib/track_portal_events.php
  portal/messaging/handle_note.php
  portal/messaging/messages.php
  portal/messaging/secure_chat.php
  portal/patient/_machine_config.php
  portal/portal_payment.php
  portal/report/document_downloads_action.php
  portal/report/portal_patient_report.php
  sphere/process_response.php
  src/Common/Http/HttpSessionFactory.php
  src/Common/Session/EncounterSessionUtil.php
  src/Common/Session/PHPSessionWrapper.php
  src/Common/Session/PatientSessionUtil.php
  src/Common/Session/SessionUtil.php
  src/Common/Session/SessionWrapperFactory.php
  src/Common/Session/SessionWrapperInterface.php
  src/Common/Session/SymfonySessionWrapper.php
  src/RestControllers/AuthorizationController.php
Due: composer-require-checker

chore(rector): fix rector issue
  interface/main/main_screen.php
Due: composer-require-checker

feat(session): fixing clinical documents
  library/js/xl/select2.js.php
  src/Common/Forms/CoreFormToPortalUtility.php
  src/Services/Utils/TranslationService.php
Due: composer-require-checker

Fix typo in docker-compose.yml comments
  docker/production/docker-compose.yml
Due: none

Merge commit from fork
  interface/billing/edih_main.php
Due: composer-require-checker

fix some squirreley vars
  interface/patient_file/front_payment.php
Due: composer-require-checker

wrong value when comparing html diff
  interface/patient_file/front_payment.php
Due: composer-require-checker

make logic less weird
  interface/patient_file/front_payment.php
Due: composer-require-checker

spelling
  portal/portal_payment.php
Due: composer-require-checker

remove random comments
  interface/orders/gen_hl7_order.inc.php
  interface/procedure_tools/gen_universal_hl7/gen_hl7_order.inc.php
  interface/procedure_tools/labcorp/gen_hl7_order.inc.php
  interface/procedure_tools/quest/gen_hl7_order.inc.php
Due: composer-require-checker

only calculate balance when needed
  interface/patient_file/front_payment.php
  portal/portal_payment.php
Due: composer-require-checker

rty to get around rector
  interface/patient_file/front_payment.php
  portal/portal_payment.php
Due: composer-require-checker

refactor(sms): Split conflicting class name definitions (#10408)
  .phpstan/baseline/arguments.count.php
  .phpstan/baseline/property.notFound.php
  .phpstan/baseline/return.missing.php
  modules/sms_email_reminder/cron_functions.php
  modules/sms_email_reminder/cron_sms_notification.php
  modules/sms_email_reminder/sms_clickatell.php
  modules/sms_email_reminder/sms_interface.php
  modules/sms_email_reminder/sms_tmb4.php
Due: composer-require-checker

refactor(auth): remove obsolete constructor argument from AuthHash calls (#10410)
  .phpstan/baseline/arguments.count.php
  portal/account/account.lib.php
  portal/account/index_reset.php
  portal/get_patient_info.php
  src/Common/Auth/AuthUtils.php
  src/Services/PatientAccessOnsiteService.php
Due: composer-require-checker

header
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

Drop TTL to 1h
  src/PaymentProcessing/Rainforest.php
Due: composer-require-checker

refactor: Consolidate more duplicate functions/symbols (#10405)
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  interface/forms/clinic_note/new.php
  interface/forms/clinic_note/view.php
  interface/forms/eye_mag/save.php
  interface/forms/procedure_order/common.php
  interface/orders/gen_hl7_order.inc.php
  interface/orders/receive_hl7_results.inc.php
  interface/orders/types_edit.php
  interface/patient_file/summary/add_edit_issue.php
  interface/procedure_tools/gen_universal_hl7/gen_hl7_order.inc.php
  interface/procedure_tools/labcorp/gen_hl7_order.inc.php
  interface/procedure_tools/quest/gen_hl7_order.inc.php
  interface/reports/immunization_report.php
  interface/reports/non_reported.php
  library/global_functions.inc.php
Due: composer-require-checker

fix(js): address PR review feedback
  library/js/utility.js
  portal/patient/scripts/app/onsitedocuments.js
Due: none

refactor(payments): Streamline table/form in UIs (#10420)
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  interface/patient_file/front_payment.php
  portal/portal_payment.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

