Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

feat(fc): shellcheck fix
  ci/ciLibrary.source
Due: none

docs(plan): capture Phase 7c-docker design pivots (candidate-tag + arm64)
  docs/artifact-acceptance-testing-plan.md
Due: none

ci(docker): Phase 7c-docker-latest-gate — acceptance-gate `latest` builds (#13239)
  .github/workflows/acceptance-docker.yml
  .github/workflows/docker-build-release.yml
  .github/workflows/docker-release-orchestrator.yml
Due: none

ci(docker): sync byte-identical files from master (a73dafa346396132c89993026540f457ee4b19de)
  .github/workflows/docker-build-release.yml
Due: none

ci(docker): sync byte-identical files from master (a73dafa346396132c89993026540f457ee4b19de)
  .github/workflows/acceptance-docker.yml
  .github/workflows/docker-build-release.yml
Due: none

fix(ci): add kernel segfault log, OPcache montioring, coredump canary
  .github/workflows/test.yml
  ci/ciLibrary.source
Due: none

refactor: drop redundant POSRef require in group encounter form
  interface/forms/newGroupEncounter/common.php
Due: composer-require-checker

refactor: drop redundant Totp require in mfa_totp
  interface/usergroup/mfa_totp.php
Due: composer-require-checker

refactor: drop redundant Note requires in portal
  portal/lib/doc_lib.php
  portal/report/portal_custom_report.php
Due: composer-require-checker

fix(ci): kernel log upload fixup
  .github/workflows/test.yml
Due: none

ci(sync): exclude docker-build-release.yml from rel-800/rel-704 sync
  .github/byte-identical.yml
Due: none

ci(docker): revert rel-800 docker-build-release.yml to pre-Phase-7c shape
  .github/workflows/docker-build-release.yml
Due: none

ci(docker): revert rel-704 docker-build-release.yml to pre-Phase-7c shape
  .github/workflows/docker-build-release.yml
Due: none

docs(plan): add Phase 7d/8/9 + capture 7c-docker bootstrap regression
  docs/artifact-acceptance-testing-plan.md
Due: none

fix(ci): coredumpdirectory
  ci/ciLibrary.source
Due: none

ci(sync): exclude docker-build-release.yml from rel-800/rel-704 sync (#13244)
  .github/byte-identical.yml
Due: none

ci(docker): sync byte-identical files from master (c6ffe16cae1c3743418edfa977b657b7500c2e7e)
  .github/byte-identical.yml
Due: none

docs(plan): Phase 7d → NEXT UP; split into 7d-1 CFT-arm64 + 7d-2 PR-time
  docs/artifact-acceptance-testing-plan.md
Due: none

build: autoload declaration-only library function files
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

refactor: drop redundant pnotes.inc.php requires
  contrib/util/dupecheck/mergerecords.php
  interface/fax/fax_dispatch.php
  interface/main/messages/lab_results_messages.php
  interface/main/messages/messages.php
  interface/orders/receive_hl7_results.inc.php
  interface/patient_file/encounter/cash_receipt.php
  interface/patient_file/report/custom_report.php
  interface/patient_file/summary/pnotes.php
  interface/patient_file/summary/pnotes_fragment.php
  interface/patient_file/summary/pnotes_full.php
  interface/patient_file/summary/pnotes_full_add.php
  interface/patient_file/summary/pnotes_print.php
  library/ajax/dated_reminders_counter.php
  library/classes/Document.class.php
  library/direct_message_check.inc.php
  portal/account/account.php
  portal/add_edit_event_user.php
  portal/messaging/handle_note.php
  portal/report/portal_custom_report.php
Due: composer-require-checker

feat(forms): add FormActionBarSettings::EXIT_URL constant
  src/Common/Forms/FormActionBarSettings.php
Due: composer-require-checker

refactor: drop redundant pid.inc.php requires
  interface/forms/misc_billing_options/new.php
  interface/modules/custom_modules/oe-module-faxsms/library/utility.php
  interface/new/new_comprehensive_save.php
  interface/new/new_patient_save.php
  interface/orders/orders_results.php
  interface/patient_file/encounter/encounter_top.php
  interface/patient_file/summary/demographics.php
  interface/patient_file/summary/demographics_full.php
  interface/patient_file/summary/insurance_edit.php
  interface/patient_file/summary/pnotes_full.php
  interface/patient_file/summary/pnotes_full_add.php
  interface/therapy_groups/therapy_groups_controllers/participants_controller.php
  interface/therapy_groups/therapy_groups_controllers/therapy_groups_controller.php
  library/ajax/messages/validate_messages_document_ajax.php
  library/ajax/set_pt.php
  library/ajax/unset_session_ajax.php
Due: composer-require-checker

refactor: drop redundant user.inc.php requires
  interface/billing/sl_eob_invoice.php
  interface/billing/sl_eob_search.php
  interface/forms/misc_billing_options/new.php
  interface/forms/questionnaire_assessments/questionnaire_assessments.php
  interface/main/finder/dynamic_finder.php
  interface/main/messages/messages.php
  interface/patient_file/printed_fee_sheet.php
  interface/patient_tracker/patient_tracker.php
  interface/super/edit_globals.php
  interface/usergroup/user_info.php
  library/ajax/adminacl_ajax.php
  library/ajax/user_settings.php
  library/custom_template/custom_template.php
  library/options.inc.php
  src/Common/Acl/AclExtended.php
Due: composer-require-checker

refactor: drop redundant gprelations.inc.php requires
  interface/fax/fax_dispatch.php
  interface/main/messages/messages.php
  interface/patient_file/summary/pnotes_full.php
  interface/patient_file/summary/pnotes_full_add.php
  library/classes/Document.class.php
  library/direct_message_check.inc.php
Due: composer-require-checker

refactor: drop redundant amc.php requires
  controllers/C_Prescription.class.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncountermanagerTable.php
  interface/patient_file/encounter/forms.php
  interface/patient_file/summary/create_portallogin.php
  interface/patient_file/transaction/add_transaction.php
  interface/reports/amc_tracking.php
  interface/soap_functions/soap_accountStatusDetails.php
  interface/soap_functions/soap_allergy.php
  interface/soap_functions/soap_patientfullmedication.php
  library/ajax/amc_misc_data.php
  library/classes/rulesets/Amc/library/AbstractAmcReport.php
  library/smarty/plugins/function.amcCollect.php
Due: composer-require-checker

refactor: drop redundant registry.inc.php requires
  controllers/C_Prescription.class.php
  interface/batchcom/batchcom.php
  interface/batchcom/emailnotification.php
  interface/batchcom/settingsnotification.php
  interface/batchcom/smsnotification.php
  interface/forms/questionnaire_assessments/questionnaire_assessments.php
  interface/forms_admin/forms_admin.php
  interface/language/language.php
  interface/patient_file/encounter/forms.php
  interface/patient_file/encounter/load_form.php
  src/Common/Acl/AclMain.php
  src/Menu/MenuRole.php
Due: composer-require-checker

refactor: drop redundant report_database.inc.php requires
  custom/ajax_download.php
  custom/download_qrda.php
  custom/export_qrda_xml.php
  interface/batchcom/batch_reminders.php
  interface/main/finder/patient_select.php
  interface/patient_file/reminder/patient_reminders.php
  interface/reports/amc_full_report.php
  interface/reports/cqm.php
  interface/reports/report_results.php
  library/ajax/collect_new_report_id.php
  library/ajax/status_report.php
  library/clinical_rules.php
Due: composer-require-checker

refactor: drop redundant csv_like_join.php requires
  custom/code_types.inc.php
  interface/forms/care_plan/new.php
  interface/forms/clinical_notes/new.php
  interface/forms/eye_mag/a_issue.php
  interface/forms/functional_cognitive_status/new.php
  interface/patient_file/encounter/find_code_dynamic.php
  interface/patient_file/encounter/find_code_popup.php
  interface/patient_file/encounter/select_codes.php
  interface/patient_file/summary/add_edit_issue.php
Due: composer-require-checker

refactor: drop redundant transactions.inc.php requires
  interface/main/authorizations/authorizations.php
  interface/patient_file/transaction/add_transaction.php
  interface/patient_file/transaction/print_referral.php
  interface/patient_file/transaction/transactions.php
Due: composer-require-checker

refactor: drop redundant payment.inc.php requires
  interface/billing/edit_payment.php
  interface/billing/new_payment.php
  interface/billing/search_payments.php
  interface/billing/sl_eob_invoice.php
  interface/patient_file/front_payment.php
  portal/portal_payment.php
Due: composer-require-checker

refactor: drop redundant calendar.inc.php requires
  interface/billing/edi_270.php
  interface/billing/edi_271.php
  interface/main/calendar/add_edit_event.php
  interface/main/calendar/index.php
  interface/usergroup/user_admin.php
  interface/usergroup/usergroup_admin_add.php
  library/encounter_events.inc.php
Due: composer-require-checker

refactor: drop redundant Document.class.php requires
  portal/lib/doc_lib.php
  portal/messaging/messages.php
  portal/report/portal_custom_report.php
Due: composer-require-checker

refactor: drop orphaned srcdir hoist in portal doc_lib
  portal/lib/doc_lib.php
Due: composer-require-checker

refactor: drop now-unused OEGlobalsBag import
  interface/therapy_groups/therapy_groups_controllers/participants_controller.php
Due: composer-require-checker

fix(phpstan): type amcCollect smarty plugin params array
  library/smarty/plugins/function.amcCollect.php
Due: composer-require-checker

refactor(forms): read exit URL from constant, not global
  interface/forms/CAMOS/new.php
  interface/forms/CAMOS/print.php
  interface/forms/CAMOS/view.php
  interface/forms/ankleinjury/new.php
  interface/forms/ankleinjury/view.php
  interface/forms/bronchitis/new.php
  interface/forms/bronchitis/view.php
  interface/forms/fee_sheet/new.php
  interface/forms/gad7/new.php
  interface/forms/gad7/view.php
  interface/forms/phq9/common.php
  interface/forms/prior_auth/C_FormPriorAuth.class.php
  interface/forms/procedure_order/common.php
  interface/forms/ros/C_FormROS.class.php
  interface/forms/soap/C_FormSOAP.class.php
  interface/forms/track_anything/new.php
  interface/forms/vitals/C_FormVitals.class.php
  library/spreadsheet.inc.php
Due: composer-require-checker

refactor(forms): retire the form_exit_url global
  library/api.inc.php
  library/forms.inc.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

