Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


Add webcam photo capture to new patient form
  interface/main/tabs/templates/patient_data_template.php
  interface/new/new_comprehensive.php
  interface/new/new_comprehensive_save.php
  interface/themes/tabs_style_compact.scss
  interface/themes/tabs_style_full.scss
  library/js/webcam-capture.js
Due: composer-require-checker

Merge commit from fork
  portal/portal_payment.php
Due: composer-require-checker

fix(phpstan): assert $pid is defined in portal_payment.php (#10447)
  .phpstan/baseline/variable.undefined.php
  .phpstan/phpstan-remaining-baseline.neon
  portal/portal_payment.php
Due: composer-require-checker

fix(ci): run coverage conversion inside container for correct path resolution (#10443)
  .github/workflows/test.yml
  ci/README-COVERAGE.md
  ci/ciLibrary.source
  ci/convert-coverage
  ci/inferno/run.sh
Due: none

fix: #10454 webroot session fix (#10455)
  interface/globals.php
Due: composer-require-checker

Revert "fix(ci): run coverage conversion inside container for correct path resolution (#10443)"
  .github/workflows/test.yml
  ci/README-COVERAGE.md
  ci/ciLibrary.source
  ci/convert-coverage
  ci/inferno/run.sh
Due: none

Merge commit from fork
  interface/main/messages/messages.php
Due: composer-require-checker

Merge commit from fork
  apis/routes/_rest_routes_standard.inc.php
Due: composer-require-checker

Merge commit from fork
  library/auth.inc.php
Due: composer-require-checker

fix(reports): prevent inflated totals in Financial Summary by Service Code
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/reports/svc_code_financial_report.php
  src/Services/Reports/FinancialSummaryReportService.php
  src/Services/Reports/ServiceCodeSummary.php
  tests/Tests/E2e/SvcCodeFinancialReportTest.php
  tests/Tests/Services/Reports/FinancialSummaryReportServiceTest.php
Due: composer-require-checker

Fix ccda fatal error/session issues #10456
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Controller/EncounterccdadispatchController.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

fix: correct typos in clinical notes and track_anything forms
  interface/forms/clinical_notes/clinical-notes.js
  interface/forms/track_anything/create.php
Due: composer-require-checker

fix(reports): prevent inflated totals in Financial Summary by Service Code (#10438)
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  interface/reports/svc_code_financial_report.php
  src/Services/Reports/FinancialSummaryReportService.php
  src/Services/Reports/ServiceCodeSummary.php
  tests/Tests/E2e/SvcCodeFinancialReportTest.php
  tests/Tests/Services/Reports/FinancialSummaryReportServiceTest.php
Due: composer-require-checker

style(LBF): remove parens from require/include and apply PHPCBF fixes
  interface/forms/LBF/new.php
Due: composer-require-checker

style(lbf): remove parens from require/include and apply PHPCBF fixes (#10460)
  interface/forms/LBF/new.php
Due: composer-require-checker

fix(ci): reduce ~111 false positive Semgrep code scanning alerts
  .github/workflows/semgrep.yml
  run-semgrep.sh
  semgrep.yaml
Due: none

fix(qrda): use escaped Mustache variables in XML attribute positions
  src/Services/Qrda/qrda-export/catI-r5/_header.mustache
  src/Services/Qrda/qrda-export/catI-r5/_reporting_period.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_header/_author.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_header/_legal_authenticator.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/related_person.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_entity_care_partner.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_entity_location.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_entity_organization.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_entity_patient.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_entity_practitioner.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_immunization_supply_request.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_medication_supply_request.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_rank.mustache
  src/Services/Qrda/qrda-export/catI-r5/qrda_templates/template_partials/_related_to.mustache
  src/Services/Qrda/qrda-export/catIII/_measure_section.mustache
  src/Services/Qrda/qrda-export/catIII/_reporting_period.mustache
  src/Services/Qrda/qrda-export/catIII/_supplemental_data.mustache
Due: none

fix(ci): reduce ~111 false positive Semgrep code scanning alerts (#10462)
  .github/workflows/semgrep.yml
  run-semgrep.sh
  semgrep.yaml
Due: none

fix: correct typos in clinical notes and track_anything forms (#10457)
  interface/forms/clinical_notes/clinical-notes.js
  interface/forms/track_anything/create.php
Due: composer-require-checker

feat(ci): extend Semgrep SAST coverage to JavaScript, Twig, and XSL
  .github/workflows/semgrep.yml
  run-semgrep.sh
  semgrep.yaml
Due: none

fix(ci): use correct matrix variable for isolated-tests composer cache
  .github/workflows/isolated-tests.yml
Due: none

fix(ci): use correct matrix variable for isolated-tests composer cache (#10469)
  .github/workflows/isolated-tests.yml
Due: none

peer review suggestion changes
  src/Common/Crypto/CryptoGen.php
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

rector & phpstan fixes
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Controller/EncounterccdadispatchController.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

no message
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

fix(security): resolve 7 printed-request Semgrep code scanning alerts
  .codespell-ignore-words.txt
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  interface/forms/CAMOS/rx_print.php
  interface/forms/eye_mag/view.php
  interface/patient_file/report/custom_report.php
  semgrep.yaml
Due: composer-require-checker

feat(ci): extend Semgrep SAST coverage to JavaScript, Twig, and XSL (#10467)
  .github/workflows/semgrep.yml
  run-semgrep.sh
  semgrep.yaml
Due: none

keep exception
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

feat(ci): add pre-commit workflow to run actionlint on GitHub Actions workflows (#10212)
  .github/workflows/api-docs.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer.yml
  .github/workflows/inferno-test.yml
  .github/workflows/isolated-tests.yml
  .github/workflows/phpstan.yml
  .github/workflows/pre-commit.yml
  .github/workflows/rector.yml
  .github/workflows/shellcheck.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

docblock
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

fix(security): resolve 7 printed-request Semgrep alerts (#10466)
  .codespell-ignore-words.txt
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  interface/forms/CAMOS/rx_print.php
  interface/forms/eye_mag/view.php
  interface/patient_file/report/custom_report.php
  semgrep.yaml
Due: composer-require-checker

Fix rector issue
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Controller/EncounterccdadispatchController.php
Due: composer-require-checker

fix(setup): correct collate field id attribute and add default value
  setup.php
Due: composer-require-checker

fix(reminders): uncaught syntax error prevents CDR alert popup (#10441)
  library/clinical_rules.php
Due: composer-require-checker

feat(phpstan): Disallow global keyword (#10426)
  .phpstan/ForbiddenGlobalKeywordRule.php
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/extension.neon
Due: composer-require-checker

bring in moneyphp
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(crypto): Tighten standard encryption test (#10452)
  src/Common/Crypto/CryptoGen.php
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

fix(crypto): restore @throws tag on KeyVersion::fromPrefix()
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

fix(crypto): restore @throws tag on KeyVersion::fromPrefix() (#10476)
  src/Common/Crypto/KeyVersion.php
Due: composer-require-checker

A better solution
  interface/main/tabs/js/custom_bindings.js
Due: none
