Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

Update doctrine/migrations to build from ORM to allow hooking migation events
  config/database.php
Due: composer-require-checker

Note interface/impl discrepancy
  config/database.php
Due: composer-require-checker

update comment
  config/database.php
Due: composer-require-checker

Note the reachable events for this manager
  config/database.php
Due: composer-require-checker

Add info on handler defintion
  config/database.php
Due: composer-require-checker

Exit nonzero in bootstrap
  interface/globals.php
Due: composer-require-checker

Typo
  config/database.php
Due: composer-require-checker

chore(dbal): Groundwork for connecting to ORM and migration events (#12522)
  composer.json
  composer.lock
  config/database.php
Due: composer-validate, composer-normalize, composer-require-checker

Whitespace in test vectors(it really should be preserved but there's basically no way this matters in practice
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-input-demo1.xml
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-input-demo2.xml
Due: none

Fix one typo that I think was in the source data somewhere
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-input-demo1.xml
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-output-demo1.xml
Due: none

fix(calendar): restore appointments hidden after 8.0→8.1 upgrade (#12519)
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

fix(calendar): restore appointments hidden after 8.0→8.1 upgrade (#12520)
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

Ignore the one already present
  .codespell-ignore-words.txt
Due: none

eol
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-output-demo2.xml
Due: none

Trailing comments not allowed?
  .codespell-ignore-words.txt
Due: none

typo again
  tests/Tests/data/Services/Modules/CareCoordination/Model/CcdaServiceDocumentRequestor/ccda-output-demo1.xml
Due: none

Pull in security advisories package
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(faxsms): finish the PHPMailer camelCase migration and switch formatPhone to the PhoneNumber value object
  .phpstan/baseline/method.nameCase.php
  .phpstan/baseline/staticMethod.deprecated.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
Due: composer-require-checker

fix: prevent PHP 8 TypeError in Claim::payerCount() and procCount()
  src/Billing/Claim.php
Due: composer-require-checker

chore(faxsms): accept upstream cosmetic spacing on otherwise-unchanged files
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification_helpers.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/NotificationTaskManager.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Notification/AppointmentNotificationRunner.php
Due: composer-require-checker

chore(faxsms): accept upstream formatting on the mixed files and re-apply substantive deltas surgically
  interface/main/messages/js/reminder_appts.js
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification.php
  interface/modules/custom_modules/oe-module-faxsms/library/setup_services.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EmailClient.php
  src/Common/Utils/ValidationUtils.php
Due: composer-require-checker

chore(insurance): drop duplicate @param in saveFromForm docblock
  src/Services/InsuranceCompanyService.php
Due: composer-require-checker

Update src/Billing/Claim.php
  src/Billing/Claim.php
Due: composer-require-checker

fix: address CodeRabbit follow-up review
  .phpstan/baseline/cast.string.php
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.forbiddenCatchType.php
  .phpstan/baseline/return.type.php
  .phpstan/baseline/varTag.nativeType.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/practice/ins_search.php
  src/Services/InsuranceCompanyService.php
Due: composer-require-checker

fix: insurance insert return type matches actual behaviour
  .phpstan/baseline/cast.string.php
  .phpstan/baseline/return.type.php
  .phpstan/baseline/varTag.nativeType.php
  src/Services/InsuranceCompanyService.php
Due: composer-require-checker

# Add SignalWire fax support to oe-module-faxsms
  interface/modules/custom_modules/oe-module-faxsms/.phpstan/SignalWireStubs.php
  interface/modules/custom_modules/oe-module-faxsms/FAX_QUEUE_STORAGE_REFACTORING.md
  interface/modules/custom_modules/oe-module-faxsms/WARP.md
  interface/modules/custom_modules/oe-module-faxsms/composer.json
  interface/modules/custom_modules/oe-module-faxsms/library/webhook_receiver.php
  interface/modules/custom_modules/oe-module-faxsms/messageUI.php
  interface/modules/custom_modules/oe-module-faxsms/phpstan.neon
  interface/modules/custom_modules/oe-module-faxsms/setup.php
  interface/modules/custom_modules/oe-module-faxsms/setup_rc.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/FaxDocumentService.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/RCFaxClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/Utils/SignalWireWebhookValidator.php
Due: composer-require-checker

fix: resolve phpstan baseline additions at source
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/method.alreadyNarrowedType.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/return.type.php
  interface/practice/ins_search.php
  src/Services/InsuranceCompanyService.php
  tests/Tests/Services/InsuranceCompanyServiceTest.php
Due: composer-require-checker

fix: cast getDisplayNameForInsuranceRecord return to satisfy phpstan
  .phpstan/baseline/cast.string.php
  .phpstan/baseline/return.type.php
  src/Services/InsuranceCompanyService.php
Due: composer-require-checker

remove webhook
  interface/modules/custom_modules/oe-module-faxsms/library/webhook_receiver.php
Due: composer-require-checker

fix: default $ins_co to [] in ins_search.php for null-safe form rendering
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  interface/practice/ins_search.php
Due: composer-require-checker

Some missed files
  interface/modules/custom_modules/oe-module-faxsms/library/faxMedia.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/SignalWire/Rest/Client.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxMailer.php
  interface/modules/custom_modules/oe-module-faxsms/src/Service/FaxUploadStaging.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/FaxDocumentServiceDownloadTest.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/SignalWireRestClientTest.php
Due: composer-require-checker

ci(docker): release-targets.yml floating-tag reshuffle + renderer bucketing fix
  .github/release-targets.yml
  docker/dockerhub/render.sh
Due: none

ci(docker): drop branches: filter from per-branch workflow triggers (closes deferred item 9 simpler)
  .github/workflows/docker-test-bats.yml
  .github/workflows/docker-test-container-functionality.yml
  .github/workflows/docker-test-release.yml
  .github/workflows/docker-validate-byte-identical.yml
Due: none

ci(docker): drop branches: filter from test workflow triggers (rel-810)
  .github/workflows/docker-test-bats.yml
  .github/workflows/docker-test-container-functionality.yml
  .github/workflows/docker-test-release.yml
Due: none

ci(docker): sync docker-test-release.yml from master (no branches: filter)
  .github/workflows/docker-test-release.yml
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

