Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


Add missing header
  src/Common/Logging/EventCategory.php
Due: composer-require-checker

lint
  tests/Tests/Unit/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

refactor(audit): Update audit logger sql path to be DI-friendly (#12699)
  .phpstan/baseline/missingType.iterableValue.php
  .phpstan/baseline/return.type.php
  config/app.php
  config/audit.php
  config/sessions.php
  src/Common/Logging/AuditConfig.php
  src/Common/Logging/EventAuditLogger.php
  src/Common/Logging/EventCategory.php
  src/Common/Session/SessionWrapperFactory.php
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerAuthFailureTest.php
  tests/Tests/Isolated/Common/Logging/EventAuditLoggerTest.php
  tests/Tests/Unit/Common/Logging/EventAuditLoggerTest.php
Due: composer-require-checker

Rig up the rest of the bindings for DBAL
  config/audit.php
  config/database.php
  src/Common/Database/Middleware/AuditingDbalLogger.php
  src/Common/Logging/AuditLoggerInterface.php
  src/Common/Logging/EventAuditLogger.php
Due: composer-require-checker

Rename to QueryAuditor
  config/database.php
  src/Common/Database/Middleware/QueryAuditor.php
Due: composer-require-checker

Add tests for the new middleware
  tests/Tests/Isolated/Common/Database/Middleware/QueryAuditorTest.php
Due: composer-require-checker

Back to non-audit connection
  config/database.php
Due: composer-require-checker

Update class docblock
  src/Common/Database/Middleware/QueryAuditor.php
Due: composer-require-checker

Types
  .phpstan/baseline/missingType.return.php
  src/Common/Logging/AuditLoggerInterface.php
  src/Common/Logging/EventAuditLogger.php
Due: composer-require-checker

Move cli changes out of branch history
  cli
Due: none

header
  src/Common/Logging/AuditLoggerInterface.php
Due: composer-require-checker

feat(database): add DBAL query-audit middleware (#12810)
  .phpstan/baseline/missingType.return.php
  composer.json
  composer.lock
  config/audit.php
  config/database.php
  src/Common/Database/Middleware/QueryAuditor.php
  src/Common/Logging/AuditLoggerInterface.php
  src/Common/Logging/EventAuditLogger.php
  tests/Tests/Isolated/Common/Database/Middleware/QueryAuditorTest.php
Due: composer-validate, composer-normalize, composer-require-checker

Define the logger
  config/database.php
  src/Common/Database/Middleware/QueryLogger.php
Due: composer-require-checker

refactor(nursing): migrate to QueryUtils and add strict type safety
  interface/forms/aplicaciones/print.php
  interface/forms/aplicaciones/report.php
  interface/forms/aplicaciones/save.php
  interface/forms/aplicaciones/view.php
  interface/forms/cuidados/print.php
  interface/forms/cuidados/report.php
  interface/forms/cuidados/save.php
  interface/forms/cuidados/view.php
  interface/forms/curaciones/print.php
  interface/forms/curaciones/report.php
  interface/forms/curaciones/save.php
  interface/forms/curaciones/view.php
  interface/forms/evaluaciones/print.php
  interface/forms/evaluaciones/report.php
  interface/forms/evaluaciones/save.php
  interface/forms/evaluaciones/view.php
  interface/forms/registro_vm/print.php
  interface/forms/registro_vm/report.php
  interface/forms/registro_vm/save.php
  interface/forms/registro_vm/view.php
  interface/tableros/editar_internado.php
  interface/tableros/lista_internados.php
  interface/tableros/listar_vitales.php
  interface/tableros/save_internado.php
  src/Patient/Cards/NursingCard.php
Due: composer-require-checker

docs(planning): add artifact acceptance testing plan
  docs/artifact-acceptance-testing-plan.md
Due: none

docs(release): lock composer decision + cross-ref acceptance-testing plan
  docs/release-mechanism-migration-from-devops.md
Due: none

docs(release): cross-ref artifact acceptance-testing plan
  docs/release-mechanism-gaps.md
Due: none

docs(release): update workstream 7 phases
  docs/release-mechanism-migration-from-devops.md
Due: none

docs(release): add G15 -- drift management for migrated release-machinery
  docs/release-mechanism-gaps.md
Due: none

docs(release): G15 -- lock option 2 (byte-identical) with file-set sizing
  docs/release-mechanism-gaps.md
Due: none

docs(release): lock drift-management to byte-identical (option 1 + canary)
  docs/release-mechanism-migration-from-devops.md
Due: none

docs(release): note drift management applies to acceptance-testing too
  docs/artifact-acceptance-testing-plan.md
Due: none

fix(nursing): resolve all remaining PHPStan level-10 errors across nursing module
  interface/forms/aplicaciones/print.php
  interface/forms/aplicaciones/view.php
  interface/forms/cuidados/new.php
  interface/forms/cuidados/print.php
  interface/forms/cuidados/view.php
  interface/forms/curaciones/new.php
  interface/forms/curaciones/print.php
  interface/forms/curaciones/view.php
  interface/forms/evaluaciones/print.php
  interface/forms/evaluaciones/report.php
  interface/forms/registro_vm/new.php
  interface/forms/registro_vm/print.php
  interface/forms/registro_vm/view.php
  interface/tableros/editar_internado.php
  interface/tableros/list_tablero2.php
  interface/tableros/listar_vitales.php
  interface/tableros/tablero2.php
  src/Patient/Cards/NursingCard.php
Due: composer-require-checker

fix coderabbitai review nip picks
  portal/patient/scripts/app.js
  templates/portal/partial/cards/_appointment_card.html.twig
Due: none

fix(core): prevent {headerTemplate} from rendering the page header twice (#12569)
  library/smarty/plugins/function.headerTemplate.php
  tests/Tests/Unit/Core/HeaderTest.php
Due: composer-require-checker

fix(core): prevent {headerTemplate} from rendering the page header twice (#12821)
  library/smarty/plugins/function.headerTemplate.php
  tests/Tests/Unit/Core/HeaderTest.php
Due: composer-require-checker

feat(portal): Add view only mode to portal appointments (#12820)
  library/globals.inc.php
  portal/home.php
  portal/patient/scripts/app.js
  templates/portal/appointment-item.html.twig
  templates/portal/home.html.twig
  templates/portal/partial/cards/_appointment_card.html.twig
Due: composer-require-checker

feat(portal): Add view only mode to portal appointments (#12822)
  library/globals.inc.php
  portal/home.php
  portal/patient/scripts/app.js
  templates/portal/appointment-item.html.twig
  templates/portal/home.html.twig
  templates/portal/partial/cards/_appointment_card.html.twig
Due: composer-require-checker

fix(edihistory): lower cap
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

fix(sql-upgrade): server-status polling now terminates reliably
  sql_upgrade.php
Due: composer-require-checker
