Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


test(careteam): use session abstraction
  tests/Tests/Services/CareTeamServiceTest.php
Due: composer-require-checker

test(ccdaservice): avoid control-character regex
  ccdaservice/serveccda.crash-check.js
Due: none

chore(phpstan): remove resolved payment baseline
  .phpstan/baseline/variable.undefined.php
Due: composer-require-checker

test: cover calendar patient finder rendering
  interface/main/calendar/find_patient_popup.php
  src/Common/Calendar/PatientFinderView.php
  tests/Tests/Isolated/Common/Calendar/PatientFinderMarkupTest.php
Due: composer-require-checker

chore(phpstan): remove resolved report baselines
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
Due: composer-require-checker

fix(portal): reject invalid receipt timestamps
  portal/portal_payment.php
Due: composer-require-checker

fix(ccdaservice): isolate client connections and tests
  ccdaservice/serveccda.crash-check.js
  ccdaservice/serveccda.js
Due: none

chore(phpstan): remove resolved document baselines
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
Due: composer-require-checker

test: exclude care-team harness from patch coverage
  tests/Tests/Fixtures/CareTeamFixtureManager.php
  tests/Tests/Services/CareTeamServiceTest.php
Due: composer-require-checker

test: enable strict types for care-team coverage
  tests/Tests/Fixtures/CareTeamFixtureManager.php
  tests/Tests/Services/CareTeamServiceTest.php
Due: composer-require-checker

test(portal): cover payment input normalization
  .phpstan/fatal-baseline-caps.php
  portal/portal_payment.php
  src/PaymentProcessing/PortalPaymentInput.php
  tests/Tests/Isolated/PaymentProcessing/PortalPaymentInputTest.php
Due: composer-require-checker

test(reports): cover non-CDR print flag
  tests/Tests/Isolated/Interface/Main/Finder/PatientSelectPrintTest.php
Due: composer-require-checker

ci(codecov): exclude care-team test harness
  codecov.yml
Due: none

ci(codecov): exclude portal payment entrypoint
  codecov.yml
Due: none

refactor(autoload): move library/encounter.inc.php to composer autoload files
  composer.json
  interface/forms/LBF/printable.php
  interface/forms/misc_billing_options/new.php
  interface/forms/newGroupEncounter/save.php
  interface/forms/newpatient/save.php
  interface/patient_file/encounter/encounter_bottom.php
  interface/patient_file/encounter/encounter_top.php
  interface/patient_file/encounter/forms.php
  src/Services/EncounterService.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/dated_reminder_functions.php to composer autoload files
  composer.json
  interface/main/dated_reminders/dated_reminders.php
  interface/main/dated_reminders/dated_reminders_add.php
  library/ajax/dated_reminders_counter.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/daysheet.inc.php to composer autoload files
  composer.json
  interface/billing/print_daysheet_report_num1.php
  interface/billing/print_daysheet_report_num2.php
  interface/billing/print_daysheet_report_num3.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/patientvalidation.inc.php to composer autoload files
  composer.json
  interface/new/new_comprehensive.php
  interface/patient_file/summary/demographics_full.php
  interface/patient_file/summary/insurance_edit.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/dupscore.inc.php to composer autoload files
  composer.json
  contrib/util/dupscore.cli.php
  library/patient.inc.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/immunization_helper.php to composer autoload files
  composer.json
  interface/patient_file/summary/immunizations.php
  interface/patient_file/summary/shot_record.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/sql_upgrade_fx.php to composer autoload files
  composer.json
  sql_patch.php
  sql_upgrade.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(portal): cover payment request parsing
  portal/portal_payment.php
  src/PaymentProcessing/PortalPaymentInput.php
  tests/Tests/Isolated/PaymentProcessing/PortalPaymentInputTest.php
Due: composer-require-checker

refactor(autoload): move library/lab.inc.php to composer autoload files
  composer.json
  interface/forms/requisition/new.php
  interface/orders/orders_results.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/standard_tables_capture.inc.php to composer autoload files
  composer.json
  interface/code_systems/standard_tables_manage.php
Due: composer-validate, composer-normalize, composer-require-checker

refactor(autoload): move library/checkout_receipt_array.inc.php to composer autoload files
  composer.json
  interface/patient_file/pos_checkout_ippf.php
Due: composer-validate, composer-normalize, composer-require-checker

phpstan
  .phpstan/baseline/encapsedStringPart.nonString.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/variable.undefined.php
Due: composer-require-checker

fix(portal): detect restricted LBF portal sessions
  interface/forms/LBF/report.php
  src/Common/Forms/LbfReportAccessGuard.php
  tests/Tests/Isolated/Portal/PortalDocumentSensitivityTest.php
Due: composer-require-checker

style(api): remove stray closing PHP tag
  library/api.inc.php
Due: composer-require-checker

Lower cap
  .phpstan/fatal-baseline-caps.php
Due: composer-require-checker

chore(require-checker): whitelist symbols surfaced by newly autoloaded files
  .composer-require-checker.json
  interface/forms/aftercare_plan/report.php
  interface/forms/ankleinjury/report.php
  interface/forms/bronchitis/report.php
  interface/forms/clinic_note/report.php
  interface/forms/clinical_instructions/report.php
  interface/forms/dictation/report.php
  interface/forms/eye_mag/new.php
  interface/forms/fee_sheet/report.php
  interface/forms/functional_cognitive_status/report.php
  interface/forms/misc_billing_options/report.php
  interface/forms/note/report.php
  interface/forms/painmap/new.php
  interface/forms/painmap/report.php
  interface/forms/painmap/save.php
  interface/forms/painmap/view.php
  interface/forms/phq9/report.php
  interface/forms/physical_exam/report.php
  interface/forms/prior_auth/report.php
  interface/forms/reviewofs/report.php
  interface/forms/ros/report.php
  interface/forms/soap/report.php
  interface/forms/track_anything/report.php
  interface/forms/transfer_summary/report.php
  interface/forms/treatment_plan/report.php
Due: composer-require-checker

fix(lbf-statements): address pull request review comments
  interface/modules/custom_modules/oe-module-lbf-statements/ModuleManagerListener.php
  interface/modules/custom_modules/oe-module-lbf-statements/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-lbf-statements/public/assets/admin.js
  interface/modules/custom_modules/oe-module-lbf-statements/public/open_form.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Bootstrap.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/AdminController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/Controller/GenerateController.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/LayoutCatalog.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementApplier.php
  interface/modules/custom_modules/oe-module-lbf-statements/src/StatementEngine.php
  interface/modules/custom_modules/oe-module-lbf-statements/templates/_tabs.html.twig
  interface/modules/custom_modules/oe-module-lbf-statements/templates/generate.html.twig
  tests/Tests/Isolated/Modules/LbfStatements/StatementEngineTest.php
Due: composer-require-checker

Revert CRC change, committed in error
  .github/workflows/composer-require-checker.yml
Due: none

Prefer explicitly requiring polyfill
  .composer-require-checker.json
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Add to xlCleanup too
  library/translation.inc.php
Due: composer-require-checker

refactor(patient): drop dead top-level statements
  library/patient.inc.php
Due: composer-require-checker

refactor(patient): inline FacilityService, drop global $facilityService uses
  custom/qrda_functions.php
  interface/forms/eye_mag/php/eye_mag_functions.php
  interface/forms/eye_mag/php/taskman_functions.php
  interface/forms/eye_mag/report.php
  interface/patient_file/pos_checkout_ippf.php
  library/options.inc.php
  library/patient.inc.php
Due: composer-require-checker
