Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

test(csrf): add CSRF token round-trip tests with Symfony session
  tests/Tests/Isolated/Common/Csrf/CsrfUtilsTest.php
Due: composer-require-checker

test(csrf): add CSRF token round-trip tests with Symfony session (#11028)
  tests/Tests/Isolated/Common/Csrf/CsrfUtilsTest.php
Due: composer-require-checker

fix(eyeform): pass encounter/pid in navbar form URLs to prevent stale session (#10865)
  interface/forms/eye_mag/new.php
  interface/patient_file/encounter/forms.php
  templates/encounter/forms/navbar.html.twig
  tests/Tests/E2e/KkEncounterFormNavbarUrlTest.php
  tests/Tests/Isolated/Forms/EyeMag/NavbarFormUrlTest.php
  tests/Tests/Isolated/Forms/EyeMag/NewFormRedirectUrlTest.php
Due: composer-require-checker

fix(api): restore scope variables for globals.php in loadApplicationGlobals
  .phpstan/baseline/offsetAccess.nonOffsetAccessible.php
  src/RestControllers/Subscriber/SiteSetupListener.php
  tests/Tests/Isolated/RestControllers/Subscriber/SiteSetupListenerTest.php
Due: composer-require-checker

test(api): add OAuth2KeyException catch test and @codeCoverageIgnore on fail lines
  src/RestControllers/Subscriber/SiteSetupListener.php
  tests/Tests/Isolated/RestControllers/Subscriber/SiteSetupListenerTest.php
Due: composer-require-checker

chore(deps): bump immutable from 4.3.7 to 4.3.8 in ccdaservice
  ccdaservice/package-lock.json
Due: none

change path for baselin upload (#10242)
  .github/workflows/phpstan.yml
Due: none

test(api): cover setupCoreSessionBridge body for 100% patch coverage
  tests/Tests/Isolated/RestControllers/Subscriber/SiteSetupListenerTest.php
Due: composer-require-checker

chore(deps): bump immutable 4.3.7 → 4.3.8 in ccdaservice (#11033)
  ccdaservice/package-lock.json
Due: none

does total matter in loader.php?
  .phpstan/baseline/variable.undefined.php
  interface/forms/eye_mag/new.php
  interface/patient_file/encounter/forms.php
Due: composer-require-checker

fix(ci): backport PHPStan baseline upload path to rel-800 (#11034)
  .github/workflows/phpstan.yml
Due: none

test(api): remove unused setupApiSession stub from RealCoreSessionListener
  tests/Tests/Isolated/RestControllers/Subscriber/SiteSetupListenerTest.php
Due: composer-require-checker

fixup! refactor: convert remaining $GLOBALS existence checks to OEGlobalsBag
  .phpstan/baseline/class.notFound.php
  .phpstan/baseline/method.nonObject.php
  gacl/profiler.inc.php
Due: composer-require-checker

fix: remove unnecessary array casts (rector)
  tests/Tests/Api/PatientApiTest.php
  tests/Tests/Services/FHIR/FhirPatientServiceCrudTest.php
  tests/Tests/Services/PatientServiceTest.php
Due: composer-require-checker

fix: remove OEGlobalsBag dependency from version.php
  tests/Tests/Isolated/VersionFileTest.php
  version.php
Due: composer-require-checker

test(e2e): add smoke test for admin.php
  tests/Tests/E2e/AaLoginTest.php
Due: composer-require-checker

fix: remove OEGlobalsBag dependency from version.php (#11053)
  tests/Tests/E2e/AaLoginTest.php
  tests/Tests/Isolated/VersionFileTest.php
  version.php
Due: composer-require-checker

Modify OWASP workflow configuration
  .github/workflows/owasp.yml
Due: none

Update OWASP Dependency Scan workflow configuration
  .github/workflows/owasp.yml
Due: none

Add file headers
  config/database.php
  config/env.php
  config/psr.php
  config/services.php
Due: composer-require-checker

Update to safe accessor
  config/database.php
Due: composer-require-checker

Add config to phpstan path
  phpstan.neon.dist
Due: none

chore(deps): add phpmyadmin/sql-parser
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

feat(audit): add AuditEventType and AuditCategory enums
  src/Database/QueryAuditing/AuditCategory.php
  src/Database/QueryAuditing/AuditEventType.php
Due: composer-require-checker

feat(audit): add TableEventMap
  src/Database/QueryAuditing/TableEventMap.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

