Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

revert(calendar): restore "Smarty" wording on the Clear Cache admin labels
  interface/main/calendar/modules/PostCalendar/pnlang/eng/admin.php
Due: composer-require-checker

chore(deps): pin express version range in ccdaservice lockfile (#12465)
  ccdaservice/package-lock.json
Due: none

style(docker): normalize YAML indentation in dev-easy-redis compose (#12464)
  docker/development-easy-redis/docker-compose.yml
Due: none

chore(docker): wall off webpack cache in dev-easy compose envs
  docker/development-easy-light/docker-compose.yml
  docker/development-easy-redis/docker-compose.yml
  docker/development-easy/docker-compose.yml
Due: none

chore(docker): wall off webpack cache in dev-easy compose envs (#12466)
  docker/development-easy-light/docker-compose.yml
  docker/development-easy-redis/docker-compose.yml
  docker/development-easy/docker-compose.yml
Due: none

build(deps): replace grunt/jshint with eslint+mocha in oe-cda-schematron (#12453)
  ccdaservice/package-lock.json
  ccdaservice/packages/oe-cda-schematron/.jshintrc
  ccdaservice/packages/oe-cda-schematron/Gruntfile.js
  ccdaservice/packages/oe-cda-schematron/eslint.config.js
  ccdaservice/packages/oe-cda-schematron/includeExternalDocument.js
  ccdaservice/packages/oe-cda-schematron/package.json
  ccdaservice/packages/oe-cda-schematron/validator.js
Due: none

Revert committed add_edit_event replace with master version for conflict resolution.
  interface/main/calendar/add_edit_event.php
Due: composer-require-checker

chore(deps): drop unused laminas-xmlrpc and confirm 8.5 resolution path
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

plan v2
  docs/development/CCDA_PHP_MIGRATION_PLAN_V2.md
Due: none

feat(ccda): add InternalToCdaConverter skeleton and test infrastructure
  src/Cda/InternalToCdaConverter.php
  tests/Tests/Isolated/Cda/InternalToCdaConverterTest.php
Due: composer-require-checker

chore(deps): drop unused laminas-xmlrpc and confirm 8.5 resolution path (#12468)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

feat(ccda): implement CDA header rendering
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

test(ccda): add per-section tests for body implementation
  tests/Tests/Isolated/Cda/InternalToCdaConverterTest.php
Due: composer-require-checker

feat(ccda): implement body structure, Care Team, and Allergies sections
  src/Cda/InternalToCdaConverter.php
  tests/Tests/Isolated/Cda/InternalToCdaConverterTest.php
Due: composer-require-checker

feat(ccda): implement Medications section
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

refactor(ccda): extract reusable section helpers
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Problems section
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement empty sections and helper
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement Social History empty section
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

feat(ccda): implement remaining CCDA body sections
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

Get the basic prototype wired
  config/database.php
  src/MigEvent.php
Due: composer-require-checker

Explicitly require container 1.1+
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

feat(ccda): wire InternalToCdaConverter into CcdaGenerator
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaGenerator.php
Due: composer-require-checker

ensure int is passed to getOneByForeignId
  interface/practice/ins_search.php
Due: composer-require-checker

docs(claude-md): document Claude Code-driven Selenium debugging (#12463)
  CLAUDE.md
Due: none

fix(calendar): tighten Twig escaping audit on the new templates
  src/PostCalendar/ViewModel/CalendarViewModel.php
  templates/calendar/default/admin/submit_category.html.twig
  templates/calendar/default/user/ajax_search.html.twig
  templates/calendar/default/views/_calendar_screen_js.html.twig
  templates/calendar/default/views/day/ajax_template.html.twig
  templates/calendar/default/views/header.html.twig
  templates/calendar/default/views/month/ajax_template.html.twig
  templates/calendar/default/views/week/ajax_template.html.twig
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-day-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-month-screen-empty.html
  tests/Tests/Isolated/Common/Twig/fixtures/render/calendar-week-screen-empty.html
Due: composer-require-checker

Remove plan files
  docs/development/CCDA_PHP_MIGRATION_PLAN.md
  docs/development/CCDA_PHP_MIGRATION_PLAN_V2.md
Due: none

Remove unused methods
  src/Cda/InternalToCdaConverter.php
Due: composer-require-checker

Wire things up much more cleanly
  config/database.php
Due: composer-require-checker

test(ccda): add integration test for CcdaGenerator::socket_get
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

fix(ci): drop privileges for sql_upgrade in Inferno test
  ci/inferno/run.sh
Due: none

Looks like wrapper isn't avilable in this path
  ci/inferno/run.sh
Due: none

fix(ci): don't run sql_upgrade as root in Inferno test (#12472)
  ci/inferno/run.sh
Due: none

force a failure, something is weird
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

Revert "force a failure, something is weird"
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

Guard against xpath failing
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

fix(test): handle false return from DOMXPath::query
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

test(ccda): add integration test for CcdaGenerator::socket_get (#12471)
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

Adjust name for accuracy
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdaGenerator.php
  tests/Tests/Services/Modules/Carecoordination/Model/CcdaGeneratorTest.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

