Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

fix(db): use correct QueryUtils methods for write operations
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/CcdTable.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
  src/Services/Cda/CdaTemplateImportDispose.php
Due: composer-require-checker

feat(module): implement Safety Sentinel REST API and service layer
  interface/modules/custom_modules/oe-module-safety-sentinel/_rest_routes.inc.php
  interface/modules/custom_modules/oe-module-safety-sentinel/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-safety-sentinel/src/RestControllers/AuditLogRestController.php
  interface/modules/custom_modules/oe-module-safety-sentinel/src/Services/AuditLogService.php
Due: composer-require-checker

fix(deps): regenerate composer.lock with swagger-php 6.x
  apis/routes/_rest_routes_fhir_r4_us_core_3_1_0.inc.php
  composer.lock
Due: composer-require-checker

fix(api): correct copy-paste errors in OpenAPI annotations
  src/RestControllers/FHIR/FhirGoalRestController.php
  src/RestControllers/OpenApi/OpenApiDefinitions.php
Due: composer-require-checker

remove distracting comment
  apis/routes/_rest_routes_standard.inc.php
Due: composer-require-checker

force 8.2compat deps
  composer.lock
Due: none

copy from module branch
  bin/cli
Due: none

move to root
  cli
Due: none

refactor(auth): replace die() with RuntimeException in generatePortalPassword
  src/Common/Utils/RandomGenUtils.php
Due: composer-require-checker

Prepare the bootstrap file
  bootstrap.php
Due: composer-require-checker

Trim down internals
  cli
Due: none

Update README
  db/README.md
Due: none

Use clearer variable name
  cli
Due: none

Add doctrine/orm to dependencies
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Stub in the basic mechanics
  cli
  src/BC/ServiceContainer.php
Due: composer-require-checker

feat(cli): Add doctrine/migrations to cli (#10943)
  bootstrap.php
  cli
  db/README.md
Due: composer-require-checker

ORM internally requires symfony/cache without an explicit PSR16 cache which we don't have
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

Prep dotenv loading
  bootstrap.php
Due: composer-require-checker

Get things close to working
  src/BC/ServiceContainer.php
Due: composer-require-checker

Automatically map to underscore db convention
  src/BC/ServiceContainer.php
Due: composer-require-checker

prove concept
  src/Entity/ApiToken.php
Due: composer-require-checker

refactor(auth): replace die() with RuntimeException in generatePortal… (#10942)
  src/Common/Utils/RandomGenUtils.php
Due: composer-require-checker

We can be root-relative thanks to bootstrap
  src/BC/ServiceContainer.php
Due: composer-require-checker

fix(audit-log): update request body handling and response structure
  interface/modules/custom_modules/oe-module-safety-sentinel/_rest_routes.inc.php
  interface/modules/custom_modules/oe-module-safety-sentinel/src/Services/AuditLogService.php
  src/Common/Auth/OpenIDConnect/Entities/ServerScopeListEntity.php
Due: composer-require-checker

feat(session): handling more of portal-related files
  interface/forms/LBF/new.php
  library/options.js.php
  portal/lib/download_template.php
  portal/patient/templates/OnsiteDocumentListView.tpl.php
  src/Common/Forms/CoreFormToPortalUtility.php
  src/Common/Twig/TwigExtension.php
  src/Core/Header.php
  src/Services/Globals/UserSettingsService.php
Due: composer-require-checker

feat(session): fixing clinical documents
  library/js/xl/select2.js.php
  src/Common/Forms/CoreFormToPortalUtility.php
  src/Services/Utils/TranslationService.php
Due: composer-require-checker

10244|chore(phpstan): remove phpstan ignore error
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  src/Common/Session/SessionUtil.php
Due: composer-require-checker

10244|feat(session): core session switch to Symfony Session WiP
  ccdaservice/ccda_gateway.php
  interface/forms_admin/forms_admin.php
  interface/globals.php
  interface/main/authorizations/authorizations.php
  interface/main/dated_reminders/dated_reminders.php
  interface/main/main_info.php
  interface/main/messages/messages.php
  interface/modules/custom_modules/oe-module-faxsms/openemr.bootstrap.php
  interface/modules/custom_modules/oe-module-faxsms/src/BootstrapService.php
  library/ajax/dated_reminders_counter.php
  library/ajax/easipro_util.php
  library/ajax/execute_background_services.php
  library/ajax/set_pt.php
  library/ajax/unset_session_ajax.php
  library/ajax/upload.php
  library/auth.inc.php
  library/dated_reminder_functions.php
  library/restoreSession.php
  portal/get_patient_info.php
  portal/lib/doc_lib.php
  portal/lib/paylib.php
  portal/lib/persist.php
  portal/lib/track_portal_events.php
  portal/messaging/handle_note.php
  portal/messaging/messages.php
  portal/messaging/secure_chat.php
  portal/patient/_machine_config.php
  portal/portal_payment.php
  portal/report/document_downloads_action.php
  portal/report/portal_patient_report.php
  sphere/process_response.php
  src/Common/Http/HttpSessionFactory.php
  src/Common/Session/EncounterSessionUtil.php
  src/Common/Session/PHPSessionWrapper.php
  src/Common/Session/PatientSessionUtil.php
  src/Common/Session/SessionUtil.php
  src/Common/Session/SessionWrapperFactory.php
  src/Common/Session/SessionWrapperInterface.php
  src/Common/Session/SymfonySessionWrapper.php
Due: composer-require-checker

chore(rector): fix rector issue
  interface/main/main_screen.php
Due: composer-require-checker

10244|feat(session): handle more files with Symfony Session
  interface/modules/custom_modules/oe-module-prior-authorizations/public/deleter.php
  interface/modules/custom_modules/oe-module-prior-authorizations/public/index.php
  interface/modules/custom_modules/oe-module-prior-authorizations/src/Controller/ListAuthorizations.php
  portal/patient/index.php
  portal/patient/libs/Controller/PatientController.php
  portal/patient/templates/OnsiteActivityViewListView.tpl.php
  portal/patient/templates/_FormsHeader.tpl.php
  portal/patient/templates/_Header.tpl.php
Due: composer-require-checker

10244|feat(session): replacing $_SESSION with SymfonySession WiP
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/AppDispatch.php
  src/Cqm/QrdaControllers/QrdaReportController.php
  src/Cqm/test.php
  src/FHIR/Config/ServerConfig.php
  src/FHIR/SMART/SmartLaunchController.php
  src/Gacl/Gacl.php
  src/Menu/PatientMenuRole.php
  src/OeUI/OemrUI.php
  src/Patient/Cards/CareExperiencePreferenceViewCard.php
  src/Patient/Cards/DemographicsViewCard.php
  src/Patient/Cards/TreatmentPreferenceViewCard.php
  src/Pdf/PatientPortalPDFDocumentCreator.php
  src/RestControllers/FHIR/Operations/FhirOperationDocRefRestController.php
  src/Tabs/TabsWrapper.php
  templates/super/rules/base/template/basic.php
  templates/super/rules/base/template/criteria.php
  templates/super/rules/controllers/edit/diagnosis.php
  tests/Tests/E2e/FaxSmsEmailTest.php
  tests/Tests/RestControllers/FHIR/FhirQuestionnaireResponseRestControllerIntegrationTest.php
  tests/Tests/RestControllers/FHIR/FhirQuestionnaireRestControllerIntegrationTest.php
  tests/Tests/Services/ObservationServiceTest.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

