Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


baseline
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
Due: composer-require-checker

ws
  modules/sms_email_reminder/cron_functions.php
Due: composer-require-checker

Remove completely empty files
  portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
  portal/patient/fwk/libs/verysimple/Phreeze/BladeRenderEngine.php
Due: composer-require-checker

refactor(ci): consolidate PHPCS config into phpcs.xml.dist
  .github/workflows/styling.yml
  .gitignore
  ci/phpcs_src.xml
  ci/phpcs_strict.xml
  composer.json
  phpcs.xml.dist
Due: composer-validate, composer-normalize, composer-require-checker

Twiddle with settings a bit
  composer.json
  phpcs.xml.dist
Due: composer-validate, composer-normalize, composer-require-checker

refactor(tests): improve isolated test suite and remove error_log output (#10575)
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  README-Isolated-Testing.md
  contrib/util/installScripts/InstallerAuto.php
  library/classes/Installer.class.php
  phpunit-isolated.xml
  setup.php
  src/Telemetry/TelemetryService.php
  tests/Tests/Isolated/library/classes/InstallerTest.php
  tests/bootstrap-isolated.php
Due: composer-require-checker

refactor(auth): consolidate base64url encode/decode to HttpUtils (#10543)
  composer.json
  composer.lock
  src/Common/Auth/OpenIDConnect/JWT/RsaSha384Signer.php
  src/Common/Utils/HttpUtils.php
  src/RestControllers/Authorization/OAuth2PublicJsonWebKeyController.php
  src/RestControllers/AuthorizationController.php
Due: composer-validate, composer-normalize, composer-require-checker

feat(about): add event hooks for module content injection
  interface/main/about_page.php
  templates/core/about.html.twig
Due: composer-require-checker

docs(phpcs): add commented example for per-directory rulesets
  phpcs.xml.dist
Due: none

ci(phpcs): add problem matcher for PR file annotations
  .github/problem-matchers/phpcs.json
  .github/workflows/styling.yml
Due: none

test(ci): intentional indentation regression to verify annotations
  src/BC/Database.php
Due: composer-require-checker

Revert "test(ci): intentional indentation regression to verify annotations"
  src/BC/Database.php
Due: composer-require-checker

style(ci): add comment explaining report format choice
  .github/workflows/styling.yml
Due: none

chore(cleanup): Remove completely empty files (#10591)
  portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
  portal/patient/fwk/libs/verysimple/Phreeze/BladeRenderEngine.php
Due: composer-require-checker

refactor(ci): extract common PHP/Composer setup into reusable action (#10576)
  .github/actions/setup-php-composer/action.yml
  .github/workflows/api-docs.yml
  .github/workflows/composer-require-checker.yml
  .github/workflows/composer.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/isolated-tests.yml
  .github/workflows/phpstan.yml
  .github/workflows/rector.yml
  .github/workflows/styling.yml
  .github/workflows/syntax.yml
Due: none

refactor: Continue global function de-duplication (#10588)
  .phpstan/baseline/empty.variable.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  interface/batchcom/batch_phone_notification.php
  interface/forms/LBF/printable.php
  interface/modules/custom_modules/oe-module-faxsms/library/rc_sms_notification.php
  interface/modules/custom_modules/oe-module-faxsms/library/utility.php
  interface/new/new.php
  interface/new/new_comprehensive.php
  interface/patient_file/front_payment.php
  interface/patient_file/pos_checkout_ippf.php
  interface/patient_file/pos_checkout_normal.php
  interface/patient_file/summary/demographics_print.php
  library/global_functions.inc.php
  modules/sms_email_reminder/batch_phone_notification.php
  modules/sms_email_reminder/cron_functions.php
  portal/portal_payment.php
  portal/report/portal_custom_report.php
Due: composer-require-checker

chore(cleanup): Remove legacy de-identification tooling (#10534)
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalKeyword.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/variable.undefined.php
  Documentation/de_identification_readme.txt
  contrib/util/de_identification_upgrade.php
  contrib/util/deidentification/deidentification.php
  interface/de_identification_forms/de_identification_procedure.sh
  interface/de_identification_forms/de_identification_screen1.php
  interface/de_identification_forms/de_identification_screen2.php
  interface/de_identification_forms/find_code_popup.php
  interface/de_identification_forms/find_drug_popup.php
  interface/de_identification_forms/find_immunization_popup.php
  interface/de_identification_forms/re_identification_input_screen.php
  interface/de_identification_forms/re_identification_op_single_patient.php
  interface/de_identification_forms/re_identification_procedure.sh
  interface/globals.php
  interface/main/backup.php
  interface/main/tabs/menu/menus/standard.json
  interface/themes/core/text.scss
  interface/themes/rtl_style_pdf.css
  interface/themes/style_pdf.scss
  sites/default/documents/custom_menus/Custom.json
  sql/database_de_identification.sql
  sql/metadata_de_identification.txt
Due: composer-require-checker

refactor(db): Make QueryUtils the canonical implementation (#10516)
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  library/formdata.inc.php
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

feat(about): add event hooks for module content injection (#10592)
  interface/main/about_page.php
  templates/core/about.html.twig
Due: composer-require-checker

fix(e2e): add fresh session retry when JS fails to initialize after login
  tests/Tests/E2e/Base/BaseTrait.php
  tests/Tests/E2e/Login/LoginTrait.php
Due: composer-require-checker

fix(e2e): add fresh session retry when JS fails to initialize after login (#10595)
  tests/Tests/E2e/Base/BaseTrait.php
  tests/Tests/E2e/Login/LoginTrait.php
Due: composer-require-checker

Remove unused function
  library/sql.inc.php
Due: composer-require-checker

baseline
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
Due: composer-require-checker

refactor(db): Remove generic sql functions (#10519)
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  contrib/util/dupecheck/mergerecords.php
  library/ajax/execute_background_services.php
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
  src/Common/Uuid/UuidRegistry.php
Due: composer-require-checker

refactor(ci): consolidate PHPCS config into phpcs.xml.dist (#10593)
  .github/problem-matchers/phpcs.json
  .github/workflows/styling.yml
  .gitignore
  ci/phpcs.xml
  ci/phpcs_src.xml
  ci/phpcs_strict.xml
  composer.json
  phpcs.xml.dist
Due: composer-validate, composer-normalize, composer-require-checker

refactor(db): Add sqlError property to SqlQueryException
  src/Common/Database/SqlQueryException.php
Due: composer-require-checker

refactor(db): Populate sqlError property in QueryUtils throw sites
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

refactor(db): Use exception sqlError property in sql.inc.php wrappers
  library/sql.inc.php
Due: composer-require-checker

refactor(db): Remove getSqlLastError from FhirExportJobService
  src/Services/FHIR/FhirExportJobService.php
Due: composer-require-checker

refactor(db): Remove getSqlLastError from SQLUpgradeService
  src/Common/Database/QueryUtils.php
  src/Services/Utils/SQLUpgradeService.php
Due: composer-require-checker

refactor(db): Remove getSqlLastError() global function
  .composer-require-checker.json
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

chore: regenerate PHPStan baseline
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
Due: composer-require-checker

fix(db): Stop passing insertNeedReturn=true for all queries
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

fix(security): add guards to prevent direct HTTP access
  interface/forms/care_plan/templates/careplan_actions.php
  interface/forms/phq9/phq9.inc.php
  interface/forms/ros/C_FormROS.class.php
  interface/globals.php
  interface/modules/custom_modules/oe-module-claimrev-connect/src/EligibilityTransfer.php
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/Repository/TeleHealthUserRepository.php
  interface/procedure_tools/gen_universal_hl7/gen_hl7_order.inc.php
  interface/procedure_tools/labcorp/gen_hl7_order.inc.php
Due: composer-require-checker

chore(ci): add script to analyze flaky test patterns
  tools/ci/analyze-flaky-tests.sh
Due: none

fix(payments): add server-side validation for check/reference number
  interface/patient_file/front_payment.php
Due: composer-require-checker

fix(phpstan): update baseline count for front_payment.php
  .phpstan/baseline/variable.undefined.php
Due: composer-require-checker

fix(db): restore insertNeedReturn=true in sqlStatementThrowException
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

refactor(db): use positive $log parameter in QueryUtils::sqlStatement()
  library/sql.inc.php
  src/Common/Database/QueryUtils.php
Due: composer-require-checker

baseline
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
Due: composer-require-checker
