Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

Fixing globalsbag issues
  WARP.md
  admin/index.php
  admin/login.php
Due: composer-require-checker

refactor(validation): consolidate email validation to use ValidationUtils (#10304)
  interface/billing/sl_eob_search.php
  portal/account/account.lib.php
Due: composer-require-checker

refactor: Consolidate IP address validation using filter_var (#10306)
  library/classes/smtp/smtp.php
  src/Common/Utils/ValidationUtils.php
  src/Telemetry/GeoTelemetry.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

fix(security): add OpenEMR sanitizers to Semgrep echoed-request rule
  .github/workflows/semgrep.yml
  semgrep.yaml
Due: none

chore(testing): add composer script for isolated PHPUnit tests
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

fix(security): add OpenEMR sanitizers to Semgrep echoed-request rule (#10316)
  .github/workflows/semgrep.yml
  semgrep.yaml
Due: none

chore(testing): add composer script for isolated PHPUnit tests (#10325)
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

refactor: Consolidate integer validation using ValidationUtils
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  interface/main/calendar/find_appt_popup.php
  interface/main/messages/trusted-messages-ajax.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  library/classes/Document.class.php
  src/Common/Utils/ValidationUtils.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

refactor: Consolidate integer validation using ValidationUtils (#10317)
  .phpstan/baseline/loader.php
  .phpstan/baseline/openemr.forbiddenGlobalsAccess.php
  interface/main/calendar/find_appt_popup.php
  interface/main/messages/trusted-messages-ajax.php
  interface/modules/zend_modules/module/Immunization/src/Immunization/Controller/ImmunizationController.php
  library/classes/Document.class.php
  src/Common/Utils/ValidationUtils.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

refactor: Consolidate float validation using ValidationUtils
  src/Common/Utils/ValidationUtils.php
  src/Services/FHIR/FhirCoverageService.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

Add flag only documented in readme
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

actually send json
  portal/portal_payment.rainforest.js
Due: none

refactor: Consolidate float validation using ValidationUtils (#10318)
  src/Common/Utils/ValidationUtils.php
  src/Services/FHIR/FhirCoverageService.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

start parsing json
  portal/portal_payment.rainforest.php
Due: composer-require-checker

refactor: Consolidate NPI validation using ValidationUtils
  src/Billing/Claim.php
  src/Common/Utils/ValidationUtils.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

Thread metadata through
  portal/portal_payment.rainforest.js
  portal/portal_payment.rainforest.php
  src/PaymentProcessing/Rainforest.php
Due: composer-require-checker

refactor: Consolidate NPI validation using ValidationUtils (#10319)
  src/Billing/Claim.php
  src/Common/Utils/ValidationUtils.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

clean up js
  portal/portal_payment.rainforest.js
Due: none

some notion of format versioning
  src/PaymentProcessing/Rainforest.php
Due: composer-require-checker

Actually wire in the recording processor
  verify.php
Due: composer-require-checker

Basic DTOs
  src/PaymentProcessing/Rainforest/EncounterData.php
  src/PaymentProcessing/Rainforest/Metadata.php
Due: composer-require-checker

start to thread through data format
  src/PaymentProcessing/Rainforest.php
Due: composer-require-checker

refactor: Consolidate postal code validation using ValidationUtils
  src/Common/Utils/ValidationUtils.php
  src/Services/ContactAddressService.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

write using new format during setup
  portal/portal_payment.rainforest.php
Due: composer-require-checker

decode path
  src/PaymentProcessing/Rainforest/EncounterData.php
  src/PaymentProcessing/Rainforest/Metadata.php
Due: composer-require-checker

map parse
  src/PaymentProcessing/Rainforest/Metadata.php
Due: composer-require-checker

Peer review changes. Add env var as const.
  interface/main/tabs/main.php
Due: composer-require-checker

refactor: Consolidate postal code validation using ValidationUtils (#10320)
  src/Common/Utils/ValidationUtils.php
  src/Services/ContactAddressService.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

refactor: Consolidate validations using ValidationUtils
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
  interface/product_registration/product_registration_controller.php
  src/Common/Auth/OpenIDConnect/Entities/UserEntity.php
  src/Common/Auth/OpenIDConnect/FhirUserClaim.php
  src/Common/Utils/NetworkUtils.php
  src/Common/Utils/ValidationUtils.php
  src/Patient/Cards/CareTeamViewCard.php
  src/Services/ContactTelecomService.php
  src/Services/FHIR/Observation/FhirObservationLaboratoryService.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

refactor: Consolidate validations using ValidationUtils (#10321)
  interface/modules/custom_modules/oe-module-comlink-telehealth/src/TelehealthGlobalConfig.php
  interface/product_registration/product_registration_controller.php
  src/Common/Auth/OpenIDConnect/Entities/UserEntity.php
  src/Common/Auth/OpenIDConnect/FhirUserClaim.php
  src/Common/Utils/NetworkUtils.php
  src/Common/Utils/ValidationUtils.php
  src/Patient/Cards/CareTeamViewCard.php
  src/Services/ContactTelecomService.php
  src/Services/FHIR/Observation/FhirObservationLaboratoryService.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

refactor: Consolidate UUID validation using ValidationUtils
  src/Common/Utils/ValidationUtils.php
  src/Common/Uuid/UuidRegistry.php
  src/RestControllers/FHIR/FhirDocumentRestController.php
  tests/Tests/Isolated/Common/Utils/ValidationUtilsIsolatedTest.php
Due: composer-require-checker

minor: possible undefined offset
  src/PaymentProcessing/Recorder.php
Due: composer-require-checker

get into crappy bootstrap process
  verify.php
Due: composer-require-checker

Crappy completion handler
  portal/portal_payment.rainforest.js
Due: none

cleanup
  portal/portal_payment.rainforest.php
Due: composer-require-checker

cleanup
  src/PaymentProcessing/Rainforest.php
Due: composer-require-checker

Get the data saving
  src/PaymentProcessing/Rainforest/Webhooks/RecordPayment.php
Due: composer-require-checker

Prod mode switching
  portal/portal_payment.php
Due: composer-require-checker

fix globals read
  portal/portal_payment.php
Due: composer-require-checker

tidy
  src/PaymentProcessing/Rainforest/Webhooks/RecordPayment.php
Due: composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

