Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

chore(composer): `"ext-posix": "*"` in `require-dev` breaks `composer install` on Windows
  composer.json
  composer.lock
  tests/Tests/Isolated/Console/Command/ShellCommandTest.php
Due: composer-validate, composer-normalize, composer-require-checker

fix doc block
  tests/Tests/Isolated/Console/Command/ShellCommandTest.php
Due: composer-require-checker

test hung
  tests/Tests/Isolated/Console/Command/ShellCommandTest.php
Due: composer-require-checker

chore(composer): ext-posix in `require-dev` breaks `composer install` on Windows (#12566)
  composer.json
  composer.lock
  tests/Tests/Isolated/Console/Command/ShellCommandTest.php
Due: composer-validate, composer-normalize, composer-require-checker

whitespace and style
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/EtherFaxActions.php
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/SignalWireClient.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/SignalWire/Rest/Client.php
  interface/modules/custom_modules/oe-module-faxsms/src/RestClient/Twilio/Rest/Client.php
Due: composer-require-checker

eof
  interface/modules/custom_modules/oe-module-faxsms/src/Controller/TwilioSMSClient.php
Due: composer-require-checker

fix(contrib): repair trailing comma in Pain_Initial_Assessment.json
  .pre-commit-config.yaml
  contrib/portal_templates/assessments/SDC FHIR/Pain_Initial_Assessment.json
Due: none

style(yaml): apply pretty-format-yaml across repo-owned configs
  .github/actions/setup-php-composer/action.yml
  .github/stale.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test-frontcontroller.yml
  .github/workflows/weekly-build-php-fpm-dockers.yml
  ci/apache_82_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_tls/docker-compose.yml
  ci/compose-shared-redis-sentinel/docker-compose.yml
  ci/inferno/test_configs/standalone-full-access.yml
Due: none

fix(contrib): repair trailing comma in Pain_Initial_Assessment.json (#12570)
  .pre-commit-config.yaml
  contrib/portal_templates/assessments/SDC FHIR/Pain_Initial_Assessment.json
Due: none

style(yaml): apply pretty-format-yaml across repo-owned configs (#12571)
  .github/actions/setup-php-composer/action.yml
  .github/stale.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test-frontcontroller.yml
  .github/workflows/weekly-build-php-fpm-dockers.yml
  ci/apache_82_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_mtls/docker-compose.yml
  ci/apache_85_118_redis_sentinel_tls/docker-compose.yml
  ci/compose-shared-redis-sentinel/docker-compose.yml
  ci/inferno/test_configs/standalone-full-access.yml
Due: none

style(pre-commit): split pretty-format-json into per-ecosystem 2-space/4-space blocks
  .composer-require-checker.json
  .github/problem-matchers/php-syntax.json
  .github/problem-matchers/phpcs.json
  .pre-commit-config.yaml
  .stylelintrc.json
  ccdaservice/oe-blue-button-generate/package.json
  ccdaservice/oe-blue-button-meta/package.json
  ccdaservice/oe-blue-button-util/package.json
  ccdaservice/package.json
  ccdaservice/packages/oe-cqm-service/package.json
  interface/main/tabs/menu/menus/answering_service.json
  interface/main/tabs/menu/menus/chart_review.json
  interface/main/tabs/menu/menus/front_office.json
  interface/main/tabs/menu/menus/patient_menus/standard.json
  interface/main/tabs/menu/menus/standard.json
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/package.json
  interface/modules/custom_modules/oe-module-ehi-exporter/composer.json
  interface/modules/custom_modules/oe-module-faxsms/composer.json
  interface/modules/custom_modules/oe-module-weno/composer.json
  public/smart-styles/smart-light.json
Due: none

style(pre-commit): split pretty-format-json into per-ecosystem 2-space/4-space blocks (#12573)
  .composer-require-checker.json
  .github/problem-matchers/php-syntax.json
  .github/problem-matchers/phpcs.json
  .pre-commit-config.yaml
  .stylelintrc.json
  ccdaservice/oe-blue-button-generate/package.json
  ccdaservice/oe-blue-button-meta/package.json
  ccdaservice/oe-blue-button-util/package.json
  ccdaservice/package.json
  ccdaservice/packages/oe-cqm-service/package.json
  interface/main/tabs/menu/menus/answering_service.json
  interface/main/tabs/menu/menus/chart_review.json
  interface/main/tabs/menu/menus/front_office.json
  interface/main/tabs/menu/menus/patient_menus/standard.json
  interface/main/tabs/menu/menus/standard.json
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/package.json
  interface/modules/custom_modules/oe-module-ehi-exporter/composer.json
  interface/modules/custom_modules/oe-module-faxsms/composer.json
  interface/modules/custom_modules/oe-module-weno/composer.json
  public/smart-styles/smart-light.json
Due: none

ci(pre-commit): broaden workflow to validate every upstream hook on --all-files
  .github/workflows/pre-commit.yml
Due: none

fix(custom_menus): apply 4-space pretty-format-json that PR #12573 missed
  sites/default/documents/custom_menus/Custom.json
  sites/default/documents/custom_menus/patient_menus/Custom.json
Due: none

ci(pre-commit): broaden workflow to validate every upstream hook on --all-files (#12574)
  .github/workflows/pre-commit.yml
  sites/default/documents/custom_menus/Custom.json
  sites/default/documents/custom_menus/patient_menus/Custom.json
Due: none

refactor(ci): externalize byte-identical FILES_ALL to a dedicated config file
  .github/docker-byte-identical.yml
  .github/workflows/docker-validate-byte-identical.yml
Due: none

refactor(ci): fail closed when byte-identical FILES_ALL is empty
  .github/workflows/docker-validate-byte-identical.yml
Due: none

fix tests for phpstan
  tests/Tests/Isolated/Modules/FaxSMS/Controller/SignalWireRestClientTest.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/TwilioRestClientTest.php
Due: composer-require-checker

docs(ci): note canary + config file move as a pair to any future home
  .github/workflows/docker-validate-byte-identical.yml
Due: none

rector
  tests/Tests/Isolated/Modules/FaxSMS/Controller/TwilioRestClientTest.php
Due: composer-require-checker

Last stan fixes.
  tests/Tests/Isolated/Modules/FaxSMS/Controller/SignalWireRestClientTest.php
  tests/Tests/Isolated/Modules/FaxSMS/Controller/TwilioRestClientTest.php
Due: composer-require-checker

refactor(ci): externalize byte-identical FILES_ALL to a dedicated config file (#12575)
  .github/docker-byte-identical.yml
  .github/workflows/docker-validate-byte-identical.yml
Due: none

refactor(ci): trim docker/.gitignore + docker/COVERAGE.md from byte-identical set
  .github/docker-byte-identical.yml
  docs/docker-migration-from-devops.md
Due: none

refactor(ci): trim docker/.gitignore + docker/COVERAGE.md from byte-identical set (#12576)
  .github/docker-byte-identical.yml
  docs/docker-migration-from-devops.md
Due: none

feat(ci): auto-sync byte-identical files from master to rel branches
  .github/workflows/sync-byte-identical.yml
  docker/README.md
  docs/docker-migration-from-devops.md
Due: none

refactor(ci): narrow auto-sync workflow's App token + checkout credentials
  .github/workflows/sync-byte-identical.yml
Due: none

refactor(ci): validate FILES_ALL config in both canary and auto-sync
  .github/workflows/docker-validate-byte-identical.yml
  .github/workflows/sync-byte-identical.yml
Due: none

test(insurance): key phone-row assertions by PhoneType instead of array index
  tests/Tests/Services/InsuranceCompanyServiceTest.php
  tests/Tests/Services/PharmacyPersistTest.php
Due: composer-require-checker

fix(insurance): clear phone_numbers before re-insert in legacy persist
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
  sql/8_1_0-to-8_1_1_upgrade.sql
  tests/Tests/Services/InsuranceCompanyServiceTest.php
  tests/Tests/Services/PharmacyPersistTest.php
Due: composer-require-checker

fix(insurance): wrap persist() in a transaction so a mid-loop failure rolls back
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
Due: composer-require-checker

fix(db): bump v_database 540 to 541 for the phone_numbers dedup migration
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  version.php
Due: composer-require-checker

feat(ci): auto-sync byte-identical files from master to rel branches (#12577)
  .github/workflows/docker-validate-byte-identical.yml
  .github/workflows/sync-byte-identical.yml
  docker/README.md
  docs/docker-migration-from-devops.md
Due: none

refactor(ci): extract sync-byte-identical bash into a tested script
  .github/scripts/README.md
  .github/scripts/sync-byte-identical.sh
  .github/scripts/tests/helpers.sh
  .github/scripts/tests/run-tests.sh
  .github/scripts/tests/test-sync-byte-identical.sh
  .github/workflows/sync-byte-identical.yml
  .github/workflows/test-byte-identical-scripts.yml
Due: none

fix(insurance): clear phone_numbers before re-insert in legacy persist + cleanup migration (#12538)
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
  sql/8_1_0-to-8_1_1_upgrade.sql
  sql/database.sql
  tests/Tests/Services/InsuranceCompanyServiceTest.php
  tests/Tests/Services/PharmacyPersistTest.php
  version.php
Due: composer-require-checker

fix(persist): skip phones the legacy parts schema cannot represent (insurance + pharmacy) (#12529)
  library/classes/InsuranceCompany.class.php
  library/classes/Pharmacy.class.php
  tests/Tests/Services/InsuranceCompanyServiceTest.php
  tests/Tests/Services/PharmacyPersistTest.php
Due: composer-require-checker

feat(insurance): client-side phone/fax validation on insurance + pharmacy edit forms (#12534)
  templates/insurance_companies/general_edit.html
  templates/pharmacies/general_edit.html
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

