Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

composer-validate:
  name: Validate composer.json
  entry: composer validate --strict
  language: system
  pass_filenames: false

composer-normalize:
  name: Normalize composer.json
  entry: composer normalize
  language: system
  pass_filenames: false

composer-require-checker:
  name: Composer Require Checker
  entry: composer run-script require-checker
  language: system
  pass_filenames: false

ci(release-permissions-check): probe statuses:write
  .github/workflows/release-permissions-check.yml
Due: none

fix(reports): remove unsupported twig max/min filters
  templates/reports/email/queue.html.twig
Due: none

fix(tests): path typo in email readme
  tests/Tests/E2e/Email/README.md
Due: none

ci(release-permissions-check): probe statuses:write (#13120)
  .github/workflows/release-permissions-check.yml
Due: none

ci(docker): sync byte-identical files from master (64e49e358fe217a9a1f928368e37f1e668815bab)
  .github/workflows/release-permissions-check.yml
Due: none

fix(reports): resolve phpstan typing issues in email queue flow
  interface/reports/email_queue_detail.php
  interface/reports/email_queue_report.php
  src/Reports/Email/EmailQueueService.php
Due: composer-require-checker

chore: remove unused php 7 polyfill
  .phpstan/baseline/missingType.parameter.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  library/edihistory/edih_csv_inc.php
Due: composer-require-checker

fix(tests): path typo in email readme (#13122)
  tests/Tests/E2e/Email/README.md
Due: none

fix(edi): change int to float before rounding
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/offsetAccess.notFound.php
  library/edihistory/edih_835_html.php
Due: composer-require-checker

chore: pre-auth cleanups
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/openemr.deprecatedSqlFunction.php
  .phpstan/baseline/openemr.forbiddenRequestGlobals.php
  admin.php
  interface/globals.php
  src/RestControllers/AuthorizationController.php
Due: composer-require-checker

fix(release): summary.php works with empty milestone; port missing checklist templates
  tests/Tests/Isolated/Release/SummaryCliTest.php
  tools/release/bin/summary.php
  tools/release/templates/full-checklist.md
  tools/release/templates/patch-checklist.md
Due: composer-require-checker

chore: remove unused php 7 polyfill (#13123)
  .phpstan/baseline/missingType.parameter.php
  .phpstan/baseline/missingType.return.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  library/edihistory/edih_csv_inc.php
Due: composer-require-checker

chore(edihistory): remove unused csv_array_flatten
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/missingType.iterableValue.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/return.type.php
  library/edihistory/edih_csv_inc.php
Due: composer-require-checker

fix: add missing svcpmt key to acctng initializer, drop dead is_array check
  library/edihistory/edih_835_html.php
Due: composer-require-checker

fix(edi): count() is always true
  .phpstan/baseline/booleanAnd.rightAlwaysTrue.php
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/offsetAccess.notFound.php
  library/edihistory/edih_835_html.php
Due: composer-require-checker

fix(release): summary.php works with empty milestone; port missing checklist templates (#13126)
  tests/Tests/Isolated/Release/SummaryCliTest.php
  tools/release/bin/summary.php
  tools/release/templates/full-checklist.md
  tools/release/templates/patch-checklist.md
Due: composer-require-checker

ci(docker): sync byte-identical files from master (69215c236df8dcb03a59938cefb89dd063dbf2bf)
  tests/Tests/Isolated/Release/SummaryCliTest.php
  tools/release/bin/summary.php
  tools/release/templates/full-checklist.md
  tools/release/templates/patch-checklist.md
Due: composer-require-checker

fix(edi): every is a non-empty array
  .phpstan/baseline/booleanAnd.alwaysFalse.php
  .phpstan/baseline/booleanAnd.rightAlwaysTrue.php
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/if.alwaysTrue.php
  library/edihistory/edih_835_html.php
Due: composer-require-checker

chore(edihistory): remove unused csv_array_flatten (#13127)
  .phpstan/baseline/function.alreadyNarrowedType.php
  .phpstan/baseline/missingType.iterableValue.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  .phpstan/baseline/return.type.php
  library/edihistory/edih_csv_inc.php
Due: composer-require-checker

fix(reports): openemr-cmd psg
  .phpstan/baseline/loader.php
  .phpstan/baseline/staticMethod.alreadyNarrowedType.php
Due: composer-require-checker

test(release): CLI argument-shell coverage for 7 remaining bin scripts
  tests/Tests/Isolated/Release/CreateTagCliTest.php
  tests/Tests/Isolated/Release/DispatchCliTest.php
  tests/Tests/Isolated/Release/PackageAssembleCliTest.php
  tests/Tests/Isolated/Release/PatchAssembleCliTest.php
  tests/Tests/Isolated/Release/PreflightCliTest.php
  tests/Tests/Isolated/Release/ShipReleaseCliTest.php
  tests/Tests/Isolated/Release/VerifyTagCliTest.php
Due: composer-require-checker

chore(edihistory): remove unused edih_change_loop
  .phpstan/baseline/cast.string.php
  .phpstan/baseline/missingType.parameter.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  library/edihistory/edih_segments.php
Due: composer-require-checker

fix(reports): openemr-cmd pf
  interface/reports/email_queue_detail.php
  interface/reports/email_queue_report.php
  src/Reports/Email/EmailQueueService.php
  tests/Tests/Services/Email/EmailQueueServiceTest.php
Due: composer-require-checker

chore(edihistory): remove unused edih_change_loop (#13131)
  .phpstan/baseline/cast.string.php
  .phpstan/baseline/missingType.parameter.php
  .phpstan/baseline/openemr.noGlobalNsFunctions.php
  library/edihistory/edih_segments.php
Due: composer-require-checker

test(release): replace external-failure asserts with deterministic local errors
  tests/Tests/Isolated/Release/CreateTagCliTest.php
  tests/Tests/Isolated/Release/DispatchCliTest.php
  tests/Tests/Isolated/Release/PatchAssembleCliTest.php
  tests/Tests/Isolated/Release/ShipReleaseCliTest.php
Due: composer-require-checker

fix(edi): use cents to determine balancing
  library/edihistory/edih_835_html.php
Due: composer-require-checker

fix(api): serialize empty OpenAPI security requirements as arrays
  src/Common/Command/CreateAPIDocumentationCommand.php
  src/RestControllers/EncounterRestController.php
  src/RestControllers/FHIR/FhirAppointmentRestController.php
  src/RestControllers/OpenApi/OpenApiDefinitions.php
  src/RestControllers/PatientRestController.php
  swagger/openemr-api.yaml
  tests/Tests/Isolated/SwaggerSpecConformanceTest.php
Due: composer-require-checker

test(release): CLI argument-shell coverage for 7 remaining bin scripts (#13132)
  tests/Tests/Isolated/Release/CreateTagCliTest.php
  tests/Tests/Isolated/Release/DispatchCliTest.php
  tests/Tests/Isolated/Release/PackageAssembleCliTest.php
  tests/Tests/Isolated/Release/PatchAssembleCliTest.php
  tests/Tests/Isolated/Release/PreflightCliTest.php
  tests/Tests/Isolated/Release/ShipReleaseCliTest.php
  tests/Tests/Isolated/Release/VerifyTagCliTest.php
Due: composer-require-checker

ci(docker): sync byte-identical files from master (e41da11b031576153bcce1ac9ec59ea35478cb7b)
  tests/Tests/Isolated/Release/CreateTagCliTest.php
  tests/Tests/Isolated/Release/DispatchCliTest.php
  tests/Tests/Isolated/Release/PackageAssembleCliTest.php
  tests/Tests/Isolated/Release/PatchAssembleCliTest.php
  tests/Tests/Isolated/Release/PreflightCliTest.php
  tests/Tests/Isolated/Release/ShipReleaseCliTest.php
  tests/Tests/Isolated/Release/VerifyTagCliTest.php
Due: composer-require-checker

fix(api): remove a duplicate _lastUpdated query parameter
  src/RestControllers/FHIR/FhirImmunizationRestController.php
Due: composer-require-checker

Potential fix for pull request finding
  src/Reports/Email/EmailQueueService.php
Due: composer-require-checker

Set up the extension, update PHPStan to latest
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-require-checker

chore(api): regenerate the OpenAPI specification
  swagger/openemr-api.yaml
Due: none

fix(api): correct response shapes, detailed schemas, and patient path parameters
  src/RestControllers/AllergyIntoleranceRestController.php
  src/RestControllers/AppointmentRestController.php
  src/RestControllers/ConditionRestController.php
  src/RestControllers/DocumentRestController.php
  src/RestControllers/DrugRestController.php
  src/RestControllers/EmployerRestController.php
  src/RestControllers/EncounterRestController.php
  src/RestControllers/FacilityRestController.php
  src/RestControllers/ImmunizationRestController.php
  src/RestControllers/InsuranceCompanyRestController.php
  src/RestControllers/InsuranceRestController.php
  src/RestControllers/ListRestController.php
  src/RestControllers/MessageRestController.php
  src/RestControllers/OpenApi/OpenApiDefinitions.php
  src/RestControllers/PatientRestController.php
  src/RestControllers/PractitionerRestController.php
  src/RestControllers/PrescriptionRestController.php
  src/RestControllers/ProcedureRestController.php
  src/RestControllers/ProductRegistrationRestController.php
  src/RestControllers/TransactionRestController.php
  src/RestControllers/UserRestController.php
  src/RestControllers/VersionRestController.php
  tests/Tests/Isolated/SwaggerSpecConformanceTest.php
Due: composer-require-checker

fix(api): annotate created responses as 201 and complete the patient example
  src/RestControllers/AllergyIntoleranceRestController.php
  src/RestControllers/ConditionRestController.php
  src/RestControllers/EncounterRestController.php
  src/RestControllers/FacilityRestController.php
  src/RestControllers/InsuranceCompanyRestController.php
  src/RestControllers/ListRestController.php
  src/RestControllers/MessageRestController.php
  src/RestControllers/PatientRestController.php
  src/RestControllers/PractitionerRestController.php
  src/RestControllers/TransactionRestController.php
  swagger/openemr-api.yaml
Due: composer-require-checker

fix(api): treat the employer and insurance collection reads as multi-result
  src/RestControllers/EmployerRestController.php
  src/RestControllers/InsuranceRestController.php
  swagger/openemr-api.yaml
Due: composer-require-checker

docs(release): retarget devops->openemr for canonical ownership post-Phase-6
  docs/RELEASE_PROCESS.md
Due: none

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

