Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


chore(phpstan): regenerate baseline after rebase
  .phpstan/baseline/deadCode.unreachable.php
Due: composer-require-checker

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fix(security): validate formdir before using in include paths
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
  interface/patient_file/encounter/cash_receipt.php
  library/report.inc.php
  src/Common/Filesystem/SafeIncludeResolver.php
  tests/Tests/Isolated/Common/Filesystem/SafeIncludeResolverTest.php
Due: composer-require-checker

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fix(security): validate formdir before using in include paths
  src/Common/Filesystem/SafeIncludeResolver.php
  src/Services/Background/BackgroundServiceRunner.php
  tests/Tests/Isolated/Common/Filesystem/SafeIncludeResolverTest.php
  tests/Tests/Isolated/Services/Background/BackgroundServiceRunnerTest.php
Due: composer-require-checker

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fix(security): validate formdir before using in include paths
  tests/Tests/Isolated/Common/Filesystem/SafeIncludeResolverTest.php
Due: composer-require-checker

fix(documents): view document from past encounters for rel-800 (#11485)
  interface/forms/eye_mag/js/eye_base.php
  interface/patient_file/history/encounters.php
Due: composer-require-checker

Avoid redundant dev autoloader defs
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Exit unclean on test bootstrap failure
  tests/bootstrap.php
Due: composer-require-checker

Add a shutdown hook
  phpunit.xml
  tests/PHPUnit/Extension.php
  tests/PHPUnit/ShutdownTracker.php
Due: composer-require-checker

Turn it on
  phpunit-isolated.xml
  phpunit.integration.xml
  phpunit.xml
Due: none

Headers and stuff
  tests/PHPUnit/Extension.php
  tests/PHPUnit/ShutdownTracker.php
Due: composer-require-checker

spellcheck
  tests/PHPUnit/ShutdownTracker.php
Due: composer-require-checker

ci(test): include composer.json in vendor cache key
  .github/workflows/test.yml
Due: none

rector
  tests/PHPUnit/ShutdownTracker.php
Due: composer-require-checker

ci(inferno-test): include composer.json in vendor cache key
  .github/workflows/inferno-test.yml
Due: none

test(phpunit): failOnPhpunitWarning so extension bootstrap failures exit nonzero
  phpunit-isolated.xml
  phpunit.integration.xml
  phpunit.xml
Due: none

Revert "Avoid redundant dev autoloader defs"
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

Revert "ci(test): include composer.json in vendor cache key"
  .github/workflows/test.yml
Due: none

Revert "ci(inferno-test): include composer.json in vendor cache key"
  .github/workflows/inferno-test.yml
Due: none

fix(calendar): guard the second strtotime() against returning false
  portal/add_edit_event_user.php
Due: composer-require-checker

Add another safety net?
  tests/PHPUnit/Extension.php
  tests/bootstrap.php
Due: composer-require-checker

Genericize autoload
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

include servicetype
  tests/Tests/E2e/NotificationCronEmailTest.php
Due: composer-require-checker

Try to figure out what's failing
  src/Common/Acl/AccessDeniedHelper.php
Due: composer-require-checker

feat(phpstan): forbid exit/die inside catch or finally blocks
  .phpstan/extension.neon
  tests/PHPStan/Rules/ForbiddenExitInCatchFinallyRule.php
Due: composer-require-checker

feat(phpstan): forbid catching Throwable or Error
  .phpstan/extension.neon
  tests/PHPStan/Rules/ForbiddenCatchTypeRule.php
Due: composer-require-checker

fix(xml): remove redundant (string) cast on already-typed parameter
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncountermanagerTable.php
Due: composer-require-checker

fix(xml): address review feedback — clear error buffer, fix docblock, restore CDA logging
  src/Common/Utils/XmlUtils.php
  src/Services/CDADocumentService.php
  tests/Tests/Unit/Common/Utils/XmlUtilsTest.php
Due: composer-require-checker

test(faxsms): skip FaxSmsEmailTest until AppDispatch ctor is split
  tests/Tests/E2e/FaxSmsEmailTest.php
Due: composer-require-checker

test(faxsms): set oe_enable_email in globals bag for notification cron test
  tests/Tests/E2e/NotificationCronEmailTest.php
Due: composer-require-checker

test(xml): use temp file with sentinel for portable XXE test
  tests/Tests/Unit/Common/Utils/XmlUtilsTest.php
Due: composer-require-checker

refactor(phpstan): drive forbidden catch types from a list (Error, ErrorException)
  tests/PHPStan/Rules/ForbiddenCatchTypeRule.php
Due: composer-require-checker

test(faxsms): skip NotificationCronEmailTest until module schema is wired up
  tests/Tests/E2e/NotificationCronEmailTest.php
Due: composer-require-checker

Remove debug
  src/Common/Acl/AccessDeniedHelper.php
Due: composer-require-checker

Baseline dead code warnings, it's the nature of skips
  .phpstan/baseline/binaryOp.invalid.php
  .phpstan/baseline/deadCode.unreachable.php
  .phpstan/baseline/property.onlyWritten.php
Due: composer-require-checker

fix(ci): match runner Node version to nginx container (Node 24)
  ci/nginx_82/docker-compose.yml
  ci/nginx_83/docker-compose.yml
  ci/nginx_84/docker-compose.yml
  ci/nginx_85/docker-compose.yml
  ci/nginx_86/docker-compose.yml
  ci/parse_docker_dir.sh
Due: none

test(email): skip direct and queue-templated deliver tests
  tests/Tests/E2e/EmailTestServiceTest.php
Due: composer-require-checker
