Repository openemr/openemr: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-require-checker

Path conditions:
  composer-validate: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-normalize: any of: ^composer\.json$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)

  composer-require-checker: any of: ^(composer\.json|.*\.(php|inc))$, but not: (?x)^(
  # Lock files (generated)
  (.*/)?(composer\.lock|package-lock\.json)$|
  # Minified files and source maps
  .*[.\-]min\.(js|css)$|
  .*\.(js|css)\.map$|
  # Vendored/generated third-party code (alphabetized)
  Documentation/EHI_Export/|
  gacl/|
  interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
  interface/forms/questionnaire_assessments/lforms/|
  interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
  interface/modules/zend_modules/public/js/lib/|
  interface/modules/zend_modules/public/xsd/|
  interface/modules/zend_modules/public/xsl/|
  interface/super/rules/www/js/cdr-multiselect/|
  library/classes/fpdf/|
  library/fonts/|
  library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
  library/smarty_legacy/|
  public/assets/modified/|
  swagger/
)


test: update SMARTSessionTokenContext assertion to 'exception' key
  tests/Tests/Common/Auth/OpenIDConnect/SMARTSessionTokenContextIntegrationTest.php
Due: composer-require-checker

refactor(oauth): redact SMART launch token from error log
  src/Common/Auth/OpenIDConnect/Grant/CustomAuthCodeGrant.php
Due: composer-require-checker

refactor: address self-review on #11813
  .phpstan/baseline/empty.notAllowed.php
  .phpstan/baseline/openemr.exitInCatchOrFinally.php
  interface/patient_file/pos_checkout_ippf.php
  interface/patient_file/report/custom_report.php
  tests/Tests/Isolated/Common/Utils/NumberToTextTest.php
Due: composer-require-checker

ci(phpstan): add composer phpstan-baseline-reset to wipe and rebuild
  .phpstan/README.md
  .phpstan/reset-baseline.php
  composer.json
Due: composer-validate, composer-normalize, composer-require-checker

refactor(globals): rename 'Default Password Expiration Days' to 'Password Expiration Days'
  library/globals.inc.php
Due: composer-require-checker

style(flow-board): use Bootstrap ml-1 for lock icon spacing
  interface/patient_tracker/patient_tracker.php
Due: composer-require-checker

fix(phpstan): address self-review follow-ups
  interface/main/messages/save.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
  interface/patient_file/report/custom_report.php
Due: composer-require-checker

fix(background-services): isolate run-all-due behind subprocess boundary
  src/Common/Command/BackgroundServicesCommand.php
  src/Services/Background/BackgroundServiceProcessSpawner.php
  src/Services/Background/BackgroundServiceRunner.php
  src/Services/Background/SymfonyBackgroundServiceSpawner.php
  tests/Tests/Isolated/Common/Command/BackgroundServicesCommandTest.php
  tests/Tests/Isolated/Services/Background/BackgroundServiceRunnerTest.php
  tests/Tests/Isolated/Services/Background/SymfonyBackgroundServiceSpawnerTest.php
Due: composer-require-checker

fix(background-services): harden subprocess spawner per review
  src/Services/Background/BackgroundServiceProcessSpawner.php
  src/Services/Background/BackgroundServiceRunner.php
  src/Services/Background/SymfonyBackgroundServiceSpawner.php
  tests/Tests/Isolated/Services/Background/BackgroundServiceRunnerTest.php
  tests/Tests/Isolated/Services/Background/SymfonyBackgroundServiceSpawnerTest.php
Due: composer-require-checker

fix(background-services): cap child output buffer and sanitize log fields
  src/Services/Background/SymfonyBackgroundServiceSpawner.php
  tests/Tests/Isolated/Services/Background/SymfonyBackgroundServiceSpawnerTest.php
Due: composer-require-checker

test(background-services): spawner tests using a real PHP child
  tests/Tests/Isolated/Services/Background/SymfonyBackgroundServiceSpawnerPhpChildTest.php
Due: composer-require-checker

fix(background-services): add orchestrator lock and nonce verification
  src/Common/Command/BackgroundServicesCommand.php
  src/Services/Background/BackgroundServiceRunner.php
  src/Services/Background/SymfonyBackgroundServiceSpawner.php
  tests/Tests/Isolated/Common/Command/BackgroundServicesCommandTest.php
  tests/Tests/Isolated/Services/Background/BackgroundServiceRunnerTest.php
  tests/Tests/Isolated/Services/Background/SymfonyBackgroundServiceSpawnerTest.php
Due: composer-require-checker

refactor(ccda): replace manual comma-join with implode
  .phpstan/baseline/assignOp.invalid.php
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

style(ccda): drop comment about removed WIP branches
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

test(background-services): cover remaining branches flagged by codecov
  tests/Tests/Isolated/Services/Background/BackgroundServiceRunnerTest.php
  tests/Tests/Isolated/Services/Background/SymfonyBackgroundServiceSpawnerTest.php
Due: composer-require-checker

refactor(ccda): implode field list; heredoc the LBF query
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

style(ccda): uppercase SQL keywords in LBF query
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

style(ccda): one SQL clause per line in LBF query
  interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php
Due: composer-require-checker

perf(flow-board): batch-load locked encounters instead of per-row query
  interface/patient_tracker/patient_tracker.php
Due: composer-require-checker

refactor(custom_report): drop pointless catch-and-rethrow
  .phpstan/baseline/class.notFound.php
  interface/patient_file/report/custom_report.php
Due: composer-require-checker

Mark two defensive areas as coverage ignore
  src/Services/Storage/CacheDirectory.php
Due: composer-require-checker

docs(flow-board): add Sherwin Gaddis to patient_tracker.php header
  interface/patient_tracker/patient_tracker.php
Due: composer-require-checker

fix(ci): connect to mysql container host in configure_api_globals
  ci/inferno/run.sh
Due: none

Baselines fixed
  .phpstan/baseline/missingType.return.php
Due: composer-require-checker

refactor(storage): use CacheDirectory for temp paths
  interface/main/calendar/modules/PostCalendar/pcSmarty.class.php
  library/classes/Controller.class.php
  src/Pdf/Config_Mpdf.php
Due: composer-require-checker

ci(inferno): add debug job to isolate FHIR 500 errors
  .github/workflows/inferno-test.yml
Due: none

refactor(storage): use CacheDirectory in remaining files
  gacl/admin/gacl_admin.inc.php
  interface/modules/zend_modules/module/PrescriptionTemplates/src/PrescriptionTemplates/Controller/PdfTemplatesController.php
  interface/procedure_tools/libs/labs_ajax.php
Due: composer-require-checker

set env for job
  .github/workflows/inferno-test.yml
Due: none

phpcs
  interface/procedure_tools/libs/labs_ajax.php
Due: composer-require-checker

fix(bootstrap): replace die() with exception for missing session site_id
  interface/globals.php
  src/Common/System/MissingSiteIdException.php
Due: composer-require-checker

fixup! fixup! fix(bootstrap): replace die() with exception for missing session site_id
  src/Common/System/MissingSiteIdException.php
Due: composer-require-checker

Fix args
  src/Common/System/MissingSiteException.php
Due: composer-require-checker

Change MissingSiteException to build on symfony extension so it's handled by system handler
  src/Common/System/MissingSiteException.php
  src/Common/System/MissingSiteIdException.php
Due: composer-require-checker

fixup! fix(bootstrap): replace die() with exception for missing session site_id
  interface/globals.php
Due: composer-require-checker

ci(inferno): add minimal compose for bare-metal testing
  ci/inferno/compose.bare-metal.yml
Due: none

ci(inferno): replace debug job with bare-metal Inferno setup
  .github/workflows/inferno-test.yml
Due: none

fix(inferno): nginx depends_on inferno
  ci/inferno/compose.bare-metal.yml
Due: none

fix(inferno): use run instead of exec for migrate
  .github/workflows/inferno-test.yml
Due: none
